-##
-# Panel
-#
-# @usage
-# -# Panel
-# = codeBlender "panel", "molecule", { body: "Body" }
-#
-# @param body
-# @param bodyClass
-# @param context
-# @param collapse
-# @param extraClass
-# @param footer
-# @param heading
-# @param image
-# @param table
-# @param tools
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Variable
- heading = locals[ :heading ]

-# ExtraClass
- classes = locals[ :extraClass ] ? extraClass : ""

-# Context
- classes += locals[ :context ] ? " panel-#{ context }" : " panel-default"

-# Panel
.panel{ class: classes }

    -# Heading
    - if locals[ :heading ]

        -# Panel heading
        .panel-heading{ class: heading[ :extraClass ] ? heading[ :extraClass ] : false }

            -# Check if tools are required
            -# This includes expanding and panel Refresh
            - if locals[ :tools ]

                -# Tools
                .tools

                    -# Expand
                    = link_to( "javascript:;", class: "toggle" ) do

                        -# Icon
                        = codeBlender "icon", "atom", { icon: "fa-caret-down" }

            -# Image Check to see if Heading is an image
            - if heading[ :image ]
                = codeBlender "image", "atom", heading[ :image ]

                -# Heading Text
            - else

                -# Default to H3 Tag unless specified
                - if ! heading[ :tag ]
                    - heading[ :tag ] = "h3"

                -# Heading
                - heading[ :extraClass ] = "panel-title"
                = codeBlender "heading", "molecule", heading

    -# Hidden
    .content{ class: locals[ :collapse ] ? "collapse" : false }

        -# Body
        - if locals[ :body ]

            -# Panel Body
            .panel-body{ class: locals[ :bodyClass ] ? bodyClass : false }= string( body )

        -# Table
        - if locals[ :table ]
            = string table

        -# Footer
        - if locals[ :footer ]
            .panel-footer= string footer