---

description : "Panel"
title       : "Panel"

see :
    - - "Bootstrap Panel"
      - "http://getbootstrap.com/components/#panels"

todo :
    - - "Bootstrap 4 removes the panel for card"
    - - "Header bar should have a collapsible element to the left hand side"
    - - "Look at integration with tables and lists"
    - - "BEM the HTML and CSS"
    - - "Use icon partial in here"
    - - "Probably can remove the table element for extraContent or simply pull in another partial that should be created"

---

-# Default
:ruby
    code = %{codeBlender "panel", "molecule", { body: "Body" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Full Panel
:ruby
    code = %{codeBlender "panel", "molecule", { body:    "Body",
                                context: "primary",
                                footer:  "Footer",
                                heading: { text: "Heading", tag: "h3" },
                                tools:   true }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Contains the Tools also", text: "Full Panel" } }

-# Panel with Image as Heading
:ruby
    code = %{codeBlender "panel", "molecule", { body:    "Body",
                                context: "primary",
                                footer:  "Footer",
                                heading: { extraClass: "text-center", image: { data: holder( "300x40" ) } },
                                tools:   true }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Panel with Image Heading" } }

-# Panel with HTML Body Copy
- @captureHTML = capture_html do

    %p Choose Provider

    -# Button
    = codeBlender "button", "atom", { text: "Primary", context: "primary" }

:ruby
    code = %{codeBlender "panel", "molecule", { body:    [ @captureHTML ],
                                context: "primary",
                                footer:  "Footer",
                                heading: { text: "Heading", tag: "h3" },
                                tools:   true }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Panel with HTML Body" } }