-##
-# Label
-#
-# @usage
-# -# Label
-# = partial "./atom/label/label", locals: { context: "info", content: article.date.strftime( '%b %e' ) }
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- extraClass = "label"

-# Context
- if locals[ :context ]
    - extraClass += " label-" + locals[ :context ]
- else
    - extraClass += " label-default"

-# Capture HTML
- captureHTML = capture_html do

    -# Icon
    - if locals[ :icon ]

        -# Icon
        = partial "./atom/icon/icon", locals: { icon: locals[ :icon ] }

    -# Content
    = string locals[ :content ]

-# Link
- if locals[ :href ]
    = link_to( locals[ :href ], class: extraClass, itemprop: locals[ :itemprop ] ? itemprop : false ) do
        = captureHTML

    -# Span
- else

    %span{ class: extraClass }= captureHTML