-##
-# Blog detail
-#
-# @usage
-# -# Blog detail
-# = codeBlender "detail", "molecule", { author: true, cal: true, comment: false, more: true, name: locals[ :name ], social: true, tags: true, current_page: article }
-#
-# @param author   Show the meta author and icon
-# @param calendar Show the blog time and icon
-# @param comment  Show the number of comments
-# @param social   Show the social buttons
-# @param tags     Show the tags
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Blog name
- name = locals[ :name ] ? locals[ :name ] : blog_controller.name

-# Variable
- url = data.config.url + current_page.url
- cp  = current_page.data

-# Blog detail
.blogDetail

    -# Date
    - if locals[ :cal ]

        -# Icon - calendar
        = codeBlender "icon", "atom", { icon: "fa-calendar fa-fw" }

        -# Time - format example : April 8, 2016
        %time{ itemprop: "datePublished", datetime: "#{ cp.date.strftime( "%FT%T" ) }Z" }
            = cp.date.strftime '%B %e, %Y'

    -# Author
    - if locals[ :author ]

        |

        -# Icon
        = codeBlender "icon", "atom", { icon: "fa-user fa-fw" }

        by

        %span{ itemprop: "author", itemscope: true, itemptype: "http://schema.org/Person" }
            %a{ itemprop: "url", rel: "author" }
                %span{ itemprop: "name" }= cp.meta.author

    -# Show comment
    - if locals[ :comment ]

        |

        -# Icon
        = codeBlender "icon", "atom", { icon: "fa-comment fa-fw" }

        X Comments

    -# Like button
    - if locals[ :social ]
        = codeBlender "like-button", "social/facebook/like-button", { extraClass: "pull-right", href: url, layout: "button_count", share: "false" }

    -# Tag
    - if locals[ :tags ]

        %footer.blogDetail__tags

            -# Icon - tags
            = codeBlender "icon", "atom", { icon: "fa-tags fa-fw" }

            -# Loop through tags
            - cp.tags( name ).each do | tag |

                -# Label
                = codeBlender "label", "atom", { extraClass: "blogDetail__tag", context: "primary", content: tag, href: tag_path( tag, name ), itemprop: "keywords" }
