---
author       : "Ian Warner"
description  : "A lightweight, flexible component that can optionally extend the
                entire viewport to showcase key content on your site."
layout       : "site/page"
small        : "http://getbootstrap.com/components/#jumbotron"
title        : "Bootstrap Jumbotron Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Jumbotron"
      - "http://getbootstrap.com/components/#jumbotron"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Jumbotron
= partial "bootstrap/components/jumbotron",
           :locals => { :description => "Description",
                        :small       => "Small Text",
                        :title       => "Title" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/jumbotron",
               :locals => { :description => "Description",
                            :small       => "Small Text",
                            :title       => "Title" }

-# Default
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Jumbotron
= partial "bootstrap/components/jumbotron",
           :locals => { :description => "Description",
                        :gradient    => true,
                        :small       => "Small Text",
                        :title       => "Title" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/jumbotron",
               :locals => { :description => "Description",
                            :gradient    => true,
                            :small       => "Small Text",
                            :title       => "Title" }

-# Image Jumbotron
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Image Jumbotron",
                        :type => "h2" }

-# Jumbotron
= partial "bootstrap/components/jumbotron",
           :locals => { :image  => true }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/jumbotron",
               :locals => { :image  => true }