---
author        : "Ian Warner"
description   : "Navbars are responsive meta components that serve as navigation
                 headers for your application or site. They begin collapsed (and
                 are toggleable) in mobile views and become horizontal as the
                 available viewport width increases."
layout        : "site/page"
small         : "http://getbootstrap.com/components/#navbar"
title         : "Bootstrap Navbar Partial"

navList :
    - active  : true
      title   : "Home"
      url     : "/"
    - title   : "Back"
      url     : "/bootstrap"

navigation :
    - :name   : My Offers
      :status : active
      :url    : /offers
    - :name   : My Bookmarks
      :status : active
      :url    : /bookmarks
    - :name   : Offer Activity
      :status : active
      :url    : /activity
    - :name   : Account Settings
      :status : active
      :url    : /settings

navigation1 :
    - :image  : "site/visa.png"
      :status : active

see :
    - - "Bootstrap Navbar"
      - "http://getbootstrap.com/components/#navbar"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default Navbar",
                        :type => "h2" }

-# Navbar
= partial "bootstrap/components/navbar"

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/navbar"


-# Logo left and right Navbar
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Logo NavBar",
                        :type => "h2" }

-# Navbar
= partial "bootstrap/components/navbar",
           :locals => { :array    => data.page.navigation1,
                        :logo     => true,
                        :position => "static-top" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/navbar",
               :locals => { :array    => data.page.navigation1,
                            :logo     => true,
                            :position => "static-top",
                            :type     => "inverse" }

-# Secondary NavBar
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Secondary NavBar",
                        :type => "h2" }

-# Navbar
= partial "bootstrap/components/navbar",
           :locals => { :array   => data.page.navigation,
                        :brand   => false,
                        :type    => "inverse",
                        :ulClass => "navbar-left" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/navbar",
               :locals => { :array => data.page.navigation,
                            :brand => false,
                            :type  => "inverse" }

-# Inverted Situation NavBar
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Inverted Situation NavBar",
                        :type => "h2" }

-# Navbar
= partial "bootstrap/components/navbar",
           :locals => { :array => data.page.navigation,
                        :brand => "Test NavBar",
                        :type  => "inverse" }

-# Code
:code
    #lang: ruby
    # Place in Frontmatter
    navigation      :
        -   :name   : Who We Are
            :status : active
            :url    : /who-we-are

    # Navbar
    = partial "bootstrap/components/navbar",
               :locals => { :array => data.page.navigation,
                            :brand => "Test NavBar",
                            :type  => "inverse" }