---

description : "List group displays complex and custom content in li and dt elements"
title       : "List group displays complex and custom content in li and dt elements"

see :
    - - "Bootstrap list group"
      - "http://getbootstrap.com/components/#list-group"

todo :
    - - "Link should be optional for the list group - either li or a depending of url specified"
    - - "Change contextual to colour or type"
    - - "Change the hash-bangs for javascript:;"

---

-# Default
:ruby
    code = %{codeBlender "list-group", "molecule", { array: [ { active: true, title:  lorem.words( 2 ), url: "index.html" },
                                         { title:  lorem.words( 2 ), url: "index.html" } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# With Badges
:ruby
    code = %{codeBlender "list-group", "molecule", { array: [ { badge: "14", title: lorem.words( 2 ), url: "#" },
                                         { active: true, badge: "14", title: lorem.words( 2 ), url: "#" } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "List Group With Badges" } }

-# Contextual
:ruby
    code = %{codeBlender "list-group", "molecule", { array: [ { title: lorem.words( 2 ), url: "#", context: "success" },
                                         { title: lorem.words( 2 ), url: "#", context: "danger" } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Contextual" } }

-# Content
:ruby
    code = %{codeBlender "list-group", "molecule", { array: [ { badge: "14", heading: lorem.words( 2 ), text: lorem.words( 20 ), url: "#" },
                                         { heading: lorem.words( 2 ), text: lorem.words( 20 ), url: "#" } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Content" } }

-# Non-Linked
:ruby
    code = %{codeBlender "list-group", "molecule", { array: [ { title: lorem.words( 2 ) },
                                         { title: lorem.words( 2 ) } ],
                                list:  true }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Non-Linked" } }