-##
-# Carousel
-# Provides a UX tool to move between many images or media elements
-#
-# @usage
-# -# Carousel
-# = codeBlender "carousel", "molecule", { array: [ { image: { extraClass: "img-responsive", src: lorem.image( '820x400', :random_color => true, text: 'Carousel 1' ) } } ] }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://getbootstrap.com/javascript/#carousel
-##

-# Default ID
- if ! locals[ :id ]
    - id = "myCarousel"

-# Data
- data = locals[ :data ] ? locals[ :data ] : false

-# Carousel
.carousel.slide{ id: id, class: id, data: data }

    -# Check we want indicators
    - if locals[ :indicator ]

        -# Indicators
        %ol.carousel-indicators

            -# Array
            - locals[ :array ].each_with_index do | slide, i |

                -# If this is the first slide make it active
                %li{ class: i == 0 ? "active" : false, data:  { target: "." + id, slide: { to: i } } }

    -# Inner Content
    .carousel-inner{ role: "listbox" }

        -# Array loop
        - locals[ :array ].each_with_index do | slide, i |

            -# Image
            - image = slide[ :image ]

            -# Variable
            - itemClass = image[ :itemClass ] ? image[ :itemClass ] : false
            - ng        = { swipe: { right: "root.carouselSwipePrev( $event )", left: "root.carouselSwipeNext( $event )" } }
            - data      = image[ :data ] ? image[ :data ] : false

            -# If this is the first slide make it active
            .item{ class: i == 0 ? "#{ itemClass } active" : itemClass, ng: ng, data: data }

                -# Image - make sure there is a src
                - if image[ :src ]

                    -# Default alternative text if not found
                    - if ! image[ :alt ]
                        - image[ :alt ] = "Carousel #{ i }"

                    -# Image
                    = codeBlender "image", "atom", image

                -# Caption
                - if image[ :carouselCaption ]

                    -# Caption
                    - caption = image[ :carouselCaption ]

                    -# Caption
                    .carousel-caption

                        -# Tag
                        - caption[ :tag ] = caption[ :tag ] ? caption[ :tag ] : "h3"

                        -# Heading
                        = codeBlender "heading", "molecule", caption

                        -# Body
                        - if caption[ :body ]
                            %p= caption[ :body ]

                        -# Button
                        - if caption[ :button ]
                            = codeBlender "button", "atom", caption[ :button ]

    -# Controls
    - if locals[ :control ]

        -# Previous - left control
        = link_to( ".#{ id }", class: "carousel-control left", data: { slide: "prev" }, role: "button", ng: { click: "root.carouselPrev( $event )" } ) do
            %span.glyphicon.glyphicon-chevron-left{ aria: { hidden: "true" } }
            %span.sr-only Previous

        -# Next - right control
        = link_to( ".#{ id }", class: "carousel-control right", data: { slide: "next" }, role: "button", ng: { click: "root.carouselNext( $event )" } ) do
            %span.glyphicon.glyphicon-chevron-right{ aria: { hidden: "true" } }
            %span.sr-only Next
