-##
-# Carousel
-# Provides a UX tool to move between many images or media elements
-#
-# @usage
-# -# Carousel
-# = codeBlender "carousel", "molecule", { array: [ { image: { extraClass: "img-responsive", src: lorem.image( '820x400', :random_color => true, text: 'Carousel 1' ) } } ] }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://getbootstrap.com/javascript/#carousel
-##

-# Default ID
- if ! locals[ :id ]
    - id = "myCarousel"

-# Data
- data = locals[ :data ] ? locals[ :data ] : false

-# Carousel
.carousel.slide{ id: id, class: id, data: data }

    -# Check we want indicators
    - if locals[ :indicator ]

        -# Indicators
        %ol.carousel-indicators

            -# Array
            - locals[ :array ].each_with_index do | slide, i |

                -# If this is the first slide make it active
                %li{ class: i == 0 ? "active" : false,
                     data:  { target: "." + id, slide: { to: i } } }

    -# Inner Content
    .carousel-inner{ role: "listbox" }

        -# Array Loop
        - locals[ :array ].each_with_index do | slide, i |

            -# If this is the first slide make it active
            .item{ class: i == 0 ? "active" : false }

                -# Image
                - if slide[ :image ]

                    -# Default alternative text if not found
                    - if ! slide[ :image ][ :alt ]
                        - slide[ :image ][ :alt ] = "Carousel #{ i }"

                    -# Image
                    = codeBlender "image", "atom", slide[ :image ]

                -# Caption
                - if slide[ :image ][ :carouselCaption ]

                    -# Caption
                    .carousel-caption

                        -# Heading
                        = codeBlender "heading", "molecule",
                            { tag: "h3", text: slide[ :image ][ :carouselCaption ][ :title ] }

                        -# Body
                        %p= slide[ :image ][ :carouselCaption ][ :body ]

                        -# Check if we want a button
                        - if slide[ :image ][ :carouselCaption ][ :button ]

                            -# Button
                            = codeBlender "button", "atom", slide[ :image ][ :carouselCaption ][ :button ]

    -# Controls
    - if locals[ :control ]

        -# Previous - left control
        = link_to( ".#{ id }", class: "carousel-control left", data: { slide: "prev" }, role: "button" ) do
            %span.glyphicon.glyphicon-chevron-left{ aria: { hidden: "true" } }
            %span.sr-only Previous

        -# Next - right control
        = link_to( ".#{ id }", class: "carousel-control right", data: { slide: "next" }, role: "button" ) do
            %span.glyphicon.glyphicon-chevron-right{ aria: { hidden: "true" } }
            %span.sr-only Next
