-##
-# Configuration
-# Allow for certain aspects of the site to be changed via classes
-#
-# @usage
-# -# Configuration
-# = codeBlender "configuration", "molecule"
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      http://www.keenthemes.com/preview/metronic/theme/templates/admin4/page_blog.html
-##

-# Capture Configuration Elements
- content_for :configuration do

    -# Dropdown to select background
    - array = [ [ "Select Background", "-1" ] ]

    - ( 1..10 ).each do | index |
        - array << [ "bg-hero#{ index }.jpg" ]

    -# Select
    = codeBlender "select", "atom/form/select", { array: array, name: "backgroundSelector", label: { title: "Background" } }

-# Configuration Toolbox
#skin-toolbox{ style: "right: -182px;" }

    -# Icon
    .skin-toolbox-toggle

        -# Icon
        = codeBlender "icon", "atom", { icon: "fa-flask" }

    -# Panel
    .skin-toolbox-panel

        -# Heading
        = codeBlender "heading", "molecule", { tag: "h5", text: "Site Options" }

        -# Form
        %form#skin-toolbox-form

            -# Yield Content
            = yield_content :configuration