-##
-# Configuration
-# Allow for certain aspects of the site to be changed via classes
-#
-# @usage
-# -# Configuration
-# = partial "molecule/configuration/configuration.haml"
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      http://www.keenthemes.com/preview/metronic/theme/templates/admin4/page_blog.html
-##

-# Capture Configuration Elements
- content_for :configuration do

    -# Dropdown to select background
    - array = [ [ "Select Background", "-1" ] ]

    - ( 1..10 ).each do | index |
        - array << [ "bg-hero#{ index }.jpg" ]

    -# Select
    = partial "atom/select/select.haml", locals: { array: array, name: "backgroundSelector", label: { title: "Background" } }

-# Configuration Toolbox
#skin-toolbox{ style: "right: -182px;" }

    -# Icon
    .skin-toolbox-toggle

        -# Icon
        = partial "atom/icon/icon.haml", locals: { icon: "fa-flask" }

    -# Panel
    .skin-toolbox-panel

        -# Heading
        = partial "molecule/heading/heading.haml", locals: { tag: "h5", text: "Site Options" }

        -# Form
        %form#skin-toolbox-form

            -# Yield Content
            = yield_content :configuration