---

heading :
    small : "Forgot details form"
    title : "Forgot Password"

meta :
    author      : "DryKISS"
    description : "Generic forgot password form"
    title       : "Forgot Password"

see :
    - - "Example forgot password"
      - "http://www.keenthemes.com/preview/metronic_admin/login.html"

---

-# Bootstrap Row
.row

    -# Bootstrap Columns
    .col-md-5.col-md-offset-3

        -# Heading
        = partial "./bootstrap/type/heading",
                   :locals => { :tag  => "h2",
                                :text => "Forgot Password?" }

        -# Forgot Password Form
        %form.forgotPasswordForm{ :action => "#", :method => "post" }

            -# Email
            = partial "./forms/input",
                       :locals => { :icon  => { :prepend => "fa-envelope" },
                                    :input => { :inputGroupClass => "input-group",
                                                :name            => "email",
                                                :placeholder     => "Enter email address",
                                                :type            => "email" },
                                    :label => { :title => "Email" } }

            -# Submit
            = partial "bootstrap/css/button",
                       :locals => { :block   => true,
                                    :context => "primary",
                                    :content => "Submit" }

            -# Forgot Password
            .forget-password

                -# Heading
                = partial "./bootstrap/type/heading",
                           :locals => { :tag  => "h4",
                                        :text => "Forgot your password?" }

                %p
                    No worries, click

                    -# Link To
                    = link_to( "here", "javascript:;", :id => "forget-password" )

                    to reset your password.

            %hr

            -# Register
            .create-account

                -# Heading
                = partial "./bootstrap/type/heading",
                           :locals => { :tag  => "h4",
                                        :text => "Create an account." }

                %p
                    Not registered?, click

                    -# Link To
                    = link_to( "here", "javascript:;", :id => "create-account" )

                    to create an account.