---

stub : list

heading :
    small : "http://getbootstrap.com/css/#type-lists"
    title : "List Partial"

list :
    - text : "Lorem ipsum dolor sit amet"
    - text : "Facilisis in pretium nisl aliquet"

list1 :
    - title : "Description Title 1"
      text  : "Lorem ipsum dolor sit amet"
    - title : "Description Title 2"
      text  : "Facilisis in pretium nisl aliquet"

list2 :
    - text       : "Lorem ipsum dolor sit amet"
      extraClass : "popMe"
      status     : "active"
      data       :
        container      : "body"
        content        : "This feature is not available in this survey."
        placement      : "auto"
        original-title : "GfK Research"
    - text : "Facilisis in pretium nisl aliquet"
      url  : "http://google.com"

see :
    - - "Bootstrap List"
      - "http://getbootstrap.com/css/#type-lists"

todo :
    - - "Need to push in another list for unordered lists also"
      - "List"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Allow the links to have a different target such as _blank"
      - "List"
      - "2014-02-12"
      - { "context" : "info" }

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of the list required"
    - - "dropdown"
      - "bool"
      - "optional"
      - "List is a dropdown menu list"
    - - "extraClass"
      - "string"
      - "optional"
      - "String of extra classes can be collection list-unstyled, list-inline, dl-horizontal"
    - - "type"
      - "string"
      - "optional"
      - "Unordered or Ordered - ul / ol / dl - default ul"

---

-# Unordered List
:ruby
    code = %{partial "./bootstrap/type/list", locals: { array: current_page.data.list }}

= partial "./organism/code/code", locals: { id: 1, code: code, heading: { text: "Unordered List" } }

-# Ordered List
:ruby
    code = %{partial "./bootstrap/type/list", locals: { array: current_page.data.list, type: "ol" }}

= partial "./organism/code/code", locals: { id: 2, code: code, heading: { text: "Ordered List" } }

-# Unstyled List
:ruby
    code = %{partial "./bootstrap/type/list", locals: { array: current_page.data.list, extraClass: "list-unstyled" }}

= partial "./organism/code/code", locals: { id: 3, code: code, heading: { text: "Unstyled List" } }

-# Inline List
:ruby
    code = %{partial "./bootstrap/type/list", locals: { array: current_page.data.list, extraClass: "list-inline" }}

= partial "./organism/code/code", locals: { id: 4, code: code, heading: { text: "Inline List" } }

-# Inline List Linked
:ruby
    code = %{partial "./bootstrap/type/list", locals: { array: current_page.data.list2, extraClass: "list-inline" }}

= partial "./organism/code/code", locals: { id: 5, code: code, heading: { text: "Inline List Linked" } }

-# Description List
:ruby
    code = %{partial "./bootstrap/type/list", locals: { array: current_page.data.list1, type: "dl" }}

= partial "./organism/code/code", locals: { id: 6, code: code, heading: { text: "Description List" } }

-# Description List Horizontal
:ruby
    code = %{partial "./bootstrap/type/list",
               :locals => { :array      => current_page.data.list1,
                            :extraClass => "dl-horizontal",
                            :type       => "dl" }}

= partial "./organism/code/code", locals: { id: 7, code: code, heading: { text: "Description List Horizontal" } }