---

heading :
    small : "A Globally Recognized Avatar"
    title : "Gravatar"

meta :
    author      : "Ian Warner"
    description :
        "Your Gravatar is an image that follows you from site to site appearing
        beside your name when you do things like comment or post on a blog.
        Avatars help identify your posts on blogs and web forums, so why not on any site?"
    title       : "Gravatar"

see :
    - - "Image Requests"
      - "http://en.gravatar.com/site/implement/images/"

todo :
    - - "Need to pass through the image options for the avatar"
      - "Gravatar"
      - "2014-02-12"
    - - "Should have the option for HTTPs"
      - "Gravatar"
      - "2014-02-12"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Avatar
= partial "./social/gravatar/avatar", locals: { email: "ian.warner@drykiss.com" }

%br
%br

-# Code
:code
    #lang: ruby
    = partial "./social/gravatar/avatar", locals: { email: "ian.warner@drykiss.com" }

%hr

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Size", tag: "h2" }

-# Avatar
= partial "./social/gravatar/avatar", locals: { email: "iwarner@triangle-solutions.com", size: "200" }

%br
%br

-# Code
:code
    #lang: ruby
    = partial "./social/gravatar/avatar",
               :locals => { :email => "iwarner@triangle-solutions.com",
                            :size  => "200" }