-##
-# Login
-#
-# @usage
-# -# Login
-# = partial "molecule/login/login"
-#
-# @category Molecule
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# list :
-#    - text : "fa-facebook-square"
-#      url  : "http://facebook.com"
-#    - text : "fa-twitter-square"
-#      url  : "http://twitter.com"
-#    - text : "fa-google-plus-square"
-#      url  : "http://google.com"
-#    - text : "fa-linkedin-square"
-#      url  : "http://linkedin.com"
-##

-##
-# Login Form
-##
%form{ name: "loginForm", novalidate: true, ng: { controller: "LoginController as login", cloak: "" } }

    {{ login.name }}

    -# Email Input
    = partial "atom/input/input.haml",
               locals: { help:     {},
                         icon:  { prepend:         "fa-envelope" },
                         input: { name:            "loginEmail",
                                  ng:              { model: "user.email", minlength: "3" },
                                  placeholder:     "Enter Email",
                                  required:        true,
                                  type:            "email" },
                         label: { extraClass: "sr-only", title: "Email" } }

    -# Password Input
    = partial "atom/input/input.haml",
               locals: { help:  {},
                         icon:  { prepend:         "fa-lock" },
                         input: { autocomplete:    "off",
                                  name:            "loginPassword",
                                  ng:              { model: "user.password", minlength: "8", maxlength: "16" },
                                  pattern:         "(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$",
                                  placeholder:     "Enter Password",
                                  required:        true,
                                  type:            "password" },
                         label: { extraClass: "sr-only", title: "Password" } }

    -# Remember Me
    = partial "atom/checkbox/checkbox.haml",
               locals: { input: { name: "loginRemember" },
                         label: { title: "Remember Me" } }

    .text-right

        -# Reset
        = partial "atom/button/button.haml",
                   locals: { context:    "link",
                             text:       "Reset",
                             ng: { click: "reset()" },
                             type: "reset" }

        -# Submit
        = partial "atom/button/button.haml",
                   locals: { context:    "primary",
                             text:       "Login",
                             ng: { click: "save()" } }