-##
-# Label
-#
-# @usage
-# -# Label
-# = codeBlender "label", "atom", { context: "info", content: article.date.strftime( '%b %e' ) }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category atom
-##

-# Variables
- extraClass = locals[ :extraClass ] ? " " + locals[ :extraClass ] : ""

-# Context
- extraClass += locals[ :context ] ? " label-" + locals[ :context ] : " label-default"

-# Item Prop
- itemprop = locals[ :itemprop ] ? itemprop : false

-# Capture HTML
- captureHTML = capture_html do

    -# Icon
    - if locals[ :icon ]

        -# Icon
        = codeBlender "icon", "atom", { icon: locals[ :icon ] }

    -# Content
    = string locals[ :content ]

-# Check if Link required
- if locals[ :href ]

    -# Link To
    = link_to( locals[ :href ], class: "label#{ extraClass }", data: locals[ :data ], itemprop: itemprop, title: locals[ :title ] ) do
        - captureHTML

    -# Span
- else

    %span{ class: "label#{ extraClass }", data: locals[ :data ], itemprop: itemprop, title: locals[ :title ] }
        = captureHTML