-##
-# Button / Link Partial
-# While button classes can be used on <a> and <button> elements,
-# only <button> elements are supported within our nav and navbar components.
-#
-# If the <a> elements are used to act as buttons – triggering in-page
-# functionality, rather than navigating to another document or section within
-# the current page – they should also be given an appropriate role="button".
-#
-# Usage
-# -# Button
-# = partial "./atom/button/button", locals: { icon: { prepend: "fa-credit-card" }, text: "Default" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://www.plugolabs.com/twitter-bootstrap-button-generator/
-#
-# @todo   Explain in here all the places a button can be used
-# @todo   Change Href to Link and create a new Link Partial
-# @todo   Allow for an image or icon before also
-# @todo   locals[ :text ] seems to be required but what if we just want an icon button provide option and graceful fallback on errors
-##

-# Active
- classes = locals[ :active ] ? " active" : ""

-# Block Level
- classes += locals[ :block ] ? " btn-block" : ""

-# Colour
- classes += locals[ :context ] ? " btn-#{ context }" : " btn-default"

-# Disabled
- classes += locals[ :disabled ] ? " disabled" : ""

-# Dropdown
- classes += locals[ :dropdown ] ? " dropdown-toggle" : ""

-# Extra Class
- classes += locals[ :extraClass ] ? " #{ extraClass }" : ""

-# Size - lg, sm, xs
- classes += locals[ :size ] ? " btn-#{ size }" : ""

-# Tag
- tag = locals[ :href ] ? "a" : "button"

-# Capture Content
- captureHTML = capture_html do

    -# Prepend Icon
    - if locals[ :icon ] and locals[ :icon ][ :prepend ]

        -# Icon
        = partial "./atom/icon/icon", locals: { icon: locals[ :icon ][ :prepend ] }

    -# Content
    - if locals[ :text ] == "close"
        %span{ aria: { hidden: "true" } } &times;

    - elsif locals[ :text ]
        = string text

    -# Append Icon
    - if locals[ :icon ] && locals[ :icon ][ :append ]

        -# Icon
        = partial "./atom/icon/icon", locals: { icon: locals[ :icon ][ :append ] }

    -# Image
    - if locals[ :image ]
        = partial "./atom/image/image", locals: locals[ :image ]

    -# Dropdown Caret
    - if locals[ :dropdown ]
        %span{ class: "dropdown__icon" }

-# Link
- if ! ( locals[ :href ] or locals[ :ui ] )

    %button{ aria:     locals[ :aria ]     ? aria                 : false,
             class:    locals[ :extraClass ] == "close" ? "close" : "btn#{ classes }",
             clip:     locals[ :clip ]     ? clip                 : false,
             data:     locals[ :data ]     ? data                 : false,
             hidden:   locals[ :hidden ]   ? "hidden"             : false,
             id:       locals[ :id ]       ? id                   : false,
             itemprop: locals[ :itemprop ] ? itemprop             : false,
             ng:       locals[ :ng ]       ? ng                   : false,
             title:    locals[ :title ]    ? string( title )      : false,
             type:     locals[ :type ]     ? type                 : "submit" }= captureHTML

- else

    = link_to( captureHTML,
               locals[ :href ],
               aria:     locals[ :aria ]     ? aria            : false,
               class:    "btn#{ classes }",
               clip:     locals[ :clip ]     ? clip            : false,
               data:     locals[ :data ]     ? data            : false,
               hidden:   locals[ :hidden ]   ? "hidden"        : false,
               id:       locals[ :id ]       ? id              : false,
               itemprop: locals[ :itemprop ] ? itemprop        : false,
               ng:       locals[ :ng ]       ? ng              : false,
               title:    locals[ :title ]    ? string( title ) : false,
               ui:       locals[ :ui ]       ? ui              : false )
