-##
-# List group
-#
-# @usage
-# -# List group
-# partial "molecule/list-group/list-group",
-#                      locals: { array: [ { active: true, title:  lorem.words( 2 ), url: "index.html" },
-#                                         { title:  lorem.words( 2 ), url: "index.html" } ] }
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Link or List
- tag = locals[ :list ] ? "ul" : "div"

-# List Group
- haml_tag tag, { class: locals[ :extraClass ] ? "list-group #{ extraClass }" : "list-group nav" } do

    -# Check that an array is defined
    - if locals[ :array ]

        -# Loop through the array
        - array.each do | value |

            -# If there is a contextual / colour class add it
            - if value[ :context ]
                - listClass = "list-group-item-#{ value[ :context ] }"

            -# Capture Content
            - captureHTML = capture_html do

                -# Check if Badge is required
                - if value[ :badge ]

                    -# Badge
                    = partial "atom/badge/badge", locals: { content: value [ :badge ] }

                -# Heading and Text
                - if value [ :heading ]

                    -# Heading - H4
                    = partial "molecule/heading/heading", locals: { extraClass: "list-group-item-heading", tag: "h4", text: value[ :heading ] }

                    -# Text
                    - if value [ :text ]
                        %p= string value[ :text ]

                -# Title
                - if value [ :title ]
                    = string value[ :title ]

            -# Check for list
            - if locals[ :list ]

                -# List
                %li{ class: value[ :active ] ? "#{ listClass } active" : listClass }

                    -# Link
                    - if value[ :url ]

                        %a{ href: value[ :url ], class: "list-group-item" }= captureHTML

                        -# No Link
                    - else
                        %a{ class: "list-group-item" }= captureHTML

                    -# Check if this value has a Sub Navigation
                    - if value[ :submenu ]

                        -# Nav List Group
                        = partial "molecule/list-group/list-group",
                                   locals: { array: value[ :submenu ], extraClass: "nav submenu", list: true }

                -# A Tag Links
            - else

                = link_to( value[ :url ] ? value[ :url ] : false, class: value[ :active ] ? "list-group-item #{ listClass } active" : "list-group-item #{ listClass }" ) do
                    = captureHTML