---
author       : "Ian Warner"
description  : "Individual form controls automatically receive some global styling.
                All textual input, textarea, and select elements with .form-control
                are set to width: 100%; by default. Wrap labels and controls in
                form-group for optimum spacing."
layout       : "site/page"
small        : "http://getbootstrap.com/css/#forms"
title        : "Bootstrap Forms Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"
    - - "HTML5 Forms"
      - "http://diveintohtml5.info/forms.html"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Form
%form{ :novalidate => false }

    -# Username
    = partial "bootstrap/css/forms/input",
               :locals => { :autofocus   => true,
                            :id          => "username",
                            :label       => [ "Username" ],
                            :placeholder => "Enter username",
                            :required    => true }

    -# Password
    = partial "bootstrap/css/forms/input",
               :locals => { :id          => "password",
                            :help        => "Enter 8 characters [a-zA-Z0-9]",
                            :label       => [ "Password" ],
                            :placeholder => "Enter password",
                            :required    => true,
                            :type        => "password" }

    -# Email
    = partial "bootstrap/css/forms/input",
               :locals => { :group       => [ false, "glyphicon-envelope" ],
                            :id          => "email",
                            :label       => [ "Email" ],
                            :placeholder => "Enter email address",
                            :required    => true,
                            :type        => "email" }

    -# Text Area
    = partial "bootstrap/css/forms/input",
               :locals => { :id          => "comments",
                            :label       => [ "Comments" ],
                            :placeholder => "Enter comments",
                            :required    => true,
                            :rows        => "5",
                            :tag         => "textarea" }

    -# Mobile Number
    = partial "bootstrap/css/forms/input",
               :locals => { :group       => [ "glyphicon-phone" ],
                            :id          => "mobile",
                            :label       => [ "Mobile" ],
                            :placeholder => "Enter Mobile",
                            :required    => true }

    -# Country
    = partial "bootstrap/css/forms/select",
               :locals => { :array       => [ [ "United Kingdom", "44" ], [ "USA", "1" ] ],
                            :id          => "country",
                            :label       => [ "Country" ],
                            :required    => true }

    -# Categories
    = partial "bootstrap/css/forms/select",
               :locals => { :array       => [ [ "Clothing", "1" ], [ "Travel", "2" ] ],
                            :id          => "categories",
                            :label       => [ "Categories" ],
                            :multiple    => true,
                            :required    => true }

    -# Submit
    = partial "bootstrap/css/button",
               :locals => { :block   => false,
                            :content => "Submit",
                            :size    => "lg" }

%br

-# Code
:code
    #lang: ruby
    = partial "bootstrap/css/form"