---
author       : "Ian Warner"
description  : "For basic styling—light padding and only horizontal dividers—add the
                base class .table to any table. It may seem super redundant, but
                given the widespread use of tables for other plugins like calendars
                and date pickers, we've opted to isolate our custom table styles"
layout       : "site/page"
small        : "http://getbootstrap.com/css/#tables"
title        : "Bootstrap Table Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

datasource :
    columns :
        - property : "bookmark"
          label    : "Bookmark"
          sortable : true
        - property : "image"
          label    : "Image"
          sortable : false
        - property : "description"
          label    : "Description"
          sortable : true
        - property : "details"
          label    : "Details"
          sortable : true
    data :
        -
            - "Row 1 Column 1"
            - "Row 1 Column 2"
            - "Row 1 Column 3"
            - "Row 1 Column 4"
        -
            - "Row 2 Column 1"
            - "Row 2 Column 2"
            - "Row 2 Column 3"
            - "Row 2 Column 4"

see :
    - - "Bootstrap Tables"
      - "http://getbootstrap.com/css/#tables"

todo :
    - - "Document the flags for table data"
      - "Table"
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# List Group
= partial "bootstrap/css/table",
           :locals => { :array => data.page.datasource }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/css/table"

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Pretty",
                        :type => "h2" }

-# Table
= partial "bootstrap/css/table",
           :locals => { :array      => data.page.datasource,
                        :tableClass => "table-striped table-bordered table-hover table-condensed" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/css/table",
               :locals => { :array      => data.page.datasource,
                            :tableClass => "table-striped table-bordered table-hover table-condensed" }

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Responsive",
                        :type => "h2" }

-# Table
.table-responsive
    = partial "bootstrap/css/table",
               :locals => { :array      => data.page.datasource,
                            :responsive => true,
                            :tableClass => "table-striped table-bordered table-hover table-condensed" }

-# Code
:code
    #lang: ruby
    .table-responsive
        = partial "bootstrap/css/table",
                   :locals => { :array      => data.page.datasource,
                                :responsive => true,
                                :tableClass => "table-striped table-bordered table-hover table-condensed" }