---

meta :
    author      : "DryKISS"
    description : "Gravatar - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Gravatar - CodeBlender"
    type        : "website"

heading :
    small : "A Globally Recognized Avatar"
    title : "Gravatar"

see :
    - - "Image Requests"
      - "http://en.gravatar.com/site/implement/images/"

todo :
    - - "Need to pass through the image options for the avatar"
    - - "Should have the option for HTTPs"
    - - "Check whether type=thumbnail works"
    - - "Include gravatar links and docs"
    - - "Configure the workaround for default image"
    - - "Use code partial on docs page"

---

-# ID
- id = 0

-# Heading
= partial "molecule/heading/heading.haml", locals: { text: "Default", tag: "h2" }

-# Avatar
= partial "molecule/gravatar/avatar.haml", locals: { email: "ian.warner@drykiss.com" }

%br
%br

-# Code
:code
    #lang: ruby
    = partial "molecule/gravatar/avatar.haml", locals: { email: "ian.warner@drykiss.com" }

%hr

-# Heading
= partial "molecule/heading/heading.haml", locals: { text: "Size", tag: "h2" }

-# Avatar
= partial "molecule/gravatar/avatar.haml", locals: { email: "iwarner@triangle-solutions.com", size: "200" }

%br
%br

-# Code
:code
    #lang: ruby
    = partial "molecule/gravatar/avatar.haml",
               locals: { email: "iwarner@triangle-solutions.com",
                         size:  "200" }