-##
-# Label
-#
-# @usage
-# -# Label
-# = partial "./atom/label/label", locals: { context: "info", content: article.date.strftime( '%b %e' ) }
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- extraClass = locals[ :extraClass ] ? " " + locals[ :extraClass ] : ""

-# Context
- extraClass += locals[ :context ] ? " label-" + locals[ :context ] : " label-default"

-# Capture HTML
- captureHTML = capture_html do

    -# Icon
    - if locals[ :icon ]

        -# Icon
        = partial "./atom/icon/icon", locals: { icon: locals[ :icon ] }

    -# Content
    = string locals[ :content ]

-# Check if Link required
- if locals[ :href ]

    -# Link To
    = link_to( locals[ :href ], class: "label#{ extraClass }", itemprop: locals[ :itemprop ] ? itemprop : false ) do
        - captureHTML

    -# Span
- else

    %span{ class: "label#{ extraClass }" }
        = captureHTML