---

angular :
    controller : "DataTableCtrl"

heading :
    small : "JQuery grid"
    title : "DataTables"

see :
    - - "DataTables"
      - "https://www.datatables.net/"

todo :
    - - "Place a loader on the DataTable to prevent a flicker of the grid loading"
      - "DataTable"
      - "2015-04-01"
      - { "context" : "info" }
    - - "Load the data from an external JSON data file"
      - "DataTable"
      - "2015-04-01"
      - { "context" : "warning" }
    - - "Theme the DataGrid using Bootstrap theme to start with"
      - "DataTable"
      - "2015-04-01"
      - { "context" : "info" }
    - - "Test the internationlisation of the tables through the loading of the language at runtime https://www.datatables.net/plug-ins/i18n/"
      - "DataTable"
      - "2015-04-01"
      - { "context" : "info" }

---

%p
    DataTables is the de-facto front-end table enhancement script on the market
    it comes with an MIT license : https://www.datatables.net/license/mit

%hr

-# DataGrid
.table-responsive

    -# Table
    %table#dataTable.table.table-hover{ aria: { describedby: "dataTable_info" }, role: "grid" }

        %thead

            %tr
                %th Prospect ID
                %th= string :"table.client"
                %th= string :"table.role"
                %th= string :"table.organisation"
                %th= string :"table.tactic"
                %th= string :"table.lastContact"
                %th= string :"table.buyingStage"
                %th= string :"table.nextAction"
                %th Expand

        %tfoot
            %tr
                %th Prospect ID
                %th Name
                %th Role
                %th Company
                %th Tactic Code
                %th Last Contacted
                %th Buying Stage
                %th Next Action
                %th Expand

/ -# DataGrid
/ .table-responsive

/     %table#dataTable.table.table-striped.table-bordered.table-hover{ aria: { describedby: "dataTable_info" }, role: "grid" }

/         %thead

/             %tr
/                 %th
/                     %input{ type: "checkbox", id: "selectAll", name: "selectAll" }
/                 %th Name
/                 %th Role
/                 %th Company
/                 %th Tactic Code
/                 %th Last Contacted
/                 %th Sales stage
/                 %th Related Offer
/                 %th Note
/                 %th Expand

/         %tfoot
/             %tr
/                 %th
/                 %th Name
/                 %th Role
/                 %th Company
/                 %th Tactic Code
/                 %th Last Contacted
/                 %th
/                 %th Related Offer
/                 %th Note
