-##
-# Article layout
-#
-# @usage
-# -# Article layout
-# = wrap_layout "_codeBlender/article" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Article
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-3

                %aside

                    -# Tag cloud
                    = codeBlender "tag-cloud", "molecule"

                    -# Recent article
                    = codeBlender "recent", "molecule"

            -# Bootstrap column
            .col-md-6

                -# Article
                = codeBlender "article", "template", { body: yield }

            -# Bootstrap column
            .col-md-3

                %aside

                    -# Blog archive
                    = codeBlender "archive", "molecule"
