<%#
Article layout

@author Ian Warner <ian.warner@drykiss.com>
%>

<% wrap_layout :bootstrap do %>

  <div class="container">

    <div class="row">

      <div class="col-md-8 col-xs-12">

        <% if current_article.data.category != 'terms' %>
          <%= partial 'partials/template/article.erb', locals: {pager: true} %>

        <% else %>
          <br>
          <%= partial 'partials/template/article.erb', locals: {breadcrumb: false, category: false, detail: false, image: false, pager: false} %>

        <% end %>

      </div>

      <div class="col-md-4 col-xs-12">
        <%= partial 'modules/blog/sidebar.erb' %>
      </div>

    </div>

  </div>

  <%= partial 'modules/blog/app-store.erb' %>
  <%= partial 'modules/blog/footer.erb' %>

<% end %>
