-##
-# Article layout
-#
-# @usage
-# -# Article layout
-# = wrap_layout "_codeBlender/article" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- cp      = current_page.data
- heading = cp.heading

-# Article
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-3

                %aside

                    -# Tags
                    .tagCloud

                        -# Tag cloud
                        = codeBlender "tag-cloud", "molecule"

                    -# Latest post
                    .blogLatest

                        -# Recent article
                        = codeBlender "recent", "molecule"

            -# Bootstrap column
            .col-md-6

                -# Blog post
                %article{ role: "article", itemscope: true, itemtype: "http://schema.org/BlogPosting"  }

                    -# Heading - article H1
                    = codeBlender "heading", "molecule", { extraClass: "heading--noMargin", small: heading.small, text: heading.title, itemprop: "name headline" }

                    -# Blog detail footer
                    = codeBlender "detail", "molecule", { author: true, cal: true, comment: true, social: true, tags: true }

                    -# Blog image
                    = codeBlender "image", "atom"

                    -# Yield
                    %span{ itemprop: "text" }= yield

                    -# Pager variables
                    - prevPage = current_article.previous_article ? current_article.previous_article : false
                    - nextPage = current_article.next_article     ? current_article.next_article     : false

                    -# Pager
                    = codeBlender "pager", "molecule", { prevPage: prevPage, nextPage: nextPage }

                    -# Discus comment
                    = codeBlender "disqus-comment", "organism"

            -# Bootstrap column
            .col-md-3

                %aside

                    -# Blog archive
                    = codeBlender "archive", "molecule"
