-##
-# Bootstrap layout
-# HTML5 core layout file
-#
-# @usage
-# -# Bootstrap
-# = wrap_layout "_codeBlender/bootstrap" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-# @see      http://www.tutorialspoint.com/html5/html5_microdata.htm
-##

-# Inject server side language if required
- if content_for? :bootstrapLayoutTop
    = yield_content :bootstrapLayoutTop

-# Variable
- locale       = I18n.locale.to_s
- d            = current_page.data
- htmlAngular  = data.config.html.angular  ? data.config.html.angular : false
- htmlManifest = data.config.html.manifest ? "/offline.manifest"     : false
- headPrefix   = data.config.head.prefix   ? data.config.head.prefix  : false

-# HTML5 doctype
!!! 5

-# HTML5 root element
-# Requires lang, manifest if option is created and angular app definition
-# @see https://www.w3.org/TR/html-markup/html.html
%html{ lang: string( :locale ), manifest: htmlManifest, ng: { app: htmlAngular } }

    -# Head section
    -# Prefix is utilised for structures like Facebook
    %head{ prefix: headPrefix }

        -# Meta tag
        = codeBlender "meta", "atom"

        -# Main style sheet
        -# @see http://apidock.com/rails/ActionView/Helpers/AssetTagHelper/stylesheet_link_tag
        = stylesheet_link_tag :"all.bundle", media: "all"

        -# Process injected head content
        - if content_for? :siteHead
            = yield_content :siteHead

        -# JavaScript head
        - if data.config.javascript.head
            = javascript_include_tag :"head.bundle"

    -# Facebook locale - check it exists and use on body tag
    - localeFacebook = I18n.exists?( :localeFacebook )    ? t( :localeFacebook )    : false
    - facebookAppID  = I18n.exists?( :"facebook.app.id" ) ? t( :"facebook.app.id" ) : false

    -# Angular controller
    - if d.angular
        - angularController  = d.angular.controller   ? d.angular.controller            : false
        - angularController += d.angular.controllerAs ? " as " + d.angular.controllerAs : false

    -# Body with page class
    -# Contains the main itemscope of the current page
    %body{ id:        data.config.body.id ? data.config.body.id : false,
           class:     data.config.body.extraClass ? data.config.body.extraClass : false,
           itemscope: true, itemtype: "https://schema.org/WebPage",
           data:      { localeFacebook: localeFacebook ? localeFacebook : false, facebookAppID: facebookAppID ? facebookAppID : false },
           ng:        { controller: angularController } }

        -# Top anchor
        %a{ id: "top" }

        -# Section - above navigation
        - if data.has_key? "navigation" and data.navigation.above
            = partial data.navigation.above

        -# Section - navigation bar
        - if data.has_key? "navigation" and data.navigation.navbar
            = codeBlender "navbar", "molecule", locals: data.navigation

        -# Section - below navigation
        - if data.has_key? "navigation" and data.navigation.below
            = partial data.navigation.below

        -# Section - yield
        = yield

        -# Section - footer
        - if data.has_key? "footer" and ( data.footer.footer.active or data.footer.copyright )
            = codeBlender "footer", "organism"

        -# Top icon
        - if data.config.topIcon
            = codeBlender "top-icon", "molecule"

        -# Configuration
        - if data.config.configuration
            = codeBlender "configuration", "molecule"

        -# Cordova
        - if data.config.javascript.cordova
            %script{ src: "cordova.js" }

        -# JavaScript
        -# @see http://apidock.com/rails/v4.0.2/ActionView/Helpers/AssetTagHelper/javascript_include_tag
        - if data.config.javascript.body
            = javascript_include_tag :"body.bundle"

        -# Google analytics
        - if data.has_key? "google" and data.google.analytics.active
            = codeBlender "google-analytics", "atom"
