-##
-# Full width
-#
-# @usage
-# -# Full width layout
-# = wrap_layout "#{ config[ :layout_dir ] }/fullWidth" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- d = current_page.data

-# Layout - calls wrapper layout
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Heading
    - if data.config.heading and d.heading
        = codeBlender "heading", "molecule", { small: d.heading.small, text: d.heading.title }

    -# Detail
    - if data.config.description
        %p= string d.description

    -# Local
    - if d.locals
        = codeBlender "local", "organism"

    -# Yield
    = yield

    -# Resource
    - if data.config.resources
        .container= codeBlender "resource", "organism"

    -# Asset
    - if data.config.assets
        .container= codeBlender "asset", "organism"

    -# Todo
    - if data.config.todo
        .container= codeBlender "todo", "organism"
