-##
-# Full width
-#
-# @usage
-# -# Full width layout
-# = wrap_layout "#{ config[ :layout_dir ] }/fullWidth" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- d  = current_page.data
- dc = data.config

-# Layout - calls wrapper layout
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Heading
    - if dc.heading and d.heading
        = codeBlender "heading", "molecule", { small: d.small ? d.small : false, text: d.title }

    -# Detail
    - if dc.description
        %p= string d.description

    -# Yield
    = yield

    -# Resource
    - if dc.resources
        .container= codeBlender "resource", "molecule"

    -# Todo
    - if dc.todo
        .container= codeBlender "todo", "molecule"
