-##
-# Portfolio
-#
-# @usage
-# -# Portfolio layout
-# = wrap_layout "#{ config[ :layout_dir ] }/portfolio" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category template
-##

-# Variable
- d = current_page.data

-# Portfolio
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-12

                -# Blog post
                %article{ role: "article", itemscope: true, itemtype: "http://schema.org/BlogPosting"  }

                    -# Heading - H1
                    = codeBlender "heading", "molecule", { pageHeader: true, extraClass: "heading--noMargin", small: d.small ? d.small : false, text: d.title, itemprop: "name headline" }

        -# Yield - portfolio post
        %span{ itemprop: "text" }= yield

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-12.col-sm-12

                -# Pager
                -# = codeBlender "pager", "molecule"

                -# Disqus comment
                - if d.comment
                    = codeBlender "disqus", "social/disqus/comment"
