-##
-# Portfolio
-#
-# @usage
-# -# Portfolio layout
-# = wrap_layout "_codeBlender/portfolio" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- cp      = current_page.data
- heading = cp.heading

-# Portfolio
= wrap_layout "_codeBlender/fullWidth" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-3

                %aside Side bar with nav to other projects

            -# Bootstrap column
            .col-md-9

                -# Blog post
                %article{ role: "article", itemscope: true, itemtype: "http://schema.org/BlogPosting"  }

                    -# Heading - H1
                    = codeBlender "heading", "molecule", { extraClass: "heading--noMargin", small: heading.small, text: heading.title, itemprop: "name headline" }

                    -# Blog detail footer
                    = codeBlender "detail", "molecule", { author: true, cal: true, comment: true, social: true, tags: true }

                    -# Blog image
                    = codeBlender "image", "molecule"

                    -# Yield
                    %span{ itemprop: "text" }= yield

                    -# Pager
                    = codeBlender "pager", "molecule"

                    -# Discus comment
                    = codeBlender "disqus-comment", "organism"