-##
-# Sidebar left
-#
-# @usage
-# -# Side bar left
-# = wrap_layout "_codeBlender/sidebarLeft" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-#
-# @todo Should either move the container and row out or use the default container from config - ie could be fluid
-##

-# Variable
- d = current_page.data

-# Layout - calls wrapper layout
= wrap_layout "_codeBlender/bootstrap" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-3

                -# Sub navigation
                = codeBlender "subnavigation", "organism"

            -# Bootstrap column
            .col-md-9.mainContent

                - if data.config.breadcrumbs

                    -# Breadcrumb
                    = codeBlender "breadcrumb", "molecule"

                - if data.config.heading

                    -# Heading - H2
                    = codeBlender "heading", "molecule", { small: d.heading.small, tag: "h2", text: d.heading.title }

                -# Detail
                - if data.config.description
                    %p= string d.description

                -# Local
                - if data.config.locals
                    = codeBlender "local", "organism"

                -# Yield
                = yield

                -# Resource
                - if data.config.resources
                    = codeBlender "resource", "organism"

                -# Asset
                - if data.config.assets
                    = codeBlender "asset", "organism"

                -# Todo
                - if data.config.todo
                    = codeBlender "todo", "organism"