-##
-# Sidebar left
-#
-# @usage
-# -# Side bar left
-# = wrap_layout "_codeBlender/sidebarLeft" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-#
-# @todo Should either move the container and row out or use the default container from config - ie could be fluid
-##

-# Variable
- d  = current_page.data
- dc = data.config

-# Layout - calls wrapper layout
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-3

                -# Sub navigation
                = codeBlender "subnavigation", "organism"

            -# Bootstrap column
            .col-md-9.mainContent

                -# Heading - H2
                - if dc.heading
                    = codeBlender "heading", "molecule", { extraClass: "heading--noMargin", pageHeader: true, small: d.heading.small, tag: "h2", text: d.heading.title }

                -# Breadcrumb
                - if dc.breadcrumbs
                    = codeBlender "breadcrumb", "molecule"

                -# Detail
                - if dc.description
                    %p= string d.description

                -# Local
                - if dc.locals
                    = codeBlender "local", "organism"

                -# Yield
                = yield

                -# Resource
                - if dc.resources
                    = codeBlender "resource", "organism"

                -# Asset
                - if dc.assets
                    = codeBlender "asset", "organism"

                -# Todo
                - if dc.todo
                    = codeBlender "todo", "organism"
