-##
-# Sidebar right
-#
-# @usage
-# -# Sidebar right
-# = wrap_layout "_codeBlender/sidebarRight" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- d = current_page.data

-# Layout - calls wrapper layout
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-9.mainContent

            - if dc.breadcrumbs

                -# Breadcrumb
                = codeBlender "breadcrumb", "molecule", { title: d.title }

            - if dc.heading

                -# Heading
                = codeBlender "heading", "molecule", { small: d.small ? d.small : false, text: d.title }

            -# Detail
            - if dc.description
                %p= string d.description

            -# Yield
            = yield

            -# Resource
            - if dc.resources
                = codeBlender "resource", "molecule"

            -# Todo
            - if dc.todo
                = codeBlender "todo", "molecule"

        -# Bootstrap column
        .col-md-3

            -# Sub-navigation
            = yield_content :sidebar
