-##
-# Sidebar right
-#
-# @usage
-# -# Sidebar right
-# = wrap_layout "_codeBlender/sidebarRight" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- d = current_page.data

-# Layout - calls wrapper layout
= wrap_layout "_codeBlender/bootstrap" do

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-9.mainContent

            - if dc.breadcrumbs

                -# Breadcrumb
                = codeBlender "breadcrumb", "molecule"

            - if dc.heading

                -# Heading
                = codeBlender "heading", "molecule", { small: string( d.small ), text: string( d.title ) }

            -# Detail
            - if dc.description
                %p= string d.description

            -# Local
            - if dc.locals
                = codeBlender "local", "organism"

            -# Yield
            = yield

            -# Resource
            - if dc.resources
                = codeBlender "resource", "organism"

            -# Assets
            - if dc.assets
                = codeBlender "asset", "organism"

            -# Todo
            - if dc.todo
                = codeBlender "todo", "organism"

        -# Bootstrap column
        .col-md-3

            -# Sub-navigation
            = yield_content :sidebar