-##
-# Blog Tag
-#
-# @usage
-# -# Tag
-# = wrap_layout "_codeBlender/tag" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- d = current_page.data

-# Article
= wrap_layout "#{ config[ :layout_dir ] }bootstrap" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-4

                -# Aside
                %aside

                    -# Tag Cloud
                    = codeBlender "tag-cloud", "molecule"

                    -# Recent article
                    = codeBlender "recent", "molecule"

                    -# Blog archive
                    = codeBlender "archive", "molecule"

            .col-md-8

                -# Heading
                = codeBlender "heading", "molecule", { small: d.small ? d.small : false, text: d.title, itemprop: "name" }

                -# Yield
                = yield
