-##
-# Blog Tag
-#
-# @usage
-# -# Tag
-# = wrap_layout "_codeBlender/tag" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- cp      = current_page.data
- heading = current_page.data.heading

-# Article
= wrap_layout "_codeBlender/fullWidth" do

    -# Bootstrap container
    .container

        -# Bootstrap row
        .row

            -# Bootstrap column
            .col-md-3

                -# Aside
                %aside

                    -# Tag
                    .tagCloud

                        -# Tag Cloud
                        = codeBlender "tag-cloud", "molecule"

                    .blogLatest

                        -# Recent article
                        = codeBlender "recent", "molecule"

            .col-md-6

                %article

                    -# Heading
                    = codeBlender "heading", "molecule", { small: heading.small, text: heading.title, itemprop: "name" }

                    -# Yield
                    = yield

            .col-md-3

                %aside

                    -# Blog archive
                    = codeBlender "archive", "molecule"