---
author      : DryKISS
description : "Simple Cart is a lightweight javascript shopping cart."
layout      : "site/page"
small       : "Javascript E-Commerce Cart"
title       : "Scaffolding Simple Cart Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/scaffolding"
    - title  : "Cart"
      url    : "/scaffolding/simple-cart/cart"
---

-##
-# CodeBlender Scaffolding Simple Cart
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://github.com/wojodesign/simplecart-js
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text => "Shop" }

-# Cart Widget
.cartWidget

    -# Cart Info
    .cartInfo

        %span.simpleCart_quantity
        items

    -# Cart Popover
    #cartPopover{ :hidden => true }

        #triangle
            ▲

        .simpleCart_items

        #cartData.clearfix
            .pull-left
                %strong Items:
                %span.simpleCart_quantity
            .pull-right
                %strong Total:
                %span.simpleCart_total

        #popoverButtons.clearfix

            = partial "bootstrap/css/button",
                       :locals => { :content => "View Cart",
                                    :href    => "/scaffolding/simple-cart/cart",
                                    :size    => "sm" }

            = partial "bootstrap/css/button",
                       :locals => { :color      => "success",
                                    :content    => "Checkout",
                                    :extraClass => "pull-right simpleCart_checkout",
                                    :href       => "javascript:;",
                                    :size       => "sm" }

-# Quantity
%br
You have
%span.simpleCart_quantity
items in your Cart.

Costing :
%span.simpleCart_total

-# Shelf
.simpleCart_shelfItem

    %h2.item_name
        Granola Bar

    %input.item_quantity{ :type => "text", :value => "1" }

    %span.item_price
        3.00

    %a.item_add{ :href => "javascript:;" }
        Add to Cart

.simpleCart_shelfItem

    %h2.item_name
        Hazelnut Spread

    %input.item_quantity{ :type => "text", :value => "1" }

    %span.item_price
        3.99

    %a.item_add{ :href => "javascript:;" }
        Add to Cart

%br

-# Empty Cart
= partial "bootstrap/css/button",
           :locals => { :color      => "warning",
                        :content    => "Empty Cart",
                        :extraClass => "simpleCart_empty",
                        :href       =>  "javascript:;" }

-# View Cart
= partial "bootstrap/css/button",
           :locals => { :color   => "info",
                        :content => "View Cart",
                        :href    =>  "/scaffolding/simple-cart/cart" }

-# Checkout
= partial "bootstrap/css/button",
           :locals => { :color      => "primary",
                        :content    => "Checkout",
                        :extraClass => "simpleCart_checkout",
                        :href       =>  "javascript:;" }