---

meta :
    author      : "DryKISS"
    description : "Footer, can provide organisation, social and location information - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Footer, can provide organisation, social and location information - CodeBlender"
    type        : "website"

heading :
    small : "Provides contextual information for the site"
    title : "Footer partial"

see :
    - - "Bootstrap Sticky Footer"
      - "http://getbootstrap.com/examples/sticky-footer/"

todo :
    - - "Enable the samples to be placed in a container-fluid"
    - - "Enable the footer to be fixed also - css"
    - - "What aria role should it take"
    - - "BEM the CSS"
    - - "Need to include microformats - could be viable for address / location elements in the footer"

locals :
    - - "array"
      - "array"
      - "optional"
      - "Local array, usually from page data"
    - - "fluid"
      - "bool"
      - "optional"
      - "Whether the footer will be fluid within the parent container"
    - - "footerClass"
      - "string"
      - "optional"
      - "Footer extra classes"
    - - "center"
      - "bool"
      - "optional"
      - "Whether to center the text for the copyright"
    - - "noYear"
      - "bool"
      - "optional"
      - "Flag to show the year or not"

footer :
    -   :title       : "Column 1"
        :icon        : info
        :description : |
            The quick brown fox jumps over the lazy dog

    -   :title       : "Column 2"
        :icon        : cogs
        :description : |
            The quick brown fox jumps over the lazy dog

    -   :title       : "Column 3"
        :icon        : facebook
        :extraClass  : social
        :description : |
            The quick brown fox jumps over the lazy dog

list :
   - text : "Terms & Conditions"
     url  : "terms"
   - text : "Privacy Policy"
     url  : "privacy"
   - text : "Support"
     url  : "support"

---

-# ID
- id = 0

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-6

        -# Panel body - markdown
        - panelBody = capture_html do
            :markdown
                The footer section contains two elements, the columned area that can contain
                any markdown information you require, and the copyright section underneath.

                Footer content is driven from the locale files. This yaml object not
                only determines the content but also the amount of columns as it is
                iterated through.

        -# Panel
        = partial "molecule/panel/panel", locals: { body: panelBody, heading: { text: "Introduction" } }

    -# Bootstrap column
    .col-md-6

        -# Panel body - markdown
        - panelBody = capture_html do
            :markdown

                Example locale YAML

                    en:
                        footer :

                            # Column One
                            - title       : "About"
                              icon        : "fa-info"
                              description : |
                                Content

        -# Panel
        = partial "molecule/panel/panel", locals: { body: panelBody, heading: { text: "Create" } }

-# Default
:ruby
    code = %{partial "./organism/footer/footer", locals: { fluid: true }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }

-# Using Local Data with No Background
:ruby
    code = %{partial "./organism/footer/footer",
                      locals: { array:       current_page.data.footer,
                                fluid:       true,
                                footerClass: "noBackground text-center" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Local data Footer" } }

-# Copyright centred text
:ruby
    code = %{partial "./organism/footer/footer", locals: { center: true, fluid: true }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Copyright centred text" } }

-# Copyright Extra Links
:ruby
    code = %{partial "./organism/footer/footer",
                      locals: { array:  current_page.data.list,
                                center: true,
                                fluid:  true }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Copyright Extra Links" } }

-# No Year
:ruby
    code = %{partial "./organism/footer/footer",
                      locals: { copyright: "Local String Inserted",
                                fluid:     true,
                                noYear:    true }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "No Year" } }