---

# Meta
description : "Twitter tweet button"
title       : "Twitter tweet button"

# See
see :
    - - "Tweet Button"
      - "https://dev.twitter.com/docs/tweet-button"

# Todo
todo :
    - - "Provide a sample of the JS version - using the promises"
    - - "Complete with the full set of parameters"

---


-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-6

        -# Panel body
        - panelBody = capture_html do

            -# Markdown
            :markdown

                The tweet button allows a user to tweet about the specific content on the
                page - usually sending some sample text and the url for twitter to then
                interpret into a twitter card.

        -# Panel
        = codeBlender "panel", "molecule", { body: panelBody, heading: { text: "Introduction" } }

    -# Bootstrap column
    .col-md-6

        -# Panel body - markdown
        - panelBody = capture_html do

            -# Markdown
            :markdown

                This can be invoked via a button or through JavaScript

                - twttr.widgets.createTweet
                - twttr.widgets.createShareButton

                If we use the default .twitter-share-button class then the Twitter JS will
                override the control and add the Twitter button and suck elements from data-
                attributes.

                To style the button replace .twitter-share-button with .twitter

        -# Panel
        = codeBlender "panel", "molecule", { body: panelBody, heading: { text: "Setup" } }

%hr

-# Bootstrap row
.row

    .col-md-12

        -##
        -# Default
        -##
        :ruby
            code = %{codeBlender "tweet-button", "social/twitter/tweet-button"}

        -# Code
        = codeBlender "code", "molecule", { code: code, heading: { text: "Default" } }

        %hr

        -##
        -# Tweet through JavaScript
        -##
        :ruby
            code = %{codeBlender "tweet-button", "social/twitter/tweet-button", { id: "twitterShare", url: "http://drykiss.com/", text: "Tweet", type: "javascript" }}

        -# Code
        = codeBlender "code", "molecule", { code: code, heading: { text: "Tweet through JavaScript" } }

        %hr

        -##
        -# Tweet through a link
        -##
        :ruby
            code = %{codeBlender "tweet-button", "social/twitter/tweet-button", { url: "http://drykiss.com/", text: "Tweet", type: "link" }}

        -# Code
        = codeBlender "code", "molecule", { code: code, heading: { text: "Tweet through JavaScript" } }
