-##
-# Dropdown Partial
-#
-# @Usage
-# = partial "./bootstrap/components/dropdown",
-#            locals: { extraClass: "btn-group clearfix",
-#                      title:      "Drop Down",
-#                      type:       "btn-group",
-#                      list:       { array:    current_page.data.list,
-#                                    dropdown: true }}
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- list   = locals[ :list ]
- button = locals[ :button ]

-# Capture the List Content
- capture = capture_html do

    -# Check type for DropDown or Button
    - if locals[ :type ] == "dropdown" || locals[ :type ] == "btn-group"

        -# Create Locals Button if its not created
        - if ! button
            - button = {}

        -# Add defaults for Dropdown Button
        - button[ :dropdown ] = true
        - button[ :content ]  = locals[ :title ]
        - button[ :toggle ]   = "dropdown"

        -# Button Partial
        = partial "./bootstrap/css/button", locals: button

        -# If NavBar
    - else

        -# Link To
        = link_to( "javascript:;", class: "dropdown-toggle", data: { toggle: "dropdown" } ) do

            -# Dropdown Title / HTML
            = string locals[ :title ]

            -# Icon or Image - overide in CSS
            %b.caret

    -# List Partial
    = partial "./bootstrap/type/listUL", locals: list

-# Dropdown
- if locals[ :type ] == "dropdown" || locals[ :type ] == "btn-group"

    %div{ class: locals[ :extraClass ] ? extraClass : false, ng: locals[ :ng ] ? ng : false  }
        = capture

- else

    %li.dropdown{ class: locals[ :dropDownClass ] ? dropDownClass : false }
        = capture