-##
-# Media
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Media
.media

    -# Link To
    = link_to( "#", class: "pull-left" ) do
        %img.media-object{ src: "holder.js/64x64", alt: "" }

    .media-body

        %h4.media-heading
            = lorem.words 2

        -# Lorem Ipsum
        = lorem.paragraphs 1

-# Media
.media

    -# Link To
    = link_to( "#", class: "pull-left" ) do
        %img.media-object{ src: "holder.js/64x64", alt: "Holder" }

    .media-body

        %h4.media-heading
            = lorem.words 2

        -# Lorem Ipsum
        = lorem.paragraphs 1

        -# Media
        .media

            -# Link To
            = link_to( "#", class: "pull-left" ) do
                %img.media-object{ src: "holder.js/64x64", alt: "Holder" }

            .media-body

                %h4.media-heading
                    = lorem.words 2

                -# Lorem Ipsum
                = lorem.paragraphs 1