-##
-# NavBar
-#
-# @usage
-#
-# @locals
-# brand      :
-#     active : false
-#     text   : true
-#     link   : "overview"
-# icon       : false
-# extraClass : "navbar-default navbar-fixed-top" # navbar-static-top navbar-inverse navbar-fixed-bottom
-# ng         :
-#     controller : "NavBarCtrl"
-#     show       : "NavBarService"
-#     cloak      : ""
-# logo       :
-#     alt    : false
-#     width  : false
-#     height : false
-# position   : "fixed-top"
-# search     : false
-# type       : false
-# uLClass    : "navbar-left"
-# wrapper    : false
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc    = data.config
- nav   = locals
- links = t( :navigation )

-# Navbar
%nav.navbar{ id:    nav.id ? id : "navbar",
             class: nav.extraClass ? extraClass : false,
             role:  "navigation",
             ng:    nav.ng ? ng : false }

    -# Bootstrap Container - drawn from config container
    %div{ class: dc.container }

        -# Navbar Header
        .navbar-header

            -# Create the Nav Collapse Menu
            %button.navbar-toggle.collapsed{ type: :button,
                                             data: { toggle: :collapse,
                                                     target: nav.target ? "##{ target }" : "#navbar-collapse" } }
                %span.sr-only Toggle Navigation

                -# Loop through Spans
                - 3.times do
                    %span.icon-bar

            -# Variable
            - brand = nav.brand

            -# Display the Logo or Brand Name and optional Icon
            - if brand.active

                -# Link To
                = link_to( brand.link.url,
                           class: "navbar-brand",
                           title: brand.text.active ? string( brand.text.title ): false,
                           ui:    brand.link.ui ? brand.link.ui : false ) do

                    -# Icon
                    - if brand.icon.active
                        = icon brand.icon.icon

                    -# Show Image
                    - if brand.logo.active

                        -# Image
                        = partial "./bootstrap/css/image",
                                   locals: { alt:  string( brand.logo.alt ),
                                             size: [ brand.logo.width, nav.brand.height ],
                                             src:  brand.logo.url ? brand.logo.url : "logo/logo.png" }

                    -# Show Brand
                    - if brand.text.active
                        = string brand.text.text

        -# Create the collapse area
        .navbar-collapse.collapse{ id: nav.target ? target : "navbar-collapse" }

            -# Optional Wrapper for off-canvas responsive menus
            %div{ class: nav.wrapper ? nav.wrapper : false }

                -# Loop through the Left, Center and Right sections
                - links.each do | entry |

                    -# List Initiation
                    %ul.nav.navbar-nav{ class: "navbar-#{ entry[ 0 ] }" }

                        -# Loop through entries
                        - entry[ 1 ].each do | side |

                            -# Get correct URL path
                            -# - if ! relative_links
                            -#     - url = current_page.url.length > 1 ? current_page.url[ 0...-1 ] : current_page.url
                            -# - else
                            -#     - url = File.dirname( URI.parse( current_page.url ).path )

                            -# Sort out what item is active
                            -# - side[ :active ] = ( url == side[ :url ] ) ? true : false

                            -# Process Array
                            -# - array = []
                            -# - array << side

                            -# Dropdown menu
                            - if side[ :dropdown ]

                                -# Dropdown Partial
                                = partial "./bootstrap/components/dropdown",
                                           locals: { dropDownClass: side[ :dropdownClass ],
                                                     title:         side[ :dropdown ],
                                                     list:          { array: side[ :items ], dropdown: true } }

                                -# Shop Widget
                            - elsif side[ :shop ]

                                -# Simple Cart Widget
                                %li= partial "./e-commerce/widget"

                                -# Button
                            - elsif side[ :button ]

                                %div{ class: side[ :extraClass ] ? side[ :extraClass ] : false }

                                    -# Button
                                    = partial "./bootstrap/css/button", locals: side[ :button ]

                                -# Just show a Partial useful for Mega Menus
                            - elsif side[ :partial ]

                                = partial "../_lib/#{ side[ :partial ] }"

                                -# Text Link
                            - else

                                -# List
                                = partial "./bootstrap/type/listUL",
                                           locals: { array:      [ side ],
                                                     navBar:     true,
                                                     extraClass: side[ :extraClass ] }

                        -# Google Search Bar
                        - if dc.google.search
                            = partial "./google/search"