-##
-# Pagination
-#
-# Usage
-#
-# Variables
-# -# Variables
-# - prevPage = prev_page ? prev_page.url : false
-# - nextPage = next_page ? next_page.url : false
-#
-# -# Pagination
-# = partial "./bootstrap/components/pagination",
-#            locals: { nextPage: "#{ prevPage }",
-#                      prevPage: "#{ nextPage }",
-#                      pageNo:   "#{ page_number }",
-#                      pages:    "#{ num_pages }" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @todo   Issue exists with Strip Index file variable.
-##

-# Pagination
%ul.pagination

    -# Variables
    - pageNo     = locals[ :pageNo ].to_i
    - totalPages = locals[ :pages ].to_i

    -# First

    -# Previous Page
    - if locals[ :prevPage ] != "false"
        %li= link_to string( :"pagination.previous" ), prevPage

    -# Loop through the number of pages
    - ( pageNo - 2 .. pageNo + 2 ).select{ | i | i > 0 && i <= totalPages }.each do | i |

        -# Active
        - if i == pageNo.to_i

            -# Active List
            %li.active
                %span= i

        - else

            %li

                - p = nil

                -# Lower Numbers
                - ( i ... pageNo ).each do
                    - p = prevPage

                -# Greater Numbers
                - ( pageNo ... i ).each do
                    - p = nextPage

                -# Link
                = link_to i, p

    -# Next Page
    - if locals[ :nextPage ] != "false"
        %li= link_to string( :"pagination.next" ), nextPage

    -# Last