-##
-# Pagination
-#
-# Usage
-#
-# Variables
-# - prev_page = prev_page ? prev_page.url : false
-# - next_page = next_page ? next_page.url : false
-#
-# -# Pagination
-# - partial "./bootstrap/components/pagination",
-#            locals: { nextPage: "#{ next_page }",
-#                      prevPage: "#{ prev_page }",
-#                      pageNo:   "#{ page_number }",
-#                      pages:    "#{ num_pages }" }}
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @todo   Issue exists with Strip Index file variable.
-##

-# Pagination
%ul.pagination

    -# Previous Page
    - if locals[ :prevPage ] != "false"
        %li= link_to string( :"pagination.previous" ), prevPage

    -# Loop through the number of pages
    - ( 1..locals[ :pages ].to_i ).each do | page |

        -# Active
        - if locals[ :pageNo ].to_i == page.to_i

            -# Active List
            %li.active
                %span= page

        - else

            %li

                -# Create Variables
                - url = current_page.url
                / - newStr   = url.sub( /\d+\/$/, page.to_s )
                / - uri      = URI.parse( url )
                / - path     = File.dirname( uri.path )
                / - basename = File.basename( uri.to_s, ".html" )

                -# Page string
                - if page == 1
                    - newStr = "/"
                - else
                    - newStr = "/page/#{ page }/"

                -# Create Link
                = link_to page, newStr

    -# Next Page
    - if locals[ :nextPage ] != "false"
        %li= link_to string( :"pagination.next" ), nextPage