-##
-# Blog Article
-#
-# Usage
-# = wrap_layout "_library/blog/article" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- cp      = current_page.data
- heading = current_page.data.heading

-# Article
= wrap_layout "_library/site/full-width" do

    :markdown

        - Add in search
        - Add in tags
        - Add in social links - facebook like and share, tweet and pin
        - Add in report page button
        - Add in video / image - could be carousel
        - Add in title
        - Add in price
        - Add in content
        - Add in Ribbons on some products
        - Add in Trending Today
        - Add in Buy Now
        - Add in Add to Wishlist
        - Add in Comments
        - Add in related products
        - Add in newsletter

    .row

        .col-md-3

            %aside

                -# Tags
                .tagCloud

                    -# Tag Cloud
                    = tagCloud()

                -# Latest Posts
                .blogLatest

                    -# Recent Articles
                    = partial "./blog/recent"

        .col-md-6

            %article

                -# Heading
                = partial "./bootstrap/type/heading",
                           locals: { extraClass: "noMargin",
                                     small:      heading.small,
                                     text:       heading.title }

                -# Details
                = partial "./blog/details",
                           locals: { more: false }

                -# Image
                = partial "./blog/image"

                -# Yield
                = yield

                -# Pager
                = partial "./bootstrap/components/pager"

                -# Discus Comments
                = partial "./social/disqus/comments"

        .col-md-3

            %aside

                -# Archive
                = partial "./blog/archive"