-##
-# Article layout
-#
-# @usage
-# -# Article layout
-# = wrap_layout "_library/article.layout" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-##

-# Variable
- cp      = current_page.data
- heading = cp.heading

-# Article
= wrap_layout "_library/fullWidth" do

    .container

        .row

            .col-md-3

                %aside

                    -# Tags
                    .tagCloud

                        -# Tag cloud
                        = partial "./molecule/tag-cloud/tag-cloud"

                    -# Latest posts
                    .blogLatest

                        -# Recent article
                        = partial "./molecule/recent/recent"

            .col-md-6

                -# Blog Post
                %article{ role: "article", itemscope: true, itemtype: "http://schema.org/BlogPosting"  }

                    -# Heading - article H1
                    = partial "./molecule/heading/heading", locals: { extraClass: "heading--noMargin", small: heading.small, text: heading.title, itemprop: "name headline" }

                    -# Blog detail footer
                    = partial "./molecule/detail/detail", locals: { author: true, cal: true, comment: true, social: true, tags: true }

                    -# Blog image
                    = partial "./molecule/image/image"

                    -# Yield
                    %span{ itemprop: "text" }= yield

                    -# Pager
                    = partial "./molecule/pager/pager"

                    -# Discus comment
                    = partial "organism/disqus-comment/comment"

            .col-md-3

                %aside

                    -# Blog archive
                    = partial "./molecule/archive/archive"
