-##
-# Blog Article
-#
-# @usage
-# -# Article layout
-# = wrap_layout "_library/article" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @todo - Add in search - Add in tags - Add in social links - facebook like and share, tweet and pin - Add in report page button
-# @todo - Add in video / image - could be carousel - Add in title - Add in price - Add in content - Add in Ribbons on some products
-# @todo - Add in Trending Today - Add in Buy Now - Add in Add to Wishlist - Add in Comments - Add in related products - Add in newsletter
-##

-# Variables
- cp      = current_page.data
- heading = cp.heading

-# Article
= wrap_layout "_library/fullWidth" do

    .row

        .col-md-3

            %aside

                -# Tags
                .tagCloud

                    -# Tag Cloud
                    = tagCloud()

                -# Latest Posts
                .blogLatest

                    -# Recent Articles
                    = partial "./blog/recent"

        .col-md-6

            %article

                -# Heading
                = partial "./molecule/heading/heading", locals: { extraClass: "noMargin", small: heading.small, text: heading.title }

                -# Details
                = partial "./blog/detail/detail", locals: { more: false }

                -# Image
                = partial "./blog/image"

                -# Yield
                = yield

                -# Pager
                = partial "./bootstrap/component/pager"

                -# Discus Comments
                = partial "./social/disqus/comments"

        .col-md-3

            %aside

                -# Archive
                = partial "./blog/archive"