-##
-# Bootstrap layout
-# HTML5 core layout file
-#
-# @usage
-# -# Bootstrap
-# = wrap_layout "_library/article" do
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category layout
-# @see http://www.tutorialspoint.com/html5/html5_microdata.htm
-##

-# Variable
- locale       = I18n.locale.to_s
- d            = current_page.data
- htmlAngular  = dataConfig.html.angular  ? dataConfig.html.angular : false
- htmlManifest = dataConfig.html.manifest ? "/offline.manifest"     : false
- headPrefix   = dataConfig.head.prefix   ? dataConfig.head.prefix  : false

-# HTML5 doctype
!!! 5

-# HTML5 root element
-# Requires lang, manifest if option is created and angular app definition
-# @see https://www.w3.org/TR/html-markup/html.html
%html{ lang: string( :locale ), manifest: htmlManifest, ng: { app: htmlAngular } }

    -# Head section
    -# Prefix is utilised for structures like Facebook
    %head{ prefix: headPrefix }

        -# Meta tag
        = partial "./atom/meta/all"

        -# Main style sheet
        -# @see http://apidock.com/rails/ActionView/Helpers/AssetTagHelper/stylesheet_link_tag
        = stylesheet_link_tag :all, media: "all"

        -# Process injected head content
        - if content_for? :siteHead
            = yield_content :siteHead

        -# JavaScript head
        - if dataConfig.javascript.head
            = javascript_include_tag :head

    -# Facebook locale
    - if data.has_key? "facebook"
        - localFB = data.facebook.locale.present? ? data.facebook.locale[ locale ] : false
    - else
        - localFB = false

    -# Angular controller
    - if d.angular
        - angularController  = d.angular.controller   ? d.angular.controller            : false
        - angularController += d.angular.controllerAs ? " as " + d.angular.controllerAs : false

    -# Body with page class
    -# Contains the main itemscope of the current page
    %body{ id:        dataConfig.body.id ? dataConfig.body.id : false,
           class:     dataConfig.body.extraClass ? dataConfig.body.extraClass : false,
           itemscope: true, itemtype: "https://schema.org/WebPage",
           ng:        { controller: angularController } }

        -# Top anchor
        %a{ id: "top" }

        -# Facebook root, requires an AppID
        - if localFB
            #fb-root

        -# Section - above navigation
        - if dataNav.present? && dataNav.above
            = partial dataNav.above

        -# Section - navigation bar
        - if dataNav.present? && dataNav.navbar
            = partial "molecule/navbar/navbar", locals: dataNav

        -# Section - below navigation
        - if dataNav.present? && dataNav.below
            = partial dataNav.below

        -# Section - yield
        = yield

        -# Section - footer
        - if dataConfig.footer.active or dataConfig.copyright
            = partial "./organism/footer/footer"

        -# Top icon
        - if dataConfig.topIcon
            = partial "./molecule/top-icon/top-icon"

        -# Configuration
        - if dataConfig.configuration
            = partial "./scaffolding/configuration"

        -# JavaScript
        -# @see http://apidock.com/rails/v4.0.2/ActionView/Helpers/AssetTagHelper/javascript_include_tag
        - if dataConfig.javascript.body
            = javascript_include_tag :body

        -# Google analytics
        - if dataGoogle.present? and dataGoogle.analytics.active
            = partial "./atom/google-analytics/google-analytics"