-##
-# Full Width
-#
-# @usage
-# -# Full Width layout
-# = wrap_layout "_library/fullWidth" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dataCurrent = current_page.data

-# Layout - Calls Wrapper Layout
= wrap_layout "_library/bootstrap" do

    .row

        -# Heading
        - if dataConfig.heading
            = partial "molecule/heading/heading", locals: { small: string( dataCurrent.small ), text: string( dataCurrent.title ) }

        -# Details
        - if dataConfig.description
            %p= string dataCurrent.description

        -# Locals
        - if dataCurrent.locals
            = partial "./scaffolding/locals"

        -# Yield
        = yield

        -# Resources
        - if dataConfig.resources
            = partial "./scaffolding/resources"

        -# Assets
        - if dataConfig.assets
            = partial "./scaffolding/assets"

        -# Todo
        - if dataConfig.todo
            = partial "./scaffolding/todo"