-##
-# Full Width
-#
-# @usage
-# -# Full Width layout
-# = wrap_layout "_library/fullWidth" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dataCurrent = current_page.data

-# Layout - Calls Wrapper Layout
= wrap_layout "_library/bootstrap" do

    -# Heading
    - if dataConfig.heading
        = partial "./molecule/heading/heading", locals: { small: string( dataCurrent.small ), text: string( dataCurrent.title ) }

    -# Details
    - if dataConfig.description
        %p= string dataCurrent.description

    -# Locals
    - if dataCurrent.locals
        = partial "./organism/local/local"

    -# Yield
    = yield

    -# Resources
    - if dataConfig.resources
        .container
            = partial "./organism/resource/resource"

    -# Assets
    - if dataConfig.assets
        .container
            = partial "./organism/asset/asset"

    -# Todo
    - if dataConfig.todo
        .container
            = partial "./organism/todo/todo"