-##
-# Sidebar Left
-#
-# @usage
-# -# Side bar Left
-# = wrap_layout "_library/sidebarLeft" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- d  = current_page.data
- dc = data.config

-# Layout - Calls Wrapper Layout
= wrap_layout "_library/bootstrap" do

    .row

        -# Nav List
        .col-md-3

            -# Subnavigation
            = yield_content :sidebar

        -# Main Content
        .col-md-9.mainContent

            -# Breadcrumbs
            - if dc.breadcrumbs
                = partial "./bootstrap/component/breadcrumbs"

            -# Heading
            - if dc.heading
                = partial "./molecule/heading/heading", locals: { small: string( d.small ), text: string( d.title ) }

            -# Details
            - if dc.description
                %p= string d.description

            -# Locals
            - if dc.locals
                = partial "./scaffolding/locals"

            -# Yield
            = yield

            -# Resources
            - if dc.resources
                = partial "./scaffolding/resources"

            -# Assets
            - if dc.assets
                = partial "./scaffolding/assets"

            -# Todo
            - if dc.todo
                = partial "./scaffolding/todo"