-##
-# Sidebar Left
-#
-# @usage
-# -# Side bar Left
-# = wrap_layout "_library/sidebarLeft" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Should either move the container and row out or use the default container from config - ie could be fluid
-##

-# Variables
- d = current_page.data

-# Layout - Calls Wrapper Layout
= wrap_layout "_library/bootstrap" do

    .container

        .row

            -# Nav List
            .col-md-3

                -# Subnavigation
                = yield_content :sidebar

            -# Main Content
            .col-md-9.mainContent

                -# Breadcrumbs
                - if dataConfig.breadcrumbs
                    = partial "./molecule/breadcrumb/breadcrumb"

                -# Heading
                - if dataConfig.heading
                    = partial "./molecule/heading/heading", locals: { small: d.small, text: d.title }

                -# Details
                - if dataConfig.description
                    %p= string d.description

                -# Locals
                - if dataConfig.locals
                    = partial "./organism/local/local"

                -# Yield
                = yield

                -# Resources
                - if dataConfig.resources
                    = partial "./organism/resource/resource"

                -# Assets
                - if dataConfig.assets
                    = partial "./organism/asset/asset"

                -# Todo
                - if dataConfig.todo
                    = partial "./organism/todo/todo"