-##
-# Sidebar Right
-#
-# @usage
-# -# Sidebar Right
-# = wrap_layout "_library/sidebarRight" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- d = current_page.data

-# Layout - Calls Wrapper Layout
= wrap_layout "_library/bootstrap" do

    .row

        -# Main Content
        .col-md-9.mainContent

            -# Breadcrumbs
            - if dc.breadcrumbs
                = partial "./molecule/breadcurmb/breadcrumb"

            -# Heading
            - if dc.heading
                = partial "./molecule/heading/heading", locals: { small: string( d.small ), text: string( d.title ) }

            -# Details
            - if dc.description
                %p= string d.description

            -# Locals
            - if dc.locals
                = partial "./organism/local/local"

            -# Yield
            = yield

            -# Resources
            - if dc.resources
                = partial "./organism/resource/resource"

            -# Assets
            - if dc.assets
                = partial "./organism/asset/asset"

            -# Todo
            - if dc.todo
                = partial "./organism/todo/todo"

        -# Nav List
        .col-md-3

            -# Subnavigation
            = yield_content :sidebar