-##
-# Blog Tags
-#
-# @usage
-# -# Tags
-# = wrap_layout "_library/tags" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- cp      = current_page.data
- heading = current_page.data.heading

-# Article
= wrap_layout "_library/fullWidth" do

    .container

        .row

            .col-md-3

                %aside

                    -# Tags
                    .tagCloud= tagCloud()

                    -# Recent Articles
                    .blogLatest= partial "./blog/recent"

            .col-md-6

                %article

                    -# Heading
                    = partial "molecule/heading/heading", locals: { small: heading.small, text: heading.title }

                    -# Yield
                    = yield

            .col-md-3

                -# Archive
                %aside= partial "./blog/archive"