---

stub : listgroup

heading :
    title : "List Group"

see :
    - - "Bootstrap List Group"
      - "http://getbootstrap.com/component/#list-group"

todo :
    - - "Link should be optional for the list group - either li or a depending of url specified"
      - "List Group"
      - "2014-03-18"
      - { "context" : "danger" }
    - - "Change contex tual to colour or type"
      - "List Group"
      - "2014-03-18"
      - { "context" : "warning" }

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of the list required"
    - - "list"
      - "string"
      - "optional"
      - "What Tag context to use for this"

---

-# Default
:ruby
    code = %{partial "./molecule/listGroup/listGroup",
                      locals: { array: [ { active: true,
                                           title:  lorem.words( 2 ),
                                           url:    "#" },
                                         { title:  lorem.words( 2 ),
                                           url:    "#" } ] }}

-# Code
= partial "./organism/code/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "Default" } }

-# With Badges
:ruby
    code = %{partial "./molecule/listGroup/listGroup",
                      locals: { array: [ { badge: "14",
                                           title: lorem.words( 2 ),
                                           url:   "#" },
                                         { active: true,
                                           badge:  "14",
                                           title:  lorem.words( 2 ),
                                           url:    "#" } ] }}

-# Code
= partial "./organism/code/code",
           locals: { id:      2,
                     code:    code,
                     heading: { text: "List Group With Badges" } }

-# Contextual
:ruby
    code = %{partial "./molecule/listGroup/listGroup",
                      locals: { array: [ { title:   lorem.words( 2 ),
                                           url:     "#",
                                           context: "success" },
                                         { title:   lorem.words( 2 ),
                                           url:     "#",
                                           context: "danger" } ] }}

-# Code
= partial "./organism/code/code",
           locals: { id:      3,
                     code:    code,
                     heading: { text: "Contextual" } }

-# Content
:ruby
    code = %{partial "./molecule/listGroup/listGroup",
                      locals: { array: [ { badge:   "14",
                                           heading: lorem.words( 2 ),
                                           text:    lorem.words( 20 ),
                                           url:     "#" },
                                         { heading: lorem.words( 2 ),
                                           text:    lorem.words( 20 ),
                                           url:     "#" } ] }}

-# Code
= partial "./organism/code/code",
           locals: { id:      4,
                     code:    code,
                     heading: { text: "Content" } }

-# Non-Linked
:ruby
    code = %{partial "./molecule/listGroup/listGroup",
                      locals: { array: [ { title: lorem.words( 2 ) },
                                         { title: lorem.words( 2 ) } ],
                                list:  true }}

-# Code
= partial "./organism/code/code",
           locals: { id:      5,
                     code:    code,
                     heading: { text: "Non-Linked" } }