---

stub : modal

heading :
    small : "modal.js"
    title : "Modals"

see :
    - - "Bootstrap Modal"
      - "http://getbootstrap.com/javascript/#modals"

todo :
    - - "Enable the removal of the Horizontal lines splitting header and footer"
      - "Modal"
      - "2014-04-22"
      - { "context" : "info" }
    - - "Footer pulls things right - need to overide this perhaps"
      - "Modal"
      - "2014-04-22"
      - { "context" : "info" }

locals :
    - - "body"
      - "string"
      - "required"
      - "Body Text"
    - - "contentClass"
      - "string"
      - "optional"
      - "Class for the .modal-content div"
    - - "footer"
      - "bool"
      - "optional"
      - "Whether to show the footer element"
    - - "header"
      - "string"
      - "bool"
      - "Whether to show the header - default true, contains the close icon"
    - - "id"
      - "string"
      - "optional"
      - "Modal ID - this needs to match up with the initiating link"
    - - "noAnimation"
      - "bool"
      - "optional"
      - "Flag for animation, defaults to bootstrap fade class"
    - - "size"
      - "string"
      - "optional"
      - "Modals have two optional sizes, modifier classes, modal-lg and modal-sm"
    - - "title"
      - "string"
      - "optional"
      - "Header Text"

---

-# Heading
= partial "./molecule/heading/heading", locals: { tag: "h2", text: "Overlapping modals not supported" }

%p
    Be sure not to open a modal while another is still visible. Showing more than
    one modal at a time requires custom code.

-# Heading
= partial "./molecule/heading/heading", locals: { tag: "h2", text: "Modal markup placement" }

%p
    Always try to place a modal's HTML code in a top-level position in your
    document to avoid other components affecting the modal's appearance and/or
    functionality.

-# Heading
= partial "./molecule/heading/heading", locals: { tag: "h2", text: "Default" }

-# Title
- title = "Modal Title"

-# Body
- body = capture_html do
    %p Modal Body

-# Modal
= partial "./molecule/modal/modal", locals: { id: "myModal", body: body, title: title }

-# Button
= partial "./atom/button/button", locals: { context: "primary", text: "Launch Modal", data: { target: "#myModal", toggle: "modal" } }