---

stub : pagination

heading :
    title : "Pagination"

pageable : true

see :
    - - "Bootstrap Pagination"
      - "http://getbootstrap.com/components/#pagination"
    - - "Pagination Tutorial"
      - "http://www.slevenbits.com/blog/2013/01/middleman-blog-pagination.html"

locals :
    - - "pageNo"
      - "int"
      - "required"
      - "Current Page Number - page_number"
    - - "pages"
      - "int"
      - "required"
      - "Number of pages - num_pages"
    - - "prevPage"
      - "string"
      - "required"
      - "Previous page devault variable - prev_page"
    - - "nextPage"
      - "string"
      - "required"
      - "Next page devault variable - next_page"

---

/ - id = 1

/ -# Variables
/ - prev_page = prev_page ? prev_page.url : false
/ - next_page = next_page ? next_page.url : false

/ = partial "./molecule/pagination/pagination",
/                       locals: { nextPage: "#{ next_page }",
/                                 prevPage: "#{ prev_page }",
/                                 pageNo:   "#{ page_number }",
/                                 pages:    "#{ num_pages }" }

/ -# Tabs
/ :ruby
/     code = %{partial "./molecule/pagination/pagination",
/                       locals: { nextPage: "#{ next_page }",
/                                 prevPage: "#{ prev_page }",
/                                 pageNo:   "#{ page_number }",
/                                 pages:    "#{ num_pages }" }}

/ -# Code
/ = partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }