---

stud : thumbnail

heading :
    small : "Responsive media components"
    title : "Thumbnails"

bar :
    - sup  : Expires
      text : 485 Days
    - sup  : Offer Type
      text : Cashback
    - icon : bookmark
      href : "#bookmark"

see :
    - - "Bootstrap Thumbnails"
      - "http://getbootstrap.com/component/#thumbnails"

todo :
    - - "Needs revisiting as a component so it allows for all the possibilites of usage"
      - "Thumbnail"
      - "2014-06-27"
      - { "context" : "danger" }
    - - "Need to link whole image to destination"
      - "Thumbnail"
      - "2014-02-15"
      - { "context" : "warning" }
    - - "Add image Ribbon to thumbnail"
      - "Thumbnail"
      - "2014-02-15"
      - { "context" : "info" }
    - - "Options to remove thumbnail border"
      - "Thumbnail"
      - "2014-02-15"
      - { "context" : "info" }

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of the Thumbnails"
    - - "image"
      - "array"
      - "optional"
      - "See Image Partial"
    - - "thumbnail"
      - "array"
      - "optional"
      - "options"
    - - "caption"
      - "string"
      - "optional"
      - "Content for the caption area"
    - - "href"
      - "string"
      - "optional"
      - "Link for whole Thumbnail, and zoomix"
    - - "extraClass"
      - "string"
      - "optional"
      - "String of classes to append to Thumbnail"
    - - "zoomix"
      - "bool"
      - "optional"
      - "To allow zommix, a HREF to the image must be supplied also"
    - - "columns"
      - "string"
      - "optional"
      - "Columns string show the thumbnails in i.e. col-sm-6"
    - - "extraClass"
      - "string"
      - "optional"
      - "Class for the row"

---

- id = 1

/ -# Default Thumbnail
/ :ruby
/     code = %{partial "./atom/thumbnail/thumbnail",
/                       locals: { array: [ { image: { data: { src: "holder.js/300x200/auto" } } },
/                                          { image: { data: { src: "holder.js/100x100/auto" } } },
/                                          { image: { data: { src: "holder.js/100x100/auto" } } },
/                                          { image: { data: { src: "holder.js/100x100/auto" } } },
/                                          { image: { data: { src: "holder.js/300x200/auto" } } } ] }}

/ -# Code
/ = partial "organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Just an array of images", text: "Default" } }

-# Linked Thumbnail
:ruby
    code = %{partial "./atom/thumbnail/thumbnail",
                      locals: { array: [ { image:     { src: "footer/background1.png" },
                                           thumbnail: { href: image_path( "footer/background1.png" ) } } ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Provide an HREF for the image", text: "Linked Thumbnail" } }

-# Captioned Thumbnail
-# Get the list of categories of the products
- blog.articles.each do | article |

    -# Capture Content
    - @captureHTML = capture_html do

        -# Blog Details
        = partial "./molecule/detail/detail", locals: { current_page: article }

-# Thumbnails
= partial "./atom/thumbnail/thumbnail",
           locals: { array: [ { image:     { data: { src: "holder.js/300x200/auto" }, href: "HERE" },
                                thumbnail: { caption: @captureHTML } } ] }

-# Code
:ruby
    code = %{partial "./atom/thumbnail/thumbnail",
                      locals: { array: [ { image:     { data: { src: "holder.js/300x200/auto" } },
                                           thumbnail: { caption: @captureHTML, href: "HERE" } } ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Push an HTML element into the Tumb array", text: "Captioned Thumbnail" } }

-# Zoomix Thumbnail
:ruby
    code = %{partial "./atom/thumbnail/thumbnail",
                      locals: {  array: [ { image:     { data: { src: "holder.js/300x200/auto" } },
                                            thumbnail: { zoomix: true,
                                                         href:   image_path( "footer/background1.png" ),
                                                         data:   { toggle: "lightbox" } } } ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Provide a Gallery", text: "Zoomix Thumbnail" } }