-##
-# Football matrix
-#
-# @usage
-# -# Football matrix
-# = partial "football/matrix/matrix.haml",
-#            locals: { extraClass: "table-striped table-condensed" }
-#
-# @category football
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Results matrix
- results = Matrix.matrix( locals[ :season ], locals[ :division ] )
- teams   = results.keys.sort

-# Table
%table#results_table.table.table-bordered.table-hover.table-striped

    -# Away team
    %tr.away_teams

        %td

        - teams.each do | away_team |
            %td
                %div= away_team

    -# Team
    - teams.each do | team |

        - team_results = results[ team ]

        -# Home team
        %tr.home_team

            %td= team

            - teams.each do | home_team |

                - if team_results[ home_team ]
                    %td= "#{ team_results[ home_team ][ :f ]} - #{ team_results[ home_team ][ :a ]}"

                - elsif team == home_team
                    %td.same_team

                - else
                    %td.no_play
