---
author       : "Ian Warner"
description  : "All HTML headings, h1 through h6, are available. .h1 through .h6
                classes are also available, for when you want to match the font
                styling of a heading but still want your text to be displayed inline."
layout       : "site/page"
small        : "http://getbootstrap.com/css/#type-headings"
title        : "Bootstrap Heading Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Headings"
      - "http://getbootstrap.com/css/#type-headings"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Standard H2 Heading",
                        :type => "h2" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/heading",
               :locals => { :text => "Standard H2 Heading",
                            :type => "h2" }

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :small => "Secondary small text",
                        :text  => "H2 with Secondary Text",
                        :type  => "h2" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/heading",
               :locals => { :small => "Secondary small text",
                            :text  => "H2 with Secondary Text",
                            :type  => "h2" }

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :small => "Simply add the type attribute",
                        :text  => "H4",
                        :type  => "h4" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/heading",
               :locals => { :small => "Simply add the type attribute",
                            :text  => "H4",
                            :type  => "h4" }