---
author       : "Ian Warner"
description  : "A list of items in which the order does not explicitly matter."
layout       : "site/page"
small        : "http://getbootstrap.com/css/#type-lists"
title        : "Bootstrap List Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

list :
    - text : "Lorem ipsum dolor sit amet"
    - text : "Facilisis in pretium nisl aliquet"

list1 :
    - title : "Description Title 1"
      text  : "Lorem ipsum dolor sit amet"
    - title : "Description Title 2"
      text  : "Facilisis in pretium nisl aliquet"

see :
    - - "Bootstrap List"
      - "http://getbootstrap.com/css/#type-lists"

todo :
    - - "Need to push in another list for unordered lists also"
      - ""
      - "2014-02-12"
    - - "Allow the links to have a different target such as _blank"
      - ""
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Unordered List",
                        :type => "h2" }

-# List
= partial "bootstrap/type/list",
           :locals => { :array => data.page.list }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/list"

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Ordered List",
                        :type => "h2" }

-# List
= partial "bootstrap/type/list",
           :locals => { :array => current_page.data.list,
                        :type  => "ol" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/list",
               :locals => { :array => current_page.data.list,
                            :type  => "ol" }

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Unstyled List",
                        :type => "h2" }

-# List
= partial "bootstrap/type/list",
           :locals => { :array      => current_page.data.list,
                        :extraClass => "list-unstyled" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/list",
               :locals => { :array      => current_page.data.list,
                            :extraClass => "list-unstyled" }

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Inline List",
                        :type => "h2" }

-# List
= partial "bootstrap/type/list",
           :locals => { :array      => current_page.data.list,
                        :extraClass => "list-inline" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/list",
               :locals => { :array      => current_page.data.list,
                            :extraClass => "list-inline" }

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Description List",
                        :type => "h2" }

-# List
= partial "bootstrap/type/list",
           :locals => { :array => current_page.data.list1,
                        :type  => "dl" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/list",
               :locals => { :array => current_page.data.list1,
                            :type  => "dl" }

%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Description List Horizontal",
                        :type => "h2" }

-# List
= partial "bootstrap/type/list",
           :locals => { :array      => current_page.data.list1,
                        :extraClass => "dl-horizontal",
                        :type       => "dl" }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/type/list",
               :locals => { :array      => current_page.data.list1,
                            :extraClass => "dl-horizontal",
                            :type       => "dl" }