-##
-# Article List Template
-#
-# Rules
-# - Images are taken from the meta image element. It can then be used by social media also
-#   - Defaults to 250px wide and is responsive
-#
-# @usage
-# -# Article
-# = partial "./template/article/articleList", locals: { page_articles: page_articles }
-#
-# @param  page_articles | Need to pass in the paginated pages 'page_articles'
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://schema.org/BlogPosting
-# @see    https://www.google.com/webmasters/markup-helper/u/0/
-#
-# @todo Provide a blank / random image if one is not found to keep the design
-# @todo Create a hover over state for the article to slightly grey it out
-# @todo Add in some filtering for popular - most commented on etc
-##

-# Section Blog List
%section.blogArticleList{ itemscope: true, itemtype: "http://schema.org/Blog" }

    -# Loop through a list of paginated Articles
    - page_articles.each_with_index do | article, i |

        -# Variables
        - data    = article.data
        - meta    = article.data.meta
        - heading = data.heading

        -# Article - Blog Posting
        %article{ role: "article", itemprop: "blogPost", itemscope: true, itemtype: "http://schema.org/BlogPosting"  }

            -# Media
            .media

                -# Media Left
                .media-left

                    -# Check article has associated Image
                    - if ! meta.image.blank?

                        -# Link - No Follow
                        %a{ href: article.url, rel: "nofollow" }

                            -# Image
                            = partial "./atom/image/image", locals: { alt: article.title, extraClass: "media-object img-thumbnail img-responsive", size: [ 250 ], src: meta.image }

                -# Media Body
                .media-body

                    -# Heading - Article H1
                    = partial "./molecule/heading/heading", locals: { extraClass: "media-heading", href: article.url, small: heading.small, text: heading.title, rel: "nofollow bookmark", itemprop: "name" }

                    -# Blog Detail Footer
                    = partial "./molecule/detail/detail", locals: { author: true, cal: true, comment: false, more: true, social: true, tags: true, current_page: article }

                    -# Excerpt
                    %p{ itemprop: "description" }= string data.excerpt

                    -# Button - Read More
                    %nav= partial "./atom/button/button", locals: { context: "primary", text: "Read More", extraClass: "pull-right", href: article.url, itemprop: "url" }
