-##
-# Meta
-#
-# @usage
-# -# Meta
-# = codeBlender 'meta', 'atom'
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-##

-# Variable
- m = data.meta

-# Apple
- if m.apple
  = codeBlender 'apple', 'meta'

-# Core
- if m.core
  = codeBlender 'core', 'meta'

-# Dublin Core
- if m.dublin
  = codeBlender 'dublin', 'meta'

-# Facebook
- if m.facebook
  = codeBlender 'facebook', 'meta'

-# Fancy
- if m.fancy
  = codeBlender 'fancy', 'meta'

-# Favicon
- if m.favicon
  = codeBlender 'icon-favicon', 'meta'

-# Feed XML
- if m.feed
  = codeBlender 'feed', 'meta'

-# Google
- if m.google
  = codeBlender 'google', 'meta'

-# Mobile
- if m.mobile
  = codeBlender 'mobile', 'meta'

-# Touch Icons
- if m.touch
  = codeBlender 'icon-touch', 'meta'

-# Twitter
- if m.twitter
  = codeBlender 'twitter', 'meta'
