---

# Variables
layout : "_library/fullWidth"
stub   : "index"

# See
see :
    - - "Metronic"
      - "http://www.keenthemes.com/preview/metronic/theme/templates/admin4/angularjs/#/dashboard.html"

# Todo
todo :
    - - "Sort out the look of this home page"
      - "Index"
      - "2015-05-06"
      - { context: "info" }

---

%button{ class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" }
    button

-# Heading
= partial "./bootstrap/type/heading", locals: { tag: "h2", text: "Links" }

-# Links
= partial "./bootstrap/component/thumbnails",
           locals: { array:   data.scaffolding.portalLinks.thumbs,
                     columns: "col-md-2 col-sm-3 col-xs-4" }

-# Heading
= partial "./bootstrap/type/heading", locals: { tag: "h2", text: "Tools" }

-# Tools
= partial "./bootstrap/component/thumbnails",
           locals: { array:   data.scaffolding.portalLinks.tools,
                     columns: "col-md-2 col-sm-3 col-xs-4" }

-# Capture Configuration Elements
- content_for :configuration do

    -# Dropdown to select background
    - array = [ [ "Select Background", "-1" ] ]

    - ( 1..10 ).each do | index |
        - array << [ "bg-hero#{ index }.jpg" ]

    -# Select
    = partial "./forms/select",
               locals: { array: array,
                         name:  "backgroundSelector",
                         label: { title: "Background" } }