---

# Variables
layout : "_library/fullWidth"
stub   : "index"

# See
see :
    - - "Metronic"
      - "http://www.keenthemes.com/preview/metronic/theme/templates/admin4/angularjs/#/dashboard.html"

---

.container

    .text-center

        -# Brand
        = partial "./molecule/brand/brand"

    -# Heading - H2
    = partial "./molecule/heading/heading", locals: { extraClass: "text-center", tag: "h2", text: "Hand crafted HAML partials" }

    %hr

    .row

        .col-md-4.text-center
            = partial "./atom/button/button", locals: { icon: "fa-github", text: "Github", size: "lg" }

        .col-md-4.text-center
            = partial "./atom/button/button", locals: { icon: "fa-download", text: "Download", size: "lg" }

        .col-md-4.text-center
            = partial "./atom/button/button", locals: { icon: "fa-folder", text: "Docs", size: "lg" }

    %hr

    SHARING

    WHY
    Alternatives
    Extensability


    CORE EXAMPLE

    FOOTER

    / -# Links
    / = partial "./atom/thumbnail/thumbnail", locals: { array: data.scaffolding.portalLinks.thumbs, columns: "col-md-2 col-sm-3 col-xs-4" }

    / -# Heading
    / = partial "./molecule/heading/heading", locals: { tag: "h2", text: "Tools" }

    / -# Tools
    / = partial "./atom/thumbnail/thumbnail", locals: { array: data.scaffolding.portalLinks.tools, columns: "col-md-2 col-sm-3 col-xs-4" }

    / -# Capture Configuration Elements
    / - content_for :configuration do

    /     -# Dropdown to select background
    /     - array = [ [ "Select Background", "-1" ] ]

    /     - ( 1..10 ).each do | index |
    /         - array << [ "bg-hero#{ index }.jpg" ]

    /     -# Select
    /     = partial "./atom/select/select", locals: { array: array, name: "backgroundSelector", label: { title: "Background" } }