---

# Variables
layout : "_library/fullWidth"
stub   : "index"

# Blog
pageable : true
per_page : 5

# See
see :
    - - "Metronic"
      - "http://www.keenthemes.com/preview/metronic/theme/templates/admin4/angularjs/#/dashboard.html"
    - - "Angular Style Guide"
      - "https://github.com/johnpapa/angular-styleguide"

# Todo
todo :
    - - "Add more resources to the documentation"
      - "Social"
      - "2014-02-12"
    - - "Look at Flikr Badges - https://www.flickr.com/about/goodies/"
      - "Social"
      - "2014-02-12"
    - - "Create an AddThis partial in social section"
      - "Social"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Complete Coderwall Partial https://coderwall.com/welcome"
      - "Social"
      - "2014-02-14"
      - { "context" : "info" }

---

-# Bootstrap Container
.container

    .text-center

        -# Brand
        = partial "./molecule/brand/brand"

    -# Heading - H2
    = partial "./molecule/heading/heading", locals: { extraClass: "text-center", tag: "h2", text: "Hand crafted HAML partials" }

    -# Bootstrap Row
    .row

        -# Bootstrap Columns
        .col-md-4.text-center

            -# Button Github
            = partial "./atom/button/button", locals: { icon: { prepend: "fa-github" }, text: "Github", size: "lg" }

        -# Bootstrap Columns
        .col-md-4.text-center

            -# Button Download
            = partial "./atom/button/button", locals: { icon: { prepend: "fa-download" }, text: "Download", size: "lg" }

        -# Bootstrap Columns
        .col-md-4.text-center

            -# Button Docs
            = partial "./atom/button/button", locals: { icon: { prepend: "fa-folder" }, text: "Docs", size: "lg" }

    %hr

    -# Bootstrap Row
    .row

        -# Bootstrap Columns
        .col-md-9.col-sm-9

            -# Article
            = partial "./template/article/article", locals: { page_articles: page_articles }

            -# Variables
            - prevPage = prev_page ? prev_page : false
            - nextPage = next_page ? next_page : false

            -# Pagination
            = partial "./molecule/pagination/pagination", locals: { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }

        -# Bootstrap Columns
        .col-md-3.col-sm-3

            -# Archive
            = partial "./molecule/archive/archive"

            -# MailChimp
            = partial "./molecule/mailchimp/subscription"

            -# Tag Cloud
            = partial "./molecule/tagCloud/tagCloud"