---

# Variables
layout : "_library/fullWidth"
stub   : "index"

# Blog
pageable : true
per_page : 5

# See
see :
    - - "Metronic"
      - "http://www.keenthemes.com/preview/metronic/theme/templates/admin4/angularjs/#/dashboard.html"
    - - "Angular Style Guide"
      - "https://github.com/johnpapa/angular-styleguide"

# Todo
todo :
    - - "Add more resources to the documentation"
      - "Social"
      - "2014-02-12"
    - - "Look at Flikr Badges - https://www.flickr.com/about/goodies/"
      - "Social"
      - "2014-02-12"
    - - "Create an AddThis partial in social section"
      - "Social"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Complete Coderwall Partial https://coderwall.com/welcome"
      - "Social"
      - "2014-02-14"
      - { "context" : "info" }

---

-# Bootstrap Container
.container

    -# Heading - H2
    = partial "./molecule/heading/heading", locals: { extraClass: "text-center", tag: "h2", text: "Middleman hand crafted Bootstrap HAML partials" }

    .text-center

        %p
            CodeBlender aims to provide simple atomic site structures, that can be
            reused across multiple projects. Built upon the fantastic Middleman
            these HAML partials are created to be understood; the main reason we
            did not encapsulate them into a GEM. Simply symlink the partial/_library
            folder into the new project and include them.

        %p
            Utilising the Bootstrap CSS framework each partial encompasses many defaults, such as accessibility, micro-formats
            and layout. Making this project a must when it comes to rapid prototyping
            of UX ideas. Still work in progress we aim to have full coverage of
            all Bootstrap elements and more.

    -# Bootstrap Row
    .row

        -# Bootstrap Columns
        .col-md-4.text-center

            -# Button Github
            = partial "./atom/button/button", locals: { href: "https://github.com/iwarner/CodeBlender-Middleman", icon: { prepend: "fa-github" }, text: "Github", size: "lg" }

        -# Bootstrap Columns
        .col-md-4.text-center

            -# Button Download
            = partial "./atom/button/button", locals: { href: "https://github.com/iwarner/CodeBlender-Middleman/archive/master.zip", icon: { prepend: "fa-download" }, text: "Download", size: "lg" }

        -# Bootstrap Columns
        .col-md-4.text-center

            -# Button Docs
            = partial "./atom/button/button", locals: { icon: { prepend: "fa-folder" }, text: "Docs", size: "lg" }

    %hr

    -# Bootstrap Row
    .row

        -# Bootstrap Columns
        .col-md-9.col-sm-9

            -# Article
            = partial "./template/article/article", locals: { page_articles: page_articles }

            -# Pagination Variables
            - prevPage = prev_page ? prev_page : false
            - nextPage = next_page ? next_page : false

            -# Pagination
            = partial "./molecule/pagination/pagination", locals: { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }

        -# Bootstrap Columns
        .col-md-3.col-sm-3

            -# Archive
            = partial "./molecule/archive/archive"

            -# MailChimp
            = partial "./molecule/mailchimp/subscription"

            -# Tag Cloud
            = partial "./molecule/tagCloud/tagCloud"