---

# Variables
stub : "prototyping"

# Heading
heading :
    small : "Atomic Components Pattern library"
    title : "Prototyping"

see :
    - - "Bootstrap Cards"
      - "http://bootcards.org/"
    - - "Bootstrap SASS Official"
      - "https://github.com/twbs/bootstrap-sass"
    - - "Stardom Theme"
      - "http://admindesigns.com/stardom/"
    - - "Animate CSS"
      - "http://daneden.github.io/animate.css/"
    - - "String Augmented Reality"
      - "http://www.poweredbystring.com/"
    - - "Resource Space"
      - "http://www.resourcespace.org/"
    - - "Middleman Hacks"
      - "https://www.discovermeteor.com/blog/three-middleman-hacks-were-using-on-this-site/"
    - - "Middleman Help"
      - "http://joshwlewis.com/slides/middleman/index.html#/title"
    - - "Themes"
      - "http://themetrust.com/themes"
    - - "Off Canvas"
      - "http://demo.siterepo.com/store/css/verion/verion.php"
    - - "Scroll Example"
      - "http://www.bootply.com/T2jYl0an06"

todo :
    - - "Complete the prototype home page"
      - "Prototyping"
      - "2014-05-30"
      - { context: "info" }
    - - "Check out https://github.com/mledoze/countries - include into dropdowns etc"
      - "Countries"
      - "2014-05-19"
      - { context: "info" }
    - - "Check out how to recurse through filesystem - http://goo.gl/EWnvLr"
      - "Files"
      - "2014-02-12"
      - { context: "info" }
    - - "Translate all partials"
      - "Localisation"
      - "2014-03-03"
      - { context: "info" }
    - - "Add 5 blog articles to home page"
      - "Blog"
      - "2014-02-12"
      - { context: "info" }
    - - "Code highlighter - sometimes misaligned"
      - "Syntax"
      - "2014-02-12"
      - { context: "info" }
    - - "Add a margin top to code partial"
      - "Syntax"
      - "2014-02-12"
      - { context: "info" }
    - - "Add a variable for the theme of the syntax highlighter in the config file"
      - "Syntax"
      - "2014-02-12"
      - { context: "warning" }
    - - "Include the JS / CSS for the widget in the page also, can link file directly"
      - "Page"
      - "2014-02-12"
      - { context: "info" }
    - - "Create the codeblender logo / icon"
      - "Design"
      - "2014-02-12"
      - { context: "info" }
    - - "Could couple the Meta Tags up into one partial and do work from that"
      - "Meta"
      - "2014-02-12"
      - { context: "info" }
    - - "Sort out what to do with the main overlay"
      - "Meta"
      - "2014-02-12"
      - { context: "info" }
    - - "Sniff JavaScript and append the JS class to the body tag"
      - "JavaScript"
      - "2014-02-12"
      - { context: "danger" }
    - - "Create a partial to display a cookie panel on the page"
      - "Cookie"
      - "2014-03-02"
      - { context: "info" }

---

-# Heading
= partial "./molecule/heading/heading", locals: { tag: "h2", text: "Blog" }

%hr

-# Bootstrap Row
.row

    -# Recent Articles
    .col-md-4

        -# Heading
        = partial "./molecule/heading/heading", locals: { text: "Recent Posts", tag: "h3" }
        = partial "./molecule/recent/recent"

    -# Archive
    .col-md-4

        -# Heading
        = partial "./molecule/heading/heading", locals: { text: "Archive", tag: "h3" }
        = partial "./molecule/archive/archive"

    -# Tags
    .col-md-4

        -# Heading
        = partial "./molecule/heading/heading", locals: { text: "Tags", tag: "h3" }

        -# Tag Cloud
        = tagCloud()