---

meta :
    description : "Button partial creates a call to action on a, button or list elements - CodeBlender"
    title       : "Button partial creates a call to action on a, button or list elements - CodeBlender"

heading :
    title : "Button"

see :
    - - "Bootstrap button"
      - "http://getbootstrap.com/css/#buttons"
    - - "Button generator"
      - "http://www.plugolabs.com/twitter-bootstrap-button-generator-3/"

todo :
    - - "Complete the other buttons actions on bootstrap"
    - - "Explain in here all the places a button can be used"
    - - "Change href to Link and create a new Link Partial"
    - - "Allow for an image or icon before also"
    - - "locals[ :text ] seems to be required but what if we just want an icon button provide option and graceful fallback on errors"
    - - "Handle the target a bit better should be contained in a link array link: { uri:, target: } so contained"

---

-# Vanilla Button
:ruby
    code = %{codeBlender "button", "atom", { text: "Default" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Vanilla button", text: "Default" } }

-# Link Button
:ruby
    code = %{codeBlender "button", "atom", { text: "Default", href: "#" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Changes button tag to a tag", text: "Link Button" } }

-# Button with Context
:ruby
    code = %{codeBlender "button", "atom", { text: "Primary", context: "primary" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Primary context change", text: "Primary" } }

-# Size variation with Success Context
:ruby
    code = %{codeBlender "button", "atom", { text: "Success large size", context: "success", size: "lg" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Success large Size", text: "Large Button" } }

-# Small Block Info Button
:ruby
    code = %{codeBlender "button", "atom", { block: true, text: "Small block info button", context: "info", size: "sm" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Small block info button" } }

-# Icon Button
:ruby
    code = %{codeBlender "button", "atom", { icon: { prepend: { icon: "fa fa-times" } } }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Icon Button" } }

-# Image Button
:ruby
    code = %{codeBlender "button", "atom", { image: { src: lorem.image( "32x32" ) }}}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Image Button" } }
