---

<<<<<<< HEAD
meta :
    description : "Footer, can provide organisation, social and location information - CodeBlender"
    title       : "Footer, can provide organisation, social and location information - CodeBlender"

heading :
    small : "Provides contextual information for the site"
    title : "Footer partial"
=======
description : "Footer, can provide organisation, social and location information"
title       : "Footer, can provide organisation, social and location information"
>>>>>>> updates

see :
    - - "Bootstrap sticky footer"
      - "http://getbootstrap.com/examples/sticky-footer/"

todo :
    - - "Create a brand / develop by section in the footer"
    - - "Enable the footer to be fixed also - css"
    - - "What aria role should it take"
    - - "BEM the CSS"
    - - "Need to include micro-formats - could be viable for address / location elements in the footer"

footer :
    -   :title       : "Column 1"
        :icon        : info
        :description : |
            The quick brown fox jumps over the lazy dog

    -   :title       : "Column 2"
        :icon        : cogs
        :description : |
            The quick brown fox jumps over the lazy dog

    -   :title       : "Column 3"
        :icon        : facebook
        :extraClass  : social
        :description : |
            The quick brown fox jumps over the lazy dog

list :
   - text : "Terms & Conditions"
     url  : "terms"
   - text : "Privacy Policy"
     url  : "privacy"
   - text : "Support"
     url  : "support"

---

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-6

        -# Panel body
        - panelBody = capture_html do

            -# Markdown
            :markdown

                The footer section contains two elements, the columned area that
                can contain any information you require, and the copyright
                section underneath.

                Footer content is driven from the locale files. This yaml object
                not only determines the content but also the amount of columns
                as it is iterated through.class_selector


        -# Panel
        = codeBlender "panel", "molecule", { body: panelBody, heading: { text: "Introduction" } }

    -# Bootstrap column
    .col-md-6

        -# Panel body - markdown
        - panelBody = capture_html do
            :markdown

                Example locale YAML

                    en:
                        footer :

                            # Column One
                            - title       : "About"
                              icon        : "fa-info"
                              description : |
                                Content

        -# Panel
        = codeBlender "panel", "molecule", { body: panelBody, heading: { text: "Create" } }

-# Bootstrap row
.row

    .col-md-12

        %br

        -# Default
        :ruby
            code = %{codeBlender "footer", "organism", { fluid: true }}

        -# Code
        = codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

        -# Using local data with no background
        :ruby
            code = %{codeBlender "footer", "organism", { array: current_page.data.footer, fluid: true, footerClass: "noBackground text-center" }}

        -# Code
        = codeBlender "code", "organism", { code: code, heading: { text: "Local data Footer" } }

        -# Copyright centred text
        :ruby
            code = %{codeBlender "footer", "organism", { center: true, fluid: true }}

        -# Code
        = codeBlender "code", "organism", { code: code, heading: { text: "Copyright centred text" } }

        -# Copyright extra links
        :ruby
            code = %{codeBlender "footer", "organism", { array: current_page.data.list, center: true, fluid: true }}

        -# Code
        = codeBlender "code", "organism", { code: code, heading: { text: "Copyright Extra Links" } }

        -# No year
        :ruby
            code = %{codeBlender "footer", "organism", { copyright: "Local String Inserted", fluid: true, noYear: true }}

        -# Code
        = codeBlender "code", "organism", { code: code, heading: { text: "No Year" } }
