-##
-# All Meta Tags
-#
-# @usage
-# -# Meta All
-# = partial "meta/all.haml"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @todo Use the Sitemap to loop through the resources in the meta folder dynamically - can remove All then.
-##

-# Variables
- m = data.config.meta

-# Apple
- if m.apple
    = partial "atom/meta/apple.haml"

-# Core
- if m.core
    = partial "atom/meta/core.haml"

-# Dublin Core
- if m.dublin
    = partial "atom/meta/dublin.haml"

-# Facebook
- if m.facebook
    = partial "atom/meta/facebook.haml"

-# Fancy
- if m.fancy
    = partial "atom/meta/fancy.haml"

-# Favicon
- if m.favicon
    = partial "atom/meta/icon-fav.haml"

-# Feed XML
- if m.feed
    = partial "atom/meta/feed.haml"

-# Google
- if m.google
    = partial "atom/meta/google.haml"

-# Mobile
- if m.mobile
    = partial "atom/meta/mobile.haml"

-# Touch Icons
- if m.touch
    = partial "atom/meta/icon-touch.haml"

-# Twitter
- if m.twitter
    = partial "atom/meta/twitter.haml"