-##
-# Core Meta Tags
-#
-# Tags can be set via the current_page.data elements or through locale stub
-# method the latter is especially useful for localized pages where the front
-# matter will change dynamically for the language.
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-##

-# If there is meta tabs present then override the stub method
- if current_page.data.meta
    - m = current_page.data.meta
- else
    - m = "meta.#{ current_page.data.stub }"

- title       = current_page.data.meta ? m.title       : :"#{ m }.title"
- description = current_page.data.meta ? m.description : :"#{ m }.description"
- author      = current_page.data.meta ? m.author      : :"#{ m }.author"

-# Title
%title= string( title )

-# Encoding
%meta{ charset: "utf-8" }

-# Meta Tags for IE2
%meta{ content: "IE=edge,chrome=1", http: { equiv: "X-UA-Compatible" } }

-# Description
%meta{ name: "description", content: string( description ) }

-# Keywords
%meta{ name: "keywords", content: string( description ) }

-# Author
%meta{ name: "author", content: string( author ) }

-# Robots
%meta{ name: "robots", content: "index,follow,archive" }

-# Canonical
%meta{ rel: "canonical", href: t( :url ) + current_page.url }

-# CSRF Token
-# %meta{ name: "csrf-token", content: Random.new_seed }

-# Cordova CDV File
-# %meta{ content: "default-src * 'unsafe-eval' 'unsafe-inline'", http: { equiv: "Content-Security-Policy" } }
