-##
-# Core Meta Tags
-#
-# Tags can be set via the current_page.data elements or through locale stub method
-# the latter is especially useful for localized pages where the front matter
-# will change dynamically for the language.
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# If there is meta tabs present then override the stub method
- if current_page.data.meta
    - m = current_page.data.meta
- else
    - m = "meta.#{ current_page.data.stub }"

-# Title
%title= current_page.data.meta ? m.title : string( :"#{ m }.title" )

-# Encoding
%meta{ charset: "utf-8" }

-# Meta Tags for IE2
%meta{ content: "IE=edge,chrome=1", http: { equiv: "X-UA-Compatible" } }

-# Description
%meta{ name: "description", content: current_page.data.meta ? m.description : string( :"#{ m }.description" ) }

-# Keywords
%meta{ name: "keywords", content: current_page.data.meta ? m.description : string( :"#{ m }.description" ) }

-# Author
%meta{ name: "author", content: current_page.data.meta ? m.author : string( :"#{ m }.author" ) }

-# Robots
%meta{ name: "robots", content: "index,follow,archive" }

-# CSRF Token
%meta{ name: "csrf-token", content: Random.new_seed }

-# Canonical
%meta{ rel: "canonical", href: data.config.url + current_page.url }