-##
-# Facebook meta tags
-#
-# Site config
-#     brand
-#     url
-#     facebookPageId
-#
-# Page front matter
-#     type
-#     image
-#     title
-#     description
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-# @see      https://developers.facebook.com/docs/sharing/best-practices#images
-##

-# If there is meta tabs present then override the stub method
- if current_page.data.meta
    - m = current_page.data.meta
- else
    - m = "meta.#{ current_page.data.stub }"

-# Site name
%meta{ content: string( data.config.brand ), property: "og:site_name" }

-# Title
%meta{ content: current_page.data.meta ? string( m.title ) : string( :"#{ m }.title" ), property: "og:title" }

-# Description
%meta{ content: current_page.data.meta ? string( m.description ) : string( :"#{ m }.description" ), name: "description", property: "og:description" }

-# Type
%meta{ content: current_page.data.meta ? string( m.type ) : string( :"#{ m }.type" ), property: "og:type" }

-# URL
%meta{ content: data.config.url + current_page.url, property: "og:url" }

-# Image
%meta{ content: current_page.data.meta ? string( m.image ) : string( :"#{ m }.image" ), property: "og:image" }

-# Facebook pageID
%meta{ content: data.facebook.page.id, property: "fb:page_id" }

-# Facebook appID
- if data.facebook.app.id
    %meta{ content: data.facebook.app.id, property: "fb:app_id" }
