---

author      : "DryKISS"
description : "Information and Style Guide, please download and read through the
               attached documents for further insight"
small       : "Targeted Marketing Solutions"
title       : "TMS"

see :
    - - "Simply Rewards Pilot - PROD"

---

-# Download TMS Member Implementation Guide 2013-11
= partial "bootstrap/components/alerts",
               :locals => { :context => "info",
                            :text    => "<a href='../../../download/tms/tms-mig-2013-11-07.pdf' class='alert-link pull-right'><i class='large icon-download'></i></a>TMS MIG 2013-11" }

-# Download TMS Key Features 2.5 Nationwide
= partial "bootstrap/components/alerts",
               :locals => { :context => "info",
                            :text    => "<a href='../../../download/tms/tms-key-features-R2.5-nationwide.ppt' class='alert-link pull-right'><i class='large icon-download'></i></a>TMS Key Features R2.5 2013-11-28" }

-# Download TMS Brand Guidelines
= partial "bootstrap/components/alerts",
               :locals => { :context => "info",
                            :text    => "<a href='../../../download/tms/tms-brand-guidelines.zip' class='alert-link pull-right'><i class='large icon-download'></i></a>TMS Brand Guidelines" }

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :tag  => "h2",
                        :text => "What is the Targeted Marketing Solution?" }

%p
    The Visa Europe Targeted Marketing Solution is a service designed to
    capitalise on Visa Europe’s unique data assets to drive high impact,
    targeted offers to cardholder’s enabling them to benefit from their own
    payments history data.

%p
    Cardholders will receive offers on items and/or services they are known to
    purchase directly to their mobile app/and or website. We will ensure that
    cardholders have continuous control over what they receive, including the
    ability to ‘dial up/down’ how often they receive offers.

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :tag  => "h2",
                        :text => "Key features of the Targeted Marketing Solution" }

:markdown

    * Produce a white label mobile phone app and website for members to
    personalise to suit their own corporate identity (e.g. corporate logo,
    colour scheme)
    * Host the back-end systems and services
    * Manage the onboarding of cardholders to the programme
    * Actively recruit and onboard merchants to participate in the programme
    * Receive and publish merchant offers
    * Deliver targeted and relevant offers to cardholders
    * Provide support for participating members
    * Provide second level support for participating cardholders

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :tag  => "h2",
                        :text => "Access" }