-##
-# Flex Slider
-#
-# Locals
-# animation - String - Optional - Animation variant - slide or fade
-# array     - Array  - Optional - Local array
-# id        - String - Optional - String ID
-#
-# Usage
-# -# Flex Slider
-# = partial "scaffolding/flex-slider"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

- if locals[ :type ] == "howitworks"

    .benefitsFlexSlider

        %h2.sliderTitle= sliderTitle

        .arrowPointer
            %b

        %ul.slidesCopy.list-unstyled

            - array.each do | value |

                %li
                    %h3= value.title
                    %p= value.description

        .flexsliderMask
            %b

        -# Flex Slider
        %div.flexslider{ :id   => locals[ :id ] ? id : "myFlexSlider",
                         :data => { :animation      => locals[ :animation ]      ? animation      : "slide",
                                    :animationspeed => locals[ :animationSpeed ] ? animationSpeed : "600",
                                    :type           => "howitworks" } }

            -# Slides
            %ul.slides

                -# Loop through the array
                - array.each do | value |

                    %li

                        -# Image
                        = partial "atom/image/image.haml",
                                   :locals => { :alt    => "Mobile Screen",
                                                :height => "512",
                                                :src    => "slides/#{ value.image }",
                                                :width  => "288" }

- else

    -# Flex Slider
    %div.flexslider{ :id   => locals[ :id ] ? id : "myFlexSlider",
                     :data => { :animation      => locals[ :animation ]      ? animation      : "slide",
                                :animationspeed => locals[ :animationSpeed ] ? animationSpeed : "600",
                                :type           => locals[ :type ]           ? type           : "default" } }

        -# Slides
        %ul.slides

            -# Loop through the array
            - array.each do | value |

                %li
                    = value