-##
-# Pagination
-#
-# @usage
-# -# Variables
-# - prevPage = prev_page ? prev_page.url : false
-# - nextPage = next_page ? next_page.url : false
-#
-# -# Pagination
-# = codeBlender "pagination", "molecule", { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-# @see      http://uxmovement.com/navigation/avoid-the-pains-of-pagination/
-# @see      http://www.slevenbits.com/blog/2013/01/middleman-blog-pagination.html
-##

-# Nav - Pagination
%nav.text-center

    -# Pagination
    %ul.pagination

        -# Variables
        - pageNo     = locals[ :pageNo ].to_i
        - totalPages = locals[ :pages ].to_i

        -# Previous Page
        - if prevPage

            %li= link_to string( :"pagination.previous" ), prevPage.url, aria: { label: "Previous" }

            - p = nil
            - ( 1 ... pageNo ).each do p = p ? p.metadata[ :locals ][ 'prev_page' ] : prevPage end

            -# If current page is 3 or more less than the total pages show the end bits
            - if pageNo > 4
                %li= link_to 1, p && p.url
                %li
                    %a ...

        -# Loop through the number of pages
        - ( pageNo - 3 .. pageNo + 3 ).select{ | i | i > 0 && i <= totalPages }.each do | i |

            -# Active
            - if i == pageNo.to_i

                -# Active List
                %li.active
                    %span= i

            - else

                %li

                    - p = nil

                    -# Lower Numbers
                    - ( i ... pageNo ).each do p = p ? p.metadata[ :locals ][ 'prev_page' ] : prevPage end

                    -# Greater Numbers
                    - ( pageNo ... i ).each do p = p ? p.metadata[ :locals ][ 'next_page' ] : nextPage end

                    -# Link
                    = link_to i, p && p.url

        -# Next Page
        - if nextPage

            - p = nil
            - ( pageNo ... totalPages ).each do p = p ? p.metadata[ :locals ][ 'next_page' ] : nextPage end

            -# If current page is 3 or more less than the total pages show the end bits
            - if pageNo < ( totalPages - 3 )
                %li
                    %a ...
                %li= link_to totalPages, p && p.url

            %li= link_to string( :"pagination.next" ), nextPage.url, aria: { label: "Next" }
