-##
-# Bootstrap Panel
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- heading = locals[ :heading ]

-# ExtraClass
- classes = locals[ :extraClass ] ? extraClass : ""

-# Context
- classes += locals[ :context ] ? " panel-#{ context }" : " panel-default"

-# Panel
.panel{ class: classes }

    -# Heading
    - if locals[ :heading ]

        -# Panel Heading
        .panel-heading{ class: heading[ :extraClass ] ? heading[ :extraClass ] : false }

            -# Check if Tools are required
            -# This includes Expanding and Panel Refresh
            - if locals[ :tools ]

                -# Tools
                .tools

                    -# Expand
                    = link_to( "javascript:;", class: "toggle" ) do
                        %i.fa.fa-caret-down

            -# Image Check to see if Heading is an image
            - if heading[ :image ]
                = partial "./atom/image/image", locals: heading[ :image ]

                -# Heading Text
            - else

                -# Heading
                - heading[ :extraClass ] = "panel-title"
                = partial "./molecule/heading/heading", locals: heading

    -# Hidden
    .content{ class: locals[ :collapse ]  ? "collapse" : false }

        -# Body
        - if locals[ :body ]

            -# Panel Body
            .panel-body{ class: locals[ :bodyClass ] ? bodyClass : false }

                -# If body is an array then assume this should be markdown
                - if ! body.is_a?( Array )

                    -# Markdown
                    :markdown
                        #{ string( body ) }

                    -# String Body
                - else
                    = string locals[ :body ][ 0 ]

        -# Table
        - if locals[ :table ]
            = string table

        -# Footer
        - if locals[ :footer ]
            .panel-footer
                = string footer