-##
-# Forgot password
-#
-# @usage
-# -# Forgot password
-# = codeBlender "forgot-password", "molecule"
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Forgot Password?" }

-# Forgot Password Form
%form.forgotPasswordForm{ action: "#", method: "post", novalidate: true }

    -# Email
    = codeBlender "input", "atom",
      { icon: { prepend: { icon: "fa fa-envelope" } },
        input: { inputGroupClass: "input-group",
                 name:            "email",
                 placeholder:     "Enter email address",
                 type:            "email" },
        label: { title: "Email" } }

    -# Submit
    = codeBlender "button", "atom", { block: true, context: "primary", text: "Submit" }

    -# Login
    .login

        -# Heading
        = codeBlender "heading", "molecule", { tag: "h4", text: "Log in" }

        %p
            Have an account, click

            -# Link To
            = link_to( "here", "javascript:;", id: "login" )
            to log in into your account.

    %hr

    -# Register
    .create-account

        -# Heading
        = codeBlender "heading", "molecule", { tag: "h4", text: "Create an account." }

        %p
            Not registered?, click

            -# Link To
            = link_to( "here", "javascript:;", id: "create-account" )

            to create an account.
