---

meta :
    author      : "DryKISS"
    description : "Forgot password - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Forgot password - CodeBlender"
    type        : "website"

heading :
    small : "Forgot details form"
    title : "Forgot Password"

see :
    - - "Example forgot password"
      - "http://www.keenthemes.com/preview/metronic_admin/login.html"

---

-# Bootstrap Row
.row

    -# Bootstrap Columns
    .col-md-5.col-md-offset-3

        -# Heading
        = codeBlender "heading", "molecule", { tag: "h2", text: "Forgot Password?" }

        -# Forgot Password Form
        %form.forgotPasswordForm{ action: "#", method: "post" }

            -# Email
            = codeBlender "input", "atom", { icon: { prepend: { icon: "fa fa-envelope" } },
                                 input: { inputGroupClass: "input-group",
                                          name:            "email",
                                          placeholder:     "Enter email address",
                                          type:            "email" },
                                 label: { title: "Email" } }

            -# Submit
            = codeBlender "button", "atom", { block: true, context: "primary", text: "Submit" }

            -# Forgot Password
            .forget-password

                -# Heading
                = codeBlender "heading", "molecule", { tag: "h4", text: "Forgot your password?" }

                %p
                    No worries, click

                    -# Link To
                    = link_to( "here", "javascript:;", id: "forget-password" )

                    to reset your password.

            %hr

            -# Register
            .create-account

                -# Heading
                = codeBlender "heading", "molecule", { tag: "h4", text: "Create an account." }

                %p
                    Not registered?, click

                    -# Link To
                    = link_to( "here", "javascript:;", id: "create-account" )

                    to create an account.