-##
-# List Partial
-#
-# Anything for NavBar does not require an opening tag
-#
-# Handles lists used in
-# Lists
-# Navbar
-#
-# @usage
-# -# List
-# = partial "bootstrap/type/listUL",
-#            locals: { array: current_page.data.list,
-#                      type:  "ol" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @todo   Rename ExtraClasses to classes throughout App
-##

-# Capture the List Content
- capture = capture_html do

    -# Check that array is defined
    - if locals[ :array ]

        -# Loop through the array
        - locals[ :array ].each do | list |

            -# Divider
            - if list[ :divider ]

                %li{ class: "divider", role: list[ :dropdown ] ? "presentation" : false }

                -# Header
            - elsif list[ :header ]

                %li.dropdown-header{ role: locals[ :dropdown ] ? "presentation" : false }
                    = string list[ :header ]

                -# Partial
            - elsif list[ :partial ]

                = partial "../_lib/#{ list[ :partial ] }"

                -# Text
            - else

                -# Active
                - classes = list[ :active ] ? "active" : ""

                -# Extra Classes
                - classes += list[ :extraClass ] ? " #{ list[ :extraClass ] }" : ""

                -# Status
                - classes += list[ :status ] ? " #{ list[ :status ] }" : ""

                -# List Item
                %li{ class: ! classes.empty?    ? classes       : false,
                     data:  list[ :data ]       ? list[ :data ] : false,
                     ng:    list[ :ng ]         ? list[ :ng ]   : false,
                     ui:    { sref: { active: "active" } },
                     role:  locals[ :dropdown ] ? "presentation" : false }

                    -# If URL is present then show a link
                    - if list[ :link ]

                        -# Link To
                        = link_to( string( list[ :link ][ :url ] ),
                                   { ng:       list[ :link ][ :ng ]     ? list[ :link ][ :ng ]     : false,
                                     role:     locals[ :dropdown ]      ? "menuitem"               : false,
                                     tabindex: locals[ :dropdown ]      ? "-1"                     : false,
                                     target:   list[ :link ][ :target ] ? list[ :link ][ :target ] : false,
                                     ui:       list[ :link ][ :ui ]     ? list[ :link ][ :ui ]     : false } ) do

                            -# Icon
                            - if list[ :icon ]
                                = icon list[ :icon ]

                            - if list[ :text ]
                                = string list[ :text ]

                        -# No Link Required
                    - else
                        = string list[ :text ]

-# List
-if locals[ :dropdown ]

    -# Classes
    - classes = ""

    -# Dropdown Lists for Buttons of Navbars
    - if locals[ :dropdown ]
        - classes += "dropdown-menu"

    -# Extra Class
    - classes += locals[ :extraClass ] ? " #{ extraClass }" : ""

    %ul{ aria: { labelledby: locals[ :dropdown ] ? "dropdownMenu1" : false },
                 class: classes,
                 role:  locals[ :dropdown ] ? "menu" : false }
        = capture

- else
    = capture