/ vcard.html.haml


/ # # VCard Creation
/ # if data.scaffolding.vcards

/ #     data.scaffolding.vcards.each do | vCard |

/ #         vcard           = VCardigan.create( :version => '3.0' )
/ #         vcard.name      "#{ vCard.name.l }", "#{ vCard.name.f }"
/ #         vcard.title     "#{ vCard.title }"
/ #         vcard.org       "IBM"
/ #         vcard.fullname  "#{ vCard.name.f } #{ vCard.name.l }"
/ #         vcard.email     "#{ vCard.email.ibm }", :type => 'work', :preferred => 1
/ #         vcard.tel       "#{ vCard.tel }", :type => 'mobile', :preferred => 1
/ #         vcard.impp      "#{ vCard.skype }", :"X-SERVICE-TYPE" => "Skype", :type => "home", :preferred => 1
/ #         vcard.add('X-Skype', "#{ vCard.skype }")

/ #         # @todo Output a file
/ #         # puts vcard

/ #     end

/ # end

