-##
-# Modal
-#
-# @usage
-# -# Body
-# - body = capture_html do
-#
-#     -# Heading
-#     = codeBlender "heading", "molecule", { tag: "h2", text: "Heading" }
-#
-#     %p
-#         TEXT
-#
-# -# Modal
-# = codeBlender "modal", "molecule", { id: "myModal", body: body }
-#
-# -# Button
-# = codeBlender "button", "atom", { text: "Launch Modal", data: { target: "#myModal", toggle: "modal" } }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# If ID is not defined or Blank
- if ! locals[ :id ]
    - id = "myModal"

-# Modal
.modal{ aria: { labelledby: "#{ id }Label", hidden:"true", describedby: "Overlay" },
        class:    locals[ :noAnimation ] ? false : "fade",
        id:       id,
        role:     "dialog",
        tabindex: "-1" }

    -# Modal Dialog
    .modal-dialog{ class: locals[ :size ] ? size : false }

        -# Modal Content
        .modal-content{ class: locals[ :contentClass ], data: locals[ :data ] ? data : false }

            -# Check for Header
            - if ! locals[ :header ] ? true : false

                -# Modal Header
                .modal-header

                    -# Close Button
                    = codeBlender "button", "atom", { aria: { label: "Close" },
                                         text:       "close",
                                         extraClass: "close",
                                         data:       { dismiss: "modal" },
                                         type:       "button" }

                    -# Check for Title
                    - if locals[ :title ]

                        -# Heading
                        = codeBlender "heading", "molecule", { extraClass: "modal-title", id: "#{ id }Label", text: title, tag: "h4" }

            -# Modal Body
            - if locals[ :body ]
                .modal-body= body

            -# Modal Footer
            - if locals[ :footer ]
                .modal-footer= footer
