---

meta :
    author      : "DryKISS"
    description : "Modal - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Modal - CodeBlender"
    type        : "website"

heading :
    small : "modal.js"
    title : "Modals"

see :
    - - "Bootstrap Modal"
      - "http://getbootstrap.com/javascript/#modals"

todo :
    - - "Enable the removal of the Horizontal lines splitting header and footer"
    - - "Footer pulls things right - need to override this perhaps"

---

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Overlapping modals not supported" }

%p
    Be sure not to open a modal while another is still visible. Showing more than
    one modal at a time requires custom code.

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Modal markup placement" }

%p
    Always try to place a modal's HTML code in a top-level position in your
    document to avoid other components affecting the modal's appearance and/or
    functionality.

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Default" }

-# Title
- title = "Modal Title"

-# Body
- body = capture_html do
    %p Modal Body

-# Modal
= codeBlender "modal", "molecule", { id: "myModal", body: body, title: title }

-# Button
= codeBlender "button", "atom", { context: "primary", text: "Launch Modal", data: { target: "#myModal", toggle: "modal" } }
