-##
-# Blog Details Partial
-#
-# @usage
-# -# Blog Detail
-# = partial "./blog/detail", locals: { current_page: article }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc = data.config

-# Blog Footer
.blogDetails

    -# Date
    - if locals[ :cal ]
        = icon( "fa-calendar" )
        = current_page.data.date.strftime( '%Y-%m-%d' )

    -# Author
    - if locals[ :user ]
        |
        = icon( "fa-user" )
        by
        = current_page.data.meta.author

    -# Show Comments
    - if locals[ :comments ]
        |
        = icon( "fa-comment" )
        X Comments

    -# Like Button
    - if locals[ :social ]

        = partial "./social/facebook/like-button",
                   locals: { extraClass: "pull-right",
                             href:       dc.url + current_page.url,
                             layout:     "button_count",
                             share:      "false" }

    %hr

    -# Read More Button
    - if locals[ :more ]
        .pull-right= link_to "Read More", "/current_page.url", class: "btn btn-primary btn-mini"

    -# Tags
    - if locals[ :tags ]
        .tags

            -# Loop through tags
            - current_page.data.tags.each do | tag |

                -# Label
                = partial "./bootstrap/component/label",
                           locals: { context: "primary",
                                     content: tag,
                                     href:    tag_path( tag ),
                                     icon:    "fa-tag" }

.clearfix