---
author      : DryKISS
description : "The Like Box is a special version of the Like Button designed only
               for Facebook Pages. It allows admins to promote their Pages and embed
               a simple feed of content from a Page into other sites."
layout      : "site/page"
small       : "https://developers.facebook.com/docs/plugins/like-box-for-pages"
title       : "Facebook Like Box Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social/facebook"
---

-##
-# CodeBlender Like Box Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/plugins/like-box-for-pages
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text  => "Default",
                 :type  => "h2" }

-# Like Button
= partial "social/facebook/like-box"

-# Code
:code
    # lang: ruby
    = partial "social/facebook/like-box"

-# Customised
%hr

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text  => "Customised",
                 :type  => "h2" }

-# Like Button
= partial "social/facebook/like-box",
           :locals => { :colorscheme => "dark",
                        :force_wall  => "true",
                        :header      => "false",
                        :height      => "63",
                        :href        => "https://www.facebook.com/onlyasmile",
                        :showBorder  => "false",
                        :showFaces   => "false",
                        :stream      => "false",
                        :width       => "200" }

-# Code
:code
    # lang: ruby
    = partial "social/facebook/like-box",
               :locals => { :colorscheme => "dark",
                            :force_wall  => "true",
                            :header      => "false",
                            :height      => "63",
                            :href        => "https://www.facebook.com/onlyasmile",
                            :showBorder  => "false",
                            :showFaces   => "false",
                            :stream      => "false",
                            :width       => "200" }