---
author       : "Ian Warner"
description  : "See what your Facebook friends have liked, shared, or commented on
                across the Web."
layout       : "site/page"
small        : "https://developers.facebook.com/docs/plugins/"
title        : "Facebook Like Button Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social/facebook"

see :
    - - "Facebook Plugins"
      - "https://developers.facebook.com/docs/plugins/"
    - - "Like Button"
      - "https://developers.facebook.com/docs/plugins/like-button/"
    - - "Open Graph"
      - "https://developers.facebook.com/docs/opengraph/using-objects/#creating"
    - - "Media Content"
      - "https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/"

todo :
    - - "Sort out the Reference elements"
      - ""
      - "2014-02-12"
    - - "Sort out the correct default width based on the layout selected"
      - ""
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Like Button",
                        :type => "h2" }

-# Like Button
= partial "social/facebook/like-button"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/like-button"

-# Customised
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Customised Button",
                        :type => "h2" }

-# Like Button
= partial "social/facebook/like-button",
           :locals => { :action      => "recommend",
                        :colorscheme => "dark",
                        :href        => "http://google.com",
                        :layout      => "button",
                        :share       => "false" }

-# Code
:code
    #lang: ruby
    = partial "social/facebook/like-button",
               :locals => { :action      => "recommend",
                            :colorscheme => "dark",
                            :href        => "http://google.com",
                            :layout      => "button",
                            :share       => "false" }

-# Show Faces
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Customised Button",
                        :type => "h2" }

-# Like Button
= partial "social/facebook/like-button",
           :locals => { :href         => "https://www.facebook.com/onlyasmile?ref=stream",
                        :"show_faces" => "true" }

-# Code
:code
    #lang: ruby
    = partial "social/facebook/like-button",
               :locals => { :href         => "https://www.facebook.com/onlyasmile?ref=stream",
                            :"show_faces" => "true" }