---

heading :
    small : "https://developers.facebook.com/docs/plugins/like-box-for-pages"
    title : "Facebook Like Box Partial"

meta :
    author      : "Ian Warner"
    description :
        "The Like Box is a special version of the Like Button designed only for
        Facebook Pages. It allows admins to promote their Pages and embed a
        simple feed of content from a Page into other sites."
    title       : "Facebook Like Box Partial"

see :
    - - "Facebook Like Box"
      - "https://developers.facebook.com/docs/plugins/like-box-for-pages"
    - - "OpenGraph Objects"
      - "https://developers.facebook.com/docs/opengraph/using-objects/#creating"
    - - "Maximising Distribution"
      - "https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/"

todo :
    - - "Complete the other versions for the like box"
      - "Like Box"
      - "2014-04-22"
      - { "context" : "info" }

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Like Button
= partial "./social/facebook/like-box"

-# Code
:code
    #lang: ruby
    = partial "./social/facebook/like-box"

-# Customised
%hr

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Customised", tag: "h2" }

-# Like Box
= partial "./social/facebook/like-box",
           :locals => { :colorscheme => "dark",
                        :force_wall  => "true",
                        :header      => "false",
                        :height      => "63",
                        :href        => "https://www.facebook.com/onlyasmile",
                        :showBorder  => "false",
                        :showFaces   => "false",
                        :stream      => "false",
                        :width       => "200" }

-# Code
:code
    #lang: ruby
    = partial "./social/facebook/like-box",
               :locals => { :colorscheme => "dark",
                            :force_wall  => "true",
                            :header      => "false",
                            :height      => "63",
                            :href        => "https://www.facebook.com/onlyasmile",
                            :showBorder  => "false",
                            :showFaces   => "false",
                            :stream      => "false",
                            :width       => "200" }