-##
-# Article list
-#
-# Rules
-# - Images are taken from the image element. It can then be used by social media also
-#   - Defaults to 250px wide and is responsive
-#
-# @usage
-# -# Article list
-# = codeBlender "article-list", "template", { name: "docs", page_articles: page_articles }
-#
-# @param page_articles | Need to pass in the paginated pages 'page_articles'
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category template
-##

-# Article list
%section.articleList{ itemscope: true, itemtype: "http://schema.org/Blog" }

    -# Loop through a list of paginated articles
    - page_articles( locals[ :name ] ).each_with_index do | article, i |

        -# Variables
        - data = article.data

        -# Article - blog posting
        %article{ role: "article", itemprop: "blogPost", itemscope: true, itemtype: "http://schema.org/BlogPosting"  }

            -# Media
            .media

                -# Media left
                .media-left

                    -# Check article has associated image
                    - if ! data.image.blank?

                        -# Link - no follow
                        %a{ href: article.url, rel: "nofollow" }

                            -# Image
                            = codeBlender "image", "atom", { alt: article.title, extraClass: "media-object img-thumbnail img-responsive", size: [ 250 ], src: data.image }

                -# Media body
                .media-body

                    -# Heading - article H1

                    = codeBlender "heading", "molecule",
                      { extraClass: "heading--truncate media-heading",
                        href:       article.url,
                        text:       article.title,
                        rel:        "nofollow bookmark",
                        itemprop:   "name" }

                    - if ! locals[ :footer ]
                        - locals[ :footer ] = {}
                        - locals[ :footer ][ :social ] = true

                    -# Blog detail footer
                    = codeBlender "detail", "molecule",
                      { author:       true,
                        cal:          true,
                        comment:      false,
                        more:         true,
                        name:         locals[ :name ],
                        social:       locals[ :footer ][ :social ] ? true : false,
                        tags:         true,
                        current_page: article }

                    -# Excerpt
                    %p{ itemprop: "description" }= string data.excerpt

                    -# Button - read more
                    %nav= codeBlender "button", "atom", { context: "primary", text: "Read More", extraClass: "pull-right", href: article.url, itemprop: "url" }
