-##
-# Heading
-# Provide a unified way to display a heading tag
-#
-# @usage
-# -# Heading
-# = partial "molecule/heading/heading", locals: { text: "Default H1 Tag" }
-#
-# @param href
-# @param icon
-# @param small
-# @param tag
-# @param text
-#
-# @category Molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Required Text
- if ! locals[ :text ].blank?

    -# Heading
    -# Defaults to H1
    - haml_tag locals[ :tag ] ? tag : "h1",
               { class: locals[ :extraClass ] ? "heading #{extraClass}" : "heading",
                 id:    locals[ :id ]         ? id                      : false,
                 ng:    locals[ :ng ]         ? ng                      : false } do

        -# Icon
        - if locals[ :icon ]
            = icon icon

        -# Link
        - if locals[ :href ]
            = link_to string( text ), href

            -# Text
        - else
            = string text

        -# Secondary text if required
        - if locals[ :small ]
            %small= string small