-##
-# Code
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://codeblender.net/scaffolding/code
-##

-# Language
- lang = locals[ :lang ] ? lang : "haml"

-# Heading Tag
- locals[ :heading ][ :tag ] = "h2"

-# Heading
= partial "./bootstrap/type/heading",
           :locals => locals[ :heading ]

.clearfix

    -# Block
    = eval code

-# Tabs for code and output
= partial "./bootstrap/components/navs",
           :locals => { :array      => [ { :path => locals[ :id ] ? "#code#{id}"   : "#code1",   :name => "Code" },
                                         { :path => locals[ :id ] ? "#output#{id}" : "#output1", :name => "Output" } ],
                        :extraClass => "clearfix",
                        :toggle     => true }


-# Capture Content
- capture = capture_html do
    = eval code

-# Tab Content
.tab-content

    -# Code
    .tab-pane.active{ :id => locals[ :id ] ? "code#{id}" : "code1" }
        :code
            #lang: #{ lang }
            = #{ code }
        -#

    -# Output
    .tab-pane{ :id => locals[ :id ] ? "output#{id}" : "output1" }
        :code
            #lang: haml
            #{ capture }