---

meta :
    author      : "DryKISS"
    description : "Facebook like button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook like button - CodeBlender"
    type        : "website"

heading :
    title : "Facebook like button"

see :
    - - "Facebook plugins"
      - "https://developers.facebook.com/docs/plugins/"
    - - "Like button"
      - "https://developers.facebook.com/docs/plugins/like-button/"
    - - "Open graph"
      - "https://developers.facebook.com/docs/opengraph/using-objects/#creating"
    - - "Media content"
      - "https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/"

todo :
    - - "Sort out the reference elements"
    - - "Sort out the correct default width based on the layout selected"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Like Button", tag: "h2" }

-# Like Button
= codeBlender "like-button", "social/facebook/like-button"

-# Code
:code
    #lang: ruby
    = codeBlender "like-button", "social/facebook/like-button"

-# Customised
%hr

-# Heading
= codeBlender "heading", "molecule", { text: "Customised Button", tag: "h2" }

-# Like button
= codeBlender "like-button", "social/facebook/like-button",
    { action:      "recommend",
      colorscheme: "dark",
      href:        "http://google.com",
      layout:      "button",
      share:       "false" }

%hr

-# Heading
= codeBlender "heading", "molecule", { text: "Customised Button", tag: "h2" }

-# Like Button
= codeBlender "like-button", "social/facebook/like-button",
    { href: "https://www.facebook.com/onlyasmile?ref=stream", :"show_faces" => "true" }

-# Code
:code
    #lang: ruby
    = codeBlender "like-button", "social/facebook/like-button",
        { href: "https://www.facebook.com/onlyasmile?ref=stream", :"show_faces" => "true" }
