---
author      : DryKISS
description : "Latest articles blog"
published   : true
title       : Latest Articles
---

-### CodeBlender Examples - Mobile
-# http://codeblender.net

-# Locals
-#

-# Usage
-#

.row

    .span3

        -# Nav List

        = partial "#{pathPartials}/bootstrap/navlist"

    .span9

        -# Navbar

        = partial "#{pathPartials}/bootstrap/blockquote",
            :locals => { :text  => "Mobile Navbar",
                         :small => "" }

        = partial "#{pathPartials}/mobile/navbar"

        -# Footer

        = partial "#{pathPartials}/bootstrap/blockquote",
            :locals => { :text  => "Mobile Footer",
                         :small => "" }

        = partial "#{pathPartials}/mobile/footer"
