-##
-# Heading
-# Provide a unified way to display a heading and page header element
-#
-# @usage
-# -# Heading
-# = codeBlender "heading", "molecule", { text: "Default H1 Tag" }
-#
-# -# Page header
-# = codeBlender "heading", "molecule", { pageHeader: true, text: "Default H1 Tag" }
-#
-# @param href
-# @param icon
-# @param pageHeader
-# @param small
-# @param tag
-# @param text
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-# @see      http://getbootstrap.com/css/#type-headings
-# @see      http://getbootstrap.com/components/#page-header
-##

-# Required text
- if ! locals[ :text ].blank?

    -# Capture content
    - captureHTML = capture_html do

        -# Variable
        - extraClass = locals[ :extraClass ] ? "heading #{ extraClass }" : "heading"
        - id         = locals[ :id ]         ? locals[ :id ]             : false
        - itemprop   = locals[ :itemprop ]   ? locals[ :itemprop ]       : false
        - ng         = locals[ :ng ]         ? locals[ :ng ]             : false
        - rel        = locals[ :rel ]        ? locals[ :rel ]            : false
        - tag        = locals[ :tag ]        ? locals[ :tag ]            :  "h1"

        -# Heading - defaults to H1
        - haml_tag tag, { class: extraClass, id: id, itemprop: itemprop, ng: ng, rel: rel } do

            -# Icon
            - if locals[ :icon ]
                = codeBlender "icon", "atom", { icon: locals[ :icon ] }

            -# Link
            - if locals[ :href ]
                = link_to string( locals[ :text ] ), href

                -# Text
            - else
                = string locals[ :text ]

            -# Secondary text if required
            - if locals[ :small ]
                %small= string locals[ :small ]

    -# Pager header
    -# @see http://getbootstrap.com/components/#page-header
    - if locals[ :pageHeader ]
        .page-header= captureHTML
    - else
        = captureHTML