---

description : "Heading"
title       : "Heading"

see :
    - - "Bootstrap heading"
      - "http://getbootstrap.com/css/#type-headings"
    - - "Accessibility"
      - "https://www.w3.org/WAI/tutorials/page-structure/headings/"
    - - "Usability"
      - "http://meetcontent.com/blog/introducing-content-page-titles-headings/"

todo :
    - - "Get the heading truncation working"
    - - "Create media queries for the heading truncation"
    - - "Create micro formats and accessibility for the headings"
    - - "Complete the ability to use truncation - does not work in media objects at the moment"
    - - "Allow for an icon to be prepended or appended"

---

-# Default
:ruby
    code = %{codeBlender "heading", "molecule", { text: "Default H1 Tag" }}

-# Code
= codeBlender "code", "organism", { code: code }

%br

-# H2 with small
:ruby
    code = %{codeBlender "heading", "molecule", { small: "Secondary small text", text: "H2 with Secondary Text", tag: "h2" }}

-# Code
= codeBlender "code", "organism", { code: code }

%br

-# H4
:ruby
    code = %{codeBlender "heading", "molecule", { small: "Simply change the tag attribute", text:  "H4", tag: "h4" }}

-# Code
= codeBlender "code", "organism", { code: code }

%br

-# Heading with link
:ruby
    code = %{codeBlender "heading", "molecule", { href: "#", small: "With a Link attached", text: "Linked Heading", tag: "h2" }}

-# Code
= codeBlender "code", "organism", { code: code }

%br

-# Page header
:ruby
    code = %{codeBlender "heading", "molecule", { pageHeader: true, small: "H1 page header", text: "Page header" }}

-# Code
= codeBlender "code", "organism", { code: code }
