---

heading :
    small : "https://developers.facebook.com/docs/plugins/"
    title : "Facebook Like Button Partial"

meta :
    author      : "Ian Warner"
    description : "See what your Facebook friends have liked, shared, or commented on across the Web."
    title       : "Facebook Like Button Partial"

see :
    - - "Facebook Plugins"
      - "https://developers.facebook.com/docs/plugins/"
    - - "Like Button"
      - "https://developers.facebook.com/docs/plugins/like-button/"
    - - "Open Graph"
      - "https://developers.facebook.com/docs/opengraph/using-objects/#creating"
    - - "Media Content"
      - "https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/"

todo :
    - - "Sort out the Reference elements"
      - "Facebook"
      - "2014-02-12"
    - - "Sort out the correct default width based on the layout selected"
      - "Facebook"
      - "2014-02-12"

---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Like Button",
                        :tag  => "h2" }

-# Like Button
= partial "social/facebook/like-button"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/like-button"

-# Customised
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Customised Button",
                        :tag  => "h2" }

-# Like Button
= partial "social/facebook/like-button",
           :locals => { :action      => "recommend",
                        :colorscheme => "dark",
                        :href        => "http://google.com",
                        :layout      => "button",
                        :share       => "false" }

-# Code
:code
    #lang: ruby
    = partial "social/facebook/like-button",
               :locals => { :action      => "recommend",
                            :colorscheme => "dark",
                            :href        => "http://google.com",
                            :layout      => "button",
                            :share       => "false" }

-# Show Faces
%hr

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Customised Button",
                        :tag  => "h2" }

-# Like Button
= partial "social/facebook/like-button",
           :locals => { :href         => "https://www.facebook.com/onlyasmile?ref=stream",
                        :"show_faces" => "true" }

-# Code
:code
    #lang: ruby
    = partial "social/facebook/like-button",
               :locals => { :href         => "https://www.facebook.com/onlyasmile?ref=stream",
                            :"show_faces" => "true" }