-##
-# Form Select
-# Supports HTML5 elements, such as Placeholder, Autofocus.
-#
-# @usage
-# -# Select
-# = codeBlender "select", "atom", { array: array, label: { title: "Label" }, name: "ID" }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category atom
-##

-# Variable
- label = locals[ :label ]

-# Input content
- inputCapture = capture_html do

    -# Select
    %select.form-control{ id:       locals[ :name ]     ? name          : false,
                          multiple: locals[ :multiple ] ? true          : false,
                          name:     locals[ :name ]     ? name          : false,
                          ng:       locals[ :ng ]       ? locals[ :ng ] : false,
                          required: locals[ :required ] ? "required"    : false }

        -# Check that array is defined
        - if locals[ :array ]

            -# Loop through the array
            - array.each do | value |

                -# If no value[ :key ] is present then escape value[ :value ]
                - if ! value[ :key ]
                    - value[ :key ] = string value[ :value ]

                -# Option
                %option{ value: value[ :key ] }
                    = string value[ :value ]

-# Form Group
.form-group{ show: { errors: "{showSuccess: true}" } }

    -# Label - note this is an array as it contains flag for screen reader
    %label.control-label{ for: locals[ :name ], class: label[ :extraClass ] ? label[ :extraClass ] : false }
        = string label[ :title ]

    - if locals[ :column ]

        -# Usually contains the column counts for a horizontal form
        -# Need to remove this DIV if there is no requirement for Columns here
        %div{ class: locals[ :column ] }
            = inputCapture

    - else
        = inputCapture

-# Form Group
.form-group{ show: { errors: "{showSuccess: true}" } }

    -# Label - note this is an array as it contains flag for screen reader
    %label.control-label{ for: locals[ :name ], class: label[ :extraClass ] ? label[ :extraClass ] : false }
        = string label[ :title ]

    - if locals[ :column ]

        -# Usually contains the column counts for a horizontal form
        -# Need to remove this DIV if there is no requirement for Columns here
        %div{ class: locals[ :column ] }
            = inputCapture

    - else
        = inputCapture

    -# Help Block
    -# Sometimes this should be hidden to allow errors to be added inside.
    -# Assume if locals[ :help] is a "true" Bool only then add class hidden and no text
    - if locals[ :help ]

        %span.help-block{ class: !! help == help ? "hidden" : false }

            -# Help should be a string to show
            - if help.is_a?( String )
                = help
