-##
-# Button / Link Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://www.plugolabs.com/twitter-bootstrap-button-generator/
-##

-# Active
- classes = locals[ :active ] ? " active" : ""

-# Block Level
- classes += locals[ :block ] ? " btn-block" : ""

-# Color
- classes += locals[ :context ] ? " btn-#{ context }" : " btn-default"

-# Disabled
- classes += locals[ :disabled ] ? " disabled" : ""

-# Dropdown
- classes += locals[ :dropdown ] ? " dropdown-toggle" : ""

-# Extra Class
- classes += locals[ :extraClass ] ? " #{ extraClass }" : ""

-# Size
- classes += locals[ :size ] ? " btn-#{ size }" : ""

-# Tag
- tag = locals[ :href ] ? "a" : "button"

-# Capture Content
- captureHTML = capture_html do

    -# Content
    - if locals[ :content ]
        = string content

    -# Icon
    - if locals[ :icon ]
        = icon locals[ :icon ]

    -# Image
    - if locals[ :image ]
        = partial "./bootstrap/css/image",
                   :locals => locals[ :image ]

    -# Dropdown Caret
    - if locals[ :dropdown ]
        %span.caret
        %span.sr-only
            Toggle Dropdown

-# Link
- if ! locals[ :href ]

    %button{ :"aria-hidden"  => locals[ :hidden ]   ? "true"          : false,
             :class          => "btn #{ classes }",
             :data           => locals[ :data ]     ? data            : false,
             :hidden         => locals[ :hidden ]   ? "hidden"        : false,
             :id             => locals[ :id ]       ? id              : false,
             :title          => locals[ :title ]    ? string( title ) : false,
             :type           => "submit" }
        = captureHTML

- else

    = link_to( captureHTML,
               locals[ :href ],
               :"aria-hidden"  => locals[ :hidden ]   ? "true"          : false,
               :class          => "btn #{ classes }",
               :data           => locals[ :data ]     ? data            : false,
               :hidden         => locals[ :hidden ]   ? "hidden"        : false,
               :id             => locals[ :id ]       ? id              : false,
               :title          => locals[ :title ]    ? string( title ) : false )