-##
-# Bootstrap Table
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Table
%table.table{ :id     => locals[ :id ]         ? id         : false,
              :class  => locals[ :tableClass ] ? tableClass : false,
              :hidden => locals[ :hidden ]     ? "hidden"   : false  }

    -# Header
    %thead

        %tr

            -# Loop through the columns section to create the Header Row
            - array[ "columns" ].each_with_index do | column, index |
                %th
                    = string column[ "label" ]

    -# Footer
    - if locals[ :footer ]
        %tfoot

            %tr

                -# Loop through the columns section to create the Header Row
                - array[ "columns" ].each_with_index do | column, index |
                    %th
                        = string column[ "label" ]

    -# Body
    %tbody

        -# Loop through the data rows
        - array[ "data" ].each_with_index do | row, index |

            -# Check to see if there is a context
            - context = false

            - if row.is_a?( Array )
                - context  = row.detect { | f | f[ "context" ] }

            -# Table Row
            %tr{ :class => context ? context[ "context" ] : false }

                -# Loop through the data cells
                - row.each do | cell |

                    -# Decorate the URL element into a link
                    - if  cell.include? "http"
                        - cell = "<a href=\"#{cell}\" target=\"_blank\">#{cell}</a>"

                    -# Do not want to show the contextual
                    - if ! cell.is_a?( Hash )
                        %td
                            = cell