---
author      : "Ian Warner"
description : "Blog Articles List"
layout      : "site/layout"
small       : "Formatted archive by year and month"
title       : Blog Articles List
pageable    : true
per_page    : 5
---

.row

    .col-md-9.col-sm-9

        -# Loop through the Articles
        - page_articles.each_with_index do | article, i |

            -# Articles
            .row

                -# Image
                .col-md-4.col.sm-4

                    -# Image
                    -# %img.img-polaroid{ :src => "#{imagesBlog}#{article.data.image}" }
                    %img{ :"data-src" => holderImage( "100%x200" ) }

                -# Articles
                .col-md-8.col.sm-8

                    -# Heading
                    = partial "bootstrap/type/heading",
                               :locals => { :href  => article.url,
                                            :small => article.data.small,
                                            :text  => article.title,
                                            :type  => "h3" }

                    -# Excerpt
                    = article.data.excerpt

                    -# Footer
                    = partial "blog/details", :locals => { :current_page => article }


        .text-center
            -# Usage
            = partial "bootstrap/components/pagination",
                       :locals => { :nextPage => next_page,
                                    :prevPage => prev_page,
                                    :pageNo   => page_number,
                                    :pages    => num_pages }

    .col-md-3.col-sm-3

        SIDEBAR