---

stub : articles

heading :
    small : "List of articles sorted by date"
    title : "Article"

pageable : true
per_page : 5

see :
    - - "Template"
      - "http://geedmo.com/codecanyon/elemento/bootstrap3/blog.html"
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"
    - - "Metronic Theme"
      - "http://keenthemes.com/preview/index.php?theme=metronic_frontend"

todo :
    - - "Complete the formatting for this page"
      - "Blog"
      - "2014-02-27"
      - { context: "info" }
    - - "Blog - complete the Tags and Calendar drop down pages"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Blog frontmatter should have Facebook / Twitter details - document"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Complete Older and Newer links to other articles"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Related articles section"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Create the correct HTML5 section and microformats i.e. article"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Author Biographies and Photo - microformat"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Table of contents should look better - collapsable - use JS"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }

---

-# Bootstrap Row
.row

    -# Bootstrap Columns
    .col-md-8.col-sm-8

        -# Loop through the Articles
        - page_articles.each_with_index do | article, i |

            -# Media
            .media

                -# Check article has associated Image
                .pull-left

                    -# Filename
                    - imgName  = article.data.heading.title.downcase.gsub( /[^a-z0-9\- ]/, '' ).gsub( / /, '-' )
                    - fileName = "/#{ images_dir }/docs/#{ imgName }.png"

                    -# Check that image exists
                    - if File.file?( fileName )

                        -# Image
                        = partial "./atom/image/image",
                                   locals: { alt:        string( article.title ),
                                             extraClass: "media-object img-thumbnail",
                                             src:        fileName }

                -# Media Body
                .media-body

                    -# Heading
                    = partial "./molecule/heading/heading",
                               locals: { extraClass: "media-heading",
                                         href:       article.url,
                                         small:      string( article.data.small ),
                                         tag:        "h3",
                                         text:       string( article.data.heading.title ) }

                    -# Details
                    = partial "./blog/detail", locals: { current_page: article }

                    -# Excerpt
                    %p= string article.data.excerpt

                    -# Read More Button
                    = partial "./bootstrap/css/button",
                               locals: { context:    "primary",
                                         content:    string( "Read More" ),
                                         extraClass: "pull-right",
                                         href:       article.url,
                                         size:       "sm" }

        -# Pagination
        .text-center

            = partial "./bootstrap/component/pagination",
                       locals: { nextPage: next_page,
                                 prevPage: prev_page,
                                 pageNo:   page_number,
                                 pages:    num_pages }

    .col-md-4.col-sm-4

        -# Heading
        = partial "./molecule/heading/heading",
                   locals: { extraClass: "noMargin",
                             tag:        "h3",
                             text:       string( "Archive" ) }

        -# Archive
        = partial "./blog/archive"

        -# Heading
        = partial "./molecule/heading/heading",
                   locals: { extraClass: "noMargin",
                             tag:        "h3",
                             text:       string( "Tags" ) }

        -# Tag Cloud
        = tagCloud()