-##
-# Mobile Layout
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
!!!
%html

    %head

        -# Encoding
        %meta{ :charset => "utf-8" }

        -# Mobile Phone Meta Data
        = partial "./meta/mobile"

        -# Page Title
        %title= current_page.data.title

        -# Stylesheet
        - if build?
            %link{ :rel  => 'stylesheet',
                   :type => 'text/css',
                   :href => "#{css_dir}/site.css" }
        - else
            %link{ :rel  => 'stylesheet',
                   :type => 'text/css',
                   :href => "/#{css_dir}/site.css" }

    -# Body with Page Class
    %body{ :class => "#{page_classes} js" }

        -# Panel Left - Scrollable
        %aside{ :role => :panelLeft }

        -# Panel Right - Scrollable
        %aside{ :role => :panelRight }

        -# Header
        %header

        -# Main Section - Scrollable
        %section{ :role => :main }

            = yield

        -# Redeem
        %footer

        -# Cordova
        - if build?
            %script{ :src => "cordova.js" }
            %script{ :src => "#{js_dir}/all.js" }
        - else
            %script{ :src => "/cordova.js" }
            %script{ :src => "/#{js_dir}/all.js" }

        -# Initialize JavaScript
        :javascript
            App.initialize()
            $( 'body > :not(.mobilePrototype)' ).hide();
            $( '.mobilePrototype' ).prependTo( 'body' );