-##
-# Article
-#
-# @usage
-# -# Article
-# = codeBlender "article", "template"
-#
-# @param page_articles | Need to pass in the paginated pages 'page_articles'
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category template
-##

-# Local
- article = locals[ :article ] ? locals[ :article ] : current_article

-# Variable
-# = article
-# = image

-# Article
%article.article{ role: "article", itemscope: true, itemtype: "http://schema.org/BlogPosting" }

    -# Article header
    %header.article__header

        -# Image process
        - unless falsey locals[ :image ]

            -# Does an image exists in the front matter
            - if article.data.image
                .article__image
                    -# Image
                    = codeBlender "image", "atom", { extraClass: "img-responsive", src: article.data.image }

                    -# SVG slant
                    <svg class="article__slant" width="750" height="77" viewBox="0 0 750 77" xmlns="http://www.w3.org/2000/svg"><path d="M0 76.017h750L469.722 47.69.238.237" fill="#fff" fill-rule="evenodd"/></svg>

        -# Breadcrumb process
        - unless falsey locals[ :breadcrumb ]

            -# Breadcrumb
            = codeBlender "breadcrumb", "molecule", { extraClass: "article__breadcrumb", title: article.title }

        -# Category
        .article__category
            = link_to category_path( article.data.category ) do
                - article.data.category.upcase

        -# Heading - article H1
        = codeBlender "heading", "molecule",
          { extraClass: "article__heading heading--noMargin",
            rel:        "bookmark",
            small:      article.data.small ? article.data.small : false,
            text:       article.title,
            itemprop:   "name headline" }

        -# Article detail
        -# Date time
        -# Author - link this
        -# Social
            -# Facebook
            -# Add Pinterest, Google, LinkedIn, Twitter
        -# Tags
        -# Need to include the category
        = codeBlender "detail", "molecule", { article: article, author: true, cal: true, comment: false, social: true, tags: true }

    -# Yield
    .article__content
        %span{ itemprop: "text" }
            = article.body

    -# Article footer
    %footer

        -# Pager variables
        - prevPage = article.previous_article ? article.previous_article : false
        - nextPage = article.next_article     ? article.next_article     : false

        -# Pager
        = codeBlender "pager", "molecule", { prevPage: prevPage, nextPage: nextPage }

        -# Disqus comment
        - if article.data.commentDisqus

            -# Disqus comment
            = codeBlender "disqus-comment", "organism"

        -# Facebook comment
        - if article.data.commentFacebook

            -# Facebook comment
            = codeBlender "comment", "social/facebook/comment"
