-##
-# Bootstrap JavaScript
-# Modal Partial
-#
-# @usage
-# -# Body
-# - body = capture_html do
-#
-#     -# Heading
-#     = partial "molecule/heading/heading", locals: { tag: "h2", text: "Heading" }
-#
-#     %p
-#         TEXT
-#
-# -# Modal
-# = partial "./molecule/modal/modal", locals: { id: "myModal", body: body }
-#
-# -# Button
-# = partial "./atom/button/button",
-#            locals: { text: "Launch Modal",
-#                      data: { target: "#myModal",
-#                              toggle: "modal" } }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# If ID is not defined or Blank
- if ! locals[ :id ]
    - id = "myModal"

-# Modal
.modal{ aria:     { labelledby:  "#{ id }Label",
                    hidden:      "true",
                    describedby: "Overlay" },
        class:    locals[ :noAnimation ] ? false : "fade",
        id:       id,
        role:     "dialog",
        tabindex: "-1" }

    -# Modal Dialog
    .modal-dialog{ class: locals[ :size ] ? size : false }

        -# Modal Content
        .modal-content{ class: locals[ :contentClass ], data: locals[ :data ] ? data : false }

            -# Check for Header
            - if ! locals[ :header ] ? true : false

                -# Modal Header
                .modal-header

                    -# Close Button
                    = partial "./atom/button/button",
                               locals: { aria:       { label: "Close" },
                                         text:       "close",
                                         extraClass: "close",
                                         data:       { dismiss: "modal" },
                                         type:       "button" }

                    -# Check for Title
                    - if locals[ :title ]

                        -# Heading
                        = partial "./molecule/heading/heading",
                                   locals: { extraClass: "modal-title",
                                             id:         "#{ id }Label",
                                             text:       title,
                                             tag:        "h4" }

            -# Modal Body
            - if locals[ :body ]
                .modal-body= body

            -# Modal Footer
            - if locals[ :footer ]
                .modal-footer= footer