-##
-# Navigation Dropdown Partial
-#
-# @usage
-# -# Dropdown
-# = partial "./molecule/dropdown/navbarDropdown",
-#            locals: { extraClass: "btn-group clearfix",
-#                      title:      "Drop Down",
-#                      type:       "btn-group",
-#                      list:       { array:    current_page.data.list,
-#                                    dropdown: true }}
-#
-# @param list
-# @param button
-# @param type    dropdown or btn-group
-#
-# @category Molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- list = locals[ :list ]

-# Button
- if locals[ :button ]
    - button = locals[ :button ]
- else
    - button = {}

-# Capture the List Content
- capture = capture_html do

    -# Create a Button Tag
    -# Check type : Dropdown or Button
    - if locals[ :type ] == "dropdown" || locals[ :type ] == "btn-group"

        -# Add defaults for Dropdown Button
        - button[ :dropdown ] = true
        - button[ :content ]  = locals[ :title ]
        - button[ :toggle ]   = "dropdown"
        - button[ :data ]     = { toggle: "dropdown" }

        -# Button Partial
        = partial "./atom/button/button", locals: button

        -# Navbar dropdown
    - else

        -# Link To
        = link_to( "javascript:;", class: "dropdown-toggle", data: { toggle: "dropdown" } ) do

            -# Icon
            - if locals[ :icon ]
                = icon locals[ :icon ]

            -# Dropdown Title / HTML
            = string locals[ :title ]

            -# Icon or Image - override in CSS
            = icon "fa-chevron-down"

    -# List Partial
    = partial "./atom/list/ul", locals: list

-# Dropdown
- if locals[ :type ] == "dropdown" || locals[ :type ] == "btn-group"

    %div{ class: locals[ :extraClass ] ? extraClass : false, ng: locals[ :ng ] ? ng : false  }
        = capture

- else

    %li.dropdown{ class: locals[ :dropDownClass ] ? dropDownClass : false, ng: locals[ :ng ] ? ng : false }
        = capture