-##
-# Navbar Brand
-#
-# Provides Icon, Logo and text if required
-#
-# @usage
-# -# Navabr Brand
-# = partial "./molecule/brand/navbar"
-#
-# @category molecule
-# @stub     brand
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- brand = dataNav.brand

-# Display the Logo or Brand Name and optional Icon
- if brand.active

    -# Link To
    = link_to( brand.link.url,
               class: "navbar-brand #{ brand.extraClass }",
               title: brand.text.active ? string( brand.text.title ): false,
               ui:    brand.link.ui ? brand.link.ui : false ) do

        -# Icon
        - if brand.icon.active
            = icon brand.icon.icon

        -# Show Image
        - if brand.logo.active

            -# Image
            = partial "./atom/image/image",
                       locals: { alt:  brand.logo.alt,
                                 size: [ brand.logo.width, brand.logo.height ],
                                 src:  brand.logo.url ? brand.logo.url : "logo/logo.png" }

        -# Show Brand
        - if brand.text.active
            = string brand.text.text