-##
-# Button / Link
-# Creates a Mobile friendly button or Link
-#
-# A Button can initiate several actions:
-# * URL Desitination
-# * Hide Button and Show Content Underneath
-# * Pop Up Menu Content
-#
-# Locals
-# content    - String - (Required) - Content of the button
-# extraClass - String - (Optional) - Extra Classes
-# type       - String - (Optional) - Type - i.e. a, button or submit - Default Button
-# colour     - String - (Optional) - Either : default, primary
-# size       - String - (Optional) - Either : xs, sm, lg - Default: normal
-# block      - Bool   - (Optional) - true or false Default: true - .b-block
-# href       - String - (Optional) - HREF for an A Tag
-#
-# :data  => { :url => "" }
-#
-# Usage
-# = partial "mobile/button",
-#            :locals => { :content => "Redeem this offer",
-#                         :colour  => :primary,
-#                         :size    => :lg,
-#                         :block   => :true }
-#
-# Todo
-# @todo
-##

-# Colour Default to default if not defined
- if ! defined? colour
    - colour = "primary"

-# Type
- if ! defined? type
    - type = "button"

-# Size
- if defined? size and ! size.empty?
    - sized = "b-#{size}"

-# Block Level
- if ! defined? block
    - block = true

- if block
    - block = "b-block"

-# Extra Class
- if defined? extraClass and ! extraClass.empty?
    - extraClass = extraClass

-# Button
- if type == "button" or type == "submit"

    %button.b{ :type  => type,
               :class => "b-#{colour} #{sized} #{block} #{extraClass}" }
        = content

-# A Tag
- if type == "a"

    %a.b{ :href  => href,
          :class => "b-#{colour} #{sized} #{block} #{extraClass}" }
        = content