-##
-# Heading
-# Provide a unified way to display a heading tag
-#
-# @usage
-# -# Heading
-# = partial "molecule/heading/heading", locals: { text: "Default H1 Tag" }
-#
-# @param href
-# @param icon
-# @param small
-# @param tag
-# @param text
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Required text
- if ! locals[ :text ].blank?

    -# Heading - defaults to H1
    - haml_tag locals[ :tag ] ? tag : "h1",
               { class:    locals[ :extraClass ] ? "heading #{ extraClass }" : "heading",
                 id:       locals[ :id ]         ? id                        : false,
                 itemprop: locals[ :itemprop ]   ? itemprop                  : false,
                 ng:       locals[ :ng ]         ? ng                        : false,
                 rel:      locals[ :rel ]        ? rel                       : false } do

        -# Icon
        - if locals[ :icon ]

            -# Icon
            = partial "atom/icon/icon", locals: { icon: icon }

        -# Link
        - if locals[ :href ]
            = link_to string( text ), href

            -# Text
        - else
            = string text

        -# Secondary text if required
        - if locals[ :small ]
            %small= string small