-##
-# Contact
-#
-# @usage
-# -# Contact
-# = codeBlender "contact", "organism"
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category organism
-##

-# Capture content for HEAD
- content_for :siteHead do
    %script{ src: "https://maps.googleapis.com/maps/api/js?key=#{ data.google.api }" }

:markdown
    Elements that can be customised on this page are as follows:

    * Title and Small text can be found in the localised file.

%hr

-# Introduction
%p
    Whatever your feedback or questions we would love to hear from you, please
    e-mail us at :
    = mail_to "ian.warner@drykiss.com"

.row.contactPage

    -# Map and Address
    .col-md-8

        -# Navigation tabs - Display various branch locations if required
        = codeBlender "nav", "molecule",
          { active:  "Colliers Wood",
            array:   [ { path: "#colliers", name: "Colliers Wood" } ],
            stacked: false,
            toggle:  true }

        -# Tab Content
        .tab-content

            .tab-pane.active#colliers

                -# Map
                %ui-gmap-google-map.thumbnail{ center: "contact.map.center", zoom: "contact.map.zoom" }

                    %ui-gmap-marker{ coords: "contact.marker.coords", idkey: "contact.marker.id", options: "contact.marker.options" }

                -# Under Map
                .row

                    .col-md-6.col-sm-6.col-xs-6

                        -# Address
                        %address

                            -# Heading
                            = codeBlender "heading", "molecule", { text: "DryKISS Ltd", tag: "h3" }

                            -# Icon - Map Marker
                            = codeBlender "icon", "atom", { icon: "fa-map-marker fa-fw" }
                            Colliers Wood, London, SW19

                            %br

                            -# Icon - Call
                            = codeBlender "icon", "atom", { icon: "fa-phone fa-fw" }
                            = callLink "+447780435329"

                            %br

                            -# Icon - Mail
                            = codeBlender "icon", "atom", { icon: "fa-envelope fa-fw" }
                            = mail_to "ian.warner@drykiss.com"

                    .col-md-6.col-sm-6.col-xs-6

                        -# Opening Times
                        = codeBlender "heading", "molecule", { text: "Opening Times", tag: "h3" }

                        -# Icon - Clock
                        = codeBlender "icon", "atom", { icon: "fa-clock-o fa-fw" }
                        Monday - Saturday : 11am - 9pm

                        %br

                        -# Icon - Clock
                        = codeBlender "icon", "atom", { icon: "fa-clock-o fa-fw" }
                        Sunday and Bank Holidays : 11am - 8pm

                -# Heading
                = codeBlender "heading", "molecule", { small: "On Facebook and Twitter for exclusive promotions!", text:  "Follow Us", tag: "h3" }

                -# Icon - Facebook
                = codeBlender "icon", "atom", { icon: "fa-facebook-square" }

                -# Icon - Facebook
                = codeBlender "icon", "atom", { icon: "fa-twitter-square" }

    -# Form
    .col-md-4

        -# Heading
        = codeBlender "heading", "molecule", { extraClass: "noMargin", text: "Contact Form", tag: "h2" }

        -# Form
        %form{ name:       "contactForm",
               novalidate: true,
               ng:         { if: "! contact.sent", submit: "contact.submitForm( formSpree, $event )" },
               method:     "post",
               role:       "form" }

            -# Input - name
            = codeBlender "input", "atom",
              { input: { name:     "name",
                         ng:       { model: "formSpree.name" },
                         required: "" },
                label: { title: "Name" } }

            -# Input - email
            = codeBlender "input", "atom",
              { input: { name:     "_replyto",
                         ng:       { model: "formSpree.email" },
                         required: "",
                         type:     "email" },
                label: { title: "Email" } }

            -# Button - submit
            = codeBlender "button", "atom",
              { context: "primary",
                ng:      { disabled: "contactForm.$invalid" },
                text:    "Submit",
                type:    "submit" }

        -# Thank you
        %thankYou{ ng: { if: "contact.sent" } }
            Thank you for contacting Green Touch, we will respond very soon,
            via phone or email.
