-##
-# Pricing Table
-#
-# Locals
-# array      - Array  - Required - Array of items to show in the list
-# context    - String - Optional - Color of the panel from the global rules
-# footerText - String - Optional - Footer Text
-# heading    - String - Required - Heading text
-# imageClass - String - Optional - Add an image to the background of the heading
-# subheading - String - Required - Heading for the body panel
-#
-# Usage
-# -# Pricing Table
-# = partial "./scaffolding/pricing-table",
-#            locals: { array:      array,
-#                      heading:    "Heading",
-#                      subheading: "Sub Heading" }
-#
-# @category organism
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Pricing Table
.panel{ class: locals[ :context ] ? "panel-#{ context }" : "panel-warning" }

    -# Heading
    .panel-heading

        -# Heading
        - heading[ :extraClass ] = "panel-title"
        = partial "./molecule/heading/heading", locals: heading

    -# Body
    .panel-body{ class: locals[ :imageClass ] ? imageClass : false }

        -# Heading
        = partial "./molecule/heading/heading", locals: { text: locals[ :subheading ], tag: "h4" }

    -# List Group
    = partial "./molecule/listGroup/listGroup", locals: { array: array, extraClass: "list-unstyled text-center", list: true }

    -# Footer
    - if locals[ :footerText ]
        .panel-footer.text-center= string( locals[ :footerText ] )