-##
-# Bootstrap
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Should put the Meta Tags elements in an array to shorten the code
-# @todo Need to put the body data tags back into the layout
-# @todo Need to be able to change the doctype and HTML aspects from the config
-##

-# Variables
- locale = I18n.locale.to_s
- d      = current_page.data
- dc     = data.config

-# Wrapper
!!!

-# HTML Section
%html{ lang:      string( :locale ),
       itemscope: true,
       itemtype:  "http://schema.org/#{ string( :"meta.itemType" ) }",
       manifest:  dc.manifest ? "/offline.manifest" : false,
       ng:        { app: ( dc.angular.present? and dc.angular.appName.present? ) ? dc.angular.appName : false },
       xmlns:     "http://www.w3.org/1999/xhtml",
       xml:       { lang: string( :locale ) } }

    -# Head Section
    %head{ prefix: ( dc.head.present? and dc.head.prefix.present? ) ? dc.head.prefix : false }

        -# Meta Tags
        = partial "./meta/all"

        -# Main Stylesheet
        -# @see http://apidock.com/rails/ActionView/Helpers/AssetTagHelper/stylesheet_link_tag
        = stylesheet_link_tag :all, media: "all"

        -# Process Head Content from Pages
        - if content_for? :siteHead
            = yield_content :siteHead

        -# Javascript Head
        = javascript_include_tag :head

        -# Base
        %base{ href: "/" }

    -# Body with Page Class
    %body{ id:    dc.body.id ? dc.body.id : false,
           class: dc.body.extraClass ? dc.body.extraClass + " " + page_classes : page_classes,
           data:  { lang:   locale,
                    locale: ( ! dc.facebook.locale.blank? ) ? dc.facebook.locale[ locale ] : false },
           ng:    { controller: d.angular ? d.angular.controller ? d.angular.controller : false : false } }

        %a{ id: "top" }

        -# Facebook Root - Requires an AppID
        - if dc.facebook.app.id
            #fb-root

        -# Section - Above Nav
        - if dc.navigation.above or ( d.navigation and d.navigation.above )
            = partial "../_lib/navAbove"

        -# Section - Navbar
        - if ! dc.navbar.blank? and d.navbar != false
            %header
                = partial "./bootstrap/components/navbar", locals: { navExtraClass: dc.navExtraClass ? dc.navExtraClass : false,
                                                                     ng:            dc.navigation.ng ? dc.navigation.ng : {show: "true"}}

        -# Section - Below Navigation
        -# Can be done globally, or via page frontmatter
        - if dc.navigation.below or ( d.navigation and d.navigation.below )
            = partial "../_lib/navBelow"

        -# Section Main
        %div{ class: dc.container ? dc.container : false }

            -# Section - Yield
            = yield

        -# Section - Footer
        - if dc.footer.active or dc.copyright

            %footer

                -# Footer
                - if dc.footer.active
                    = partial "./scaffolding/footer"

                -# Copyright
                - if dc.copyright
                    = partial "./scaffolding/copyright"

                -# Icon
                - if dc.topIcon
                    = partial "./scaffolding/topIcon"

        -# Configuration
        - if dc.configuration
            = partial "./scaffolding/configuration"

        -# Cordova
        - if build? and dc.cordova
            %script{ src: "cordova.js" }

        -# JavaScript
        -# @see http://apidock.com/rails/v4.0.2/ActionView/Helpers/AssetTagHelper/javascript_include_tag
        = javascript_include_tag :body

        -# Google Analytics
        - if dc.google.analytics
            = partial "./google/analytics"