-##
-# Full Width
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- d  = current_page.data
- dc = data.config

-# Layout - Calls Wrapper Layout
- wrap_layout "_library/site/layout" do

    .row

        -# Main Content
        .col-md-12

            - if dc.heading

                -# Heading
                = partial "./bootstrap/type/heading",
                           :locals => { :small => string( d.small ),
                                        :text  => string( d.title ) }

            -# Details
            - if dc.description
                %p= string d.description

            -# Separator
            - if dc.hr
                %hr

            -# Locals
            - if d.locals
                = partial "./scaffolding/locals"

            -# Yield
            = yield

            -# Resources
            - if dc.resources
                = partial "./scaffolding/resources"

            -# Todo
            - if dc.todo
                = partial "./scaffolding/todo"