-##
-# Layout
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- d  = current_page.data
- dc = data.config

-# Layout - Calls Wrapper Layout
- wrap_layout "_library/site/bootstrap" do

    -# Section - Above Nav
    - if dc.navAbove
        = partial "../_lib/navAbove"

    -# Section - Navbar
    - if ! dc.navbar.blank? and d.navbar != false
        %header
            = partial "./bootstrap/components/navbar",
                       :locals => { :navExtraClass => dc.navExtraClass }

    -# Section - Below Nav
    - if dc.navBelow
        = partial "../_lib/navBelow"

    -# Section Main
    .main{ :class => dc.container ? dc.container : false }

        -# Section - Yield
        = yield

    -# Section - Footer
    - if dc.footer or dc.copyright

        %footer

            -# Footer
            - if dc.footer
                = partial "./scaffolding/footer"

            -# Copyright
            - if dc.copyright
                = partial "./scaffolding/copyright"

            -# Icon
            - if dc.topIcon
                = partial "./scaffolding/topIcon"