-##
-# Colour
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# @todo   Can place the arrays together to produce the whole colour area
-##

-# Colour Anchor
%a.anchor#colour

-# Section
%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h2",
                            :text => "Colour" }

    %p
        The Visa colour system allows for use of type on Primary Gold, Primary
        Blue and white. For all colours, make sure type is legible, but be
        especially careful when using white type on gold.

    -# Flat colour anchor
    %a.anchor#flatcolour

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :id   => "flatcolour",
                            :tag  => "h3",
                            :text => "Flat Colour" }

    %p
        In cases where production techniques do not allow for the reproduction of
        gradients, either in print or on screen, we have a palette of flat colours.

        Do not use flat colour in cases where it would be possible to produce a
        gradient.

    %p
        %span.fa.fa-download
        Download Swatches

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h4",
                            :text => "Primary Flat Colour" }

    -# Colour Array
    - colourArray = [ [ "Primary Blue",   "#1A1F71", 26,   31, 113 ],
                      [ "Primary Orange", "#F7B600", 247, 182,   0 ],
                      [ "Primary White",  "#FFFFFF", 255, 255, 255 ],
                      [ "Primary Grey",   "#75787B", 117, 120, 123 ] ]

    -# Colour Row
    .row{ :style => "border :1px solid grey"}

        -# Loop through the colour
        - colourArray.each do | colour |

            .col-md-3.col-sm-3.col-xs-6

                .circle.colour{ :class => "bg-#{ colour[0].downcase.gsub( ' ', '-' ) }" }
                %br
                = colour[ 0 ]
                %br
                = colour[ 1 ]
                %br
                R #{ colour[ 2 ] }
                %br
                G #{ colour[ 3 ] }
                %br
                B #{ colour[ 4 ] }

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h4",
                            :text => "Overlap Flat Colour" }

    -# Colour Array
    - colourArray = [ [ "Overlap Blue",   "#003EA9", 0,   62, 169 ],
                      [ "Overlap Orange", "#EF8400", 239, 132,  0 ],
                      [ "Overlap Yellow", "#FFD700", 255, 215,  0 ] ]

    -# Colour Row
    .row{ :style => "border : 1px solid grey" }

        -# Loop through the colour
        - colourArray.each do | colour |

            .col-md-3.col-sm-3.col-xs-6

                .circle.colour{ :class => "bg-#{ colour[0].downcase.gsub( ' ', '-' ) }" }
                %br
                = colour[ 0 ]
                %br
                = colour[ 1 ]
                %br
                R #{ colour[ 2 ] }
                %br
                G #{ colour[ 3 ] }
                %br
                B #{ colour[ 4 ] }

    -# Gradients Anchor
    %a.anchor#gradients

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h3",
                            :text => "Gradients" }

    %p
        Blue, gold and white are rooted in Visa's history. These primary colours
        provide the driving force behind Streamer gradients, which bring energy
        and heightened contrast.

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h4",
                            :text => "Primary Gradients" }

    PALETTES

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h3",
                            :text => "Overlap Gradients" }

    %p
        Overlap colours are informed by the sections where two primary colours
        meet in the construction of Streamers. These colours are used sparingly
        to support our primary paletter in internal communications and infographics
        to delineate information.

    PALETTES

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h4",
                            :text => "Source Gradients" }

    PALETTE1

    PALETTE2

    PALETTE3

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h3",
                            :text => "Creating Gradients"}

    %p
        When creating gradients, look to the way colour is used in the Brand
        Mark for inspiration. Gradients always travel from the lower left-hand
        corner to the upper right-hand corner within a shape. They begin with the
        darker colour, and end with the ligher. The angle of the gradient is
        based on the proportions of the shape, rather than being tied to any
        specific angle.

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h4",
                            :text => "Creating Colour Gradients" }

    PALETTE1

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :tag  => "h4",
                            :text => "Gradient Colour Breaks" }

    PALETTE1

    %p
        %span.fa.fa-download
        Download Gradients