-##
-# Logos
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%a.anchor#logos

%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Logos",
                            :tag  => "h2" }

    %p
        We've optimised our Brand Mark to reinforce its iconic details and
        modernise its usage. The letter forms have been simplified to improve
        legibility in increasingly crowded and tiny digital spaces. A subtle
        gradient was added in the primary version of the Brand Mark to
        empphasize Visa's forward trajectory and energy.

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Primary Use",
                            :tag  => "h3" }

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Gradient Brand Mark",
                            :tag  => "h4" }

    %p
        The Visa Brand Mark is our primary mark. Always use the Gradient Brand
        Mark as it is supplied.

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "White Brand Mark",
                            :tag  => "h4" }

    %p
        Use on colour backgrounds and when set against photography for maximum
        legibility.

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Clear Space",
                            :tag  => "h4" }

    %p
        To maximise the visual impact of the Brand Mark, we surround it with a
        visual clear space. The clear space may be white or the natural colour of
        the background. This area should be free from other elements including
        text, graphic, borders or other logos.

    %p
        X = Height of the V

    %p
        Apply 1X clear space around all sides of the Brand Mark when possible.
