-##
-# Typography
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%a.anchor#typography

%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Typography",
                            :tag  => "h2" }

    Myriad Pro Light should be the primary font used throughout the majority of
    the Visa Visual Identity System.
    It's clarity and openness directly express our Design Principles. It's
    modernity primes the brand to live among the top brands in the technology
    space, while also shifting our focus from a corporate to consumer brand.
    %br
    %br

    %p
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
        %br
        abcdefghijklmnopqrstuvwxyz
        %br
        1234567890!@£$%^&*()

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Myriad Pro Light",
                            :tag  => "h5" }

    %p
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
        %br
        abcdefghijklmnopqrstuvwxyz
        %br
        1234567890!@£$%^&*()

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Myriad Pro Light Italic",
                            :tag  => "h5" }

    %p
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
        %br
        abcdefghijklmnopqrstuvwxyz
        %br
        1234567890!@£$%^&*()

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Myriad Pro Semibold",
                            :tag  => "h5" }

    %p
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
        %br
        abcdefghijklmnopqrstuvwxyz
        %br
        1234567890!@£$%^&*()

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Myriad Pro Semibold Italic",
                            :tag  => "h5" }