---

description : "Alert"
title       : "Alert"

see :
    - - "Bootstrap Alerts"
      - "http://getbootstrap.com/components/#alerts"

todo :
    - - "Sort out the links in the Alerts using the alert-link class"

---

-# Success Alert
:ruby
    code = %{codeBlender "alert", "molecule", { text: "Well done! You successfully read this important alert message." }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Success Alert" } }

-# Info Alert
:ruby
    code = %{codeBlender "alert", "molecule", { context: "info", text: "Heads up! This alert needs your attention, but it's not super important." }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Info Alert" } }

-# Warning Alert
:ruby
    code = %{codeBlender "alert", "molecule", { context: "warning", text: "Warning! Better check yourself, you're not looking too good." }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Warning Alert" } }

-# Danger Alert
:ruby
    code = %{codeBlender "alert", "molecule", { context: "danger", text: "Oh snap! Change a few things up and try submitting again." }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Danger Alert" } }

-# Dismissible Alert
:ruby
    code = %{codeBlender "alert", "molecule", { context: "warning", dismiss: true, text: "Warning! Better check yourself, you're not looking too good." }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { small: "Closable Alert, require JavaScript", text:  "Dismissible" } }

-# In-line Links
:ruby
    code = %{codeBlender "alert", "molecule", { context: "success", text: "Well done! You successfully <a href='#' class='alert-link'>Link</a> read this important alert message." }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Inline Links" } }