---

meta :
    author      : "DryKISS"
    description : "Alert - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Alert - CodeBlender"
    type        : "website"

heading :
    small : "Message boxes"
    title : "Alert"

see :
    - - "Bootstrap Alerts"
      - "http://getbootstrap.com/components/#alerts"

todo :
    - - "Sort out the links in the Alerts using the alert-link class"

locals :
    - - "context"
      - "string"
      - "optional"
      - "Context of alert - success, info, warning, danger, defaults to success"
    - - "dismissible"
      - "bool"
      - "optional"
      - "Whether the alert can be closed, requires alerts.js"
    - - "text"
      - "string"
      - "required"
      - "Content of the Alert"

---

-# ID
- id = 0

-# Success Alert
:ruby
    code = %{partial "molecule/alert/alert.haml",
                      locals: { text: "Well done! You successfully read this important alert message." }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Success Alert" } }

-# Info Alert
:ruby
    code = %{partial "molecule/alert/alert.haml",
                      locals: { context: "info",
                                text:    "Heads up! This alert needs your attention, but it's not super important." }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Info Alert" } }

-# Warning Alert
:ruby
    code = %{partial "molecule/alert/alert.haml",
                      locals: { context: "warning",
                                text:    "Warning! Better check yourself, you're not looking too good." }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Warning Alert" } }

-# Danger Alert
:ruby
    code = %{partial "molecule/alert/alert.haml",
                      locals: { context: "danger",
                                text:    "Oh snap! Change a few things up and try submitting again." }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Danger Alert" } }

-# Dismissable Alert
:ruby
    code = %{partial "molecule/alert/alert.haml",
                      locals: { context: "warning",
                                dismiss: true,
                                text:    "Warning! Better check yourself, you're not looking too good." }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { small: "Closeable Alert, require JavaScript", text:  "Dismissable" } }

-# In-line Links
:ruby
    code = %{partial "molecule/alert/alert.haml",
                      locals: { context: "success",
                                text:    "Well done! You successfully <a href='#' class='alert-link'>Link</a> read this important alert message." }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Inline Links" } }