-##
-# List Dropdown Partial
-# Create the list elements required for dropdowns
-#
-# @usage
-# -# List
-# = partial "./atom/list/list.dropdown", locals: { array: current_page.data.list }
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      http://getbootstrap.com/css/#type-lists
-##

-# Dropdown Menu
%ul.dropdown-menu{ aria: { labelledby: locals[ :label ] ? locals[ :label ] : "dropdownMenu1" }, class: locals[ :extraClass ], role: "menu" }

    -# Loop through the array
    - locals[ :array ].each do | list |

        -# Divider
        - if list[ :divider ]

            %li{ class: "divider", role: "separator" }

            -# Header
        - elsif list[ :header ]

            %li.dropdown-header= string list[ :header ]

            -# Local Partial
        - elsif list[ :partial ]

            = partial "../_lib/#{ list[ :partial ] }"

            -# Text
        - else

            -# Active
            - classes = list[ :active ] ? "active" : ""

            -# Extra Classes
            - classes += list[ :extraClass ] ? " #{ list[ :extraClass ] }" : ""

            -# Status
            - classes += list[ :status ] ? " #{ list[ :status ] }" : ""

            -# List Item
            %li{ class: ! classes.empty?    ? classes       : false,
                 data:  list[ :data ]       ? list[ :data ] : false,
                 ng:    list[ :ng ]         ? list[ :ng ]   : false,
                 ui:    { sref: { active: "active" } } }

                -# If URL is present then show a link
                - if list[ :link ]

                    -# Link To
                    = link_to( string( list[ :link ][ :url ] ),
                               { ng:       list[ :link ][ :ng ]     ? list[ :link ][ :ng ]     : false,
                                 target:   list[ :link ][ :target ] ? list[ :link ][ :target ] : false,
                                 ui:       list[ :link ][ :ui ]     ? list[ :link ][ :ui ]     : false } ) do

                        -# Icon
                        - if list[ :icon ]
                            = icon list[ :icon ]

                        - if list[ :text ]
                            = string list[ :text ]

                    -# No Link Required
                - else
                    = string list[ :text ]