-##
-# List Partial
-# Handles lists for Navbar Dropdowns
-#
-# @usage
-# -# List
-# = partial "bootstrap/type/list",
-#            locals: { array: current_page.data.list,
-#                      type:  "ol" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Split out the DL and UL list types
-# @todo Rename ExtraClasses to classes throughout App
-##

-# Type Default
- if ! locals[ :type ]
    - type = "ul"

-# Capture the List Content
- capture = capture_html do

    -# Check that array is defined
    - if locals[ :array ]

        -# Loop through the array
        - locals[ :array ].each do | list |


            -# DL List Type
            - if type == "dl"

                %dt

                    -# If URL then show link
                    - if list[ :url ]

                        -# Link To
                        = link_to( list[ :url ], { title: string( list[ :text ] ) } ) do
                            = string list[ :title ]

                        -# Just the title
                    - else
                        = string list[ :title ]

                %dd= string list[ :text ]

                -# UL List Type
            - else

                -# Divider
                - if list[ :divider ]

                    %li{ class: "divider", role: list[ :dropdown ] ? "presentation" : false }

                    -# Text is required to show a list
                - elsif list[ :header ]

                    -# List Item
                    %li.dropdown-header{ role: locals[ :dropdown ] ? "presentation" : false }
                        = string list[ :header ]

                    -# Just show a Partial useful for Mega Menus
                - elsif list[ :partial ]

                    = partial "../_lib/#{ list[ :partial ] }"

                    -# Text is required to show a list
                - else

                    -# Active
                    - classes = list[ :active ] ? "active" : ""

                    -# Extra Classes
                    - classes += list[ :extraClass ] ? " #{ list[ :extraClass ] }" : ""

                    -# Status
                    - classes += list[ :status ] ? " #{ list[ :status ] }" : ""

                    -# List Item
                    %li{ class: ! classes.empty?    ? classes        : false,
                         data:  list[ :data ]      ? list[ :data ] : false,
                         ng:    list[ :ng ]        ? list[ :ng ]   : false,
                         ui:    { sref: { active: "active" } },
                         role:  locals[ :dropdown ] ? "presentation" : false }

                        -# If URL is present then show a link
                        - if list[ :link ]

                            -# Link To
                            = link_to( string( list[ :link ][ :url ] ),
                                       { ng:       list[ :link ][ :ng ] ? list[ :link ][ :ng ] : false,
                                         role:     locals[ :dropdown ]   ? "menuitem"            : false,
                                         tabindex: locals[ :dropdown ]   ? "-1"                  : false,
                                         title:    string( list[ :text ] ),
                                         ui:       list[ :link ][ :ui ] ? list[ :link ][ :ui ] : false } ) do

                                -# Icon
                                - if list[ :icon ]
                                    = icon list[ :icon ]

                                - if list[ :text ]
                                    = string list[ :text ]

                            -# No Link Required
                        - else
                            = string list[ :text ]

-# List
-if locals[ :dropdown ]

    -# Classes
    - classes = ""

    -# Dropdown Lists for Buttons of Navbars
    - if locals[ :dropdown ]
        - classes += "dropdown-menu"

    -# Extra Class
    - classes += locals[ :extraClass ] ? " #{ extraClass }" : ""

    - haml_tag type, { aria:  { labelledby: locals[ :dropdown ] ? "dropdownMenu1" : false },
                       class: classes,
                       role:  locals[ :dropdown ] ? "menu" : false } do
        = capture

- else
    = capture