-##
-# Tag Cloud
-#
-# @usage
-# -# Tag Cloud
-# = codeBlender "tag-cloud", "molecule", { name: cp.blogName }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Blog name
- name = locals[ :name ] ? locals[ :name ] : blog_controller.name

-# Variable
- sizeMin   = 80
- sizeMax   = 200
- precision = 0
- unit      = '%'
- threshold = locals[ :threshold ] ? locals[ :threshold ] : 1
- total     = 20

-# Collect the tags
- tagMap = blog( name ).tags.map do | tag, articles |
    - [ tag, articles.count ] if articles.count >= threshold

-# Sort the tags
- tagMap = tagMap.compact.sort_by{ | k, v | v }.reverse[ 0...total ].shuffle

-# Get the minimum, and maximum tag counts
- min, max = tagMap.map( &:last ).minmax

-# Section - Tag Cloud
%section.tagCloud

    -# Heading
    = codeBlender "heading", "molecule", { extraClass: "tagCloud__heading", tag: "h4", text: string( :"tags.title" ) }

    -# Tags
    .tagCloud__tags

        -# Get the weight for each Tag
        - tagMap.each do | tag, count |

            -# Logarithmic distribution
            - weight = ( Math.log( count ) - Math.log( min ) ) / ( Math.log( max ) - Math.log( min ) )

            -# Get percentage size of the Tag
            - size = sprintf( "%.#{ precision }f", sizeMin + ( ( sizeMax - sizeMin ) * weight ).to_f )

            -# Render the Tag
            = link_to( tag_path( tag, name ), class: "tagCloud__tag label label-info", style: "font-size: #{ size }#{ unit }" ) do
                = tag
