-##
-# Sub navigation
-#
-# Create a sub navigation menu based on what is contained within the
-# subnavigation.yaml Script looks for the first word after the domain in the
-# URL and links this to the data
-#
-# @usage
-# -# Sub navigation
-# = codeBlender "subnavigation", "organism"
-#
-# @category organism
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Assign array
- array = []

-# Want to get the current section based on the path
- section = current_page.path.split "/"

-# Create hash
- hash = { title:  section[ 0 ].capitalize,
           url:    "/#{ section[ 0 ] }/#{ section[ 0 ] }.html",
           active: ( "/#{ section[ 0 ] }/#{ section[ 0 ] }.html" == current_page.url ) ? true : false }

-# Push to array
- array.push hash

-# Get folders for link
- folder = Dir.glob( "source/#{ section[ 0 ] }/*/" ).sort

-# Iterate through folder based on navigation link name
- folder.each_with_index do | link, index |

    -# Base name
    - baseName = File.basename( link )

    -# Title
    - title = baseName.gsub( "-", " " ).capitalize

    -# URL
    - url = "/#{ section[ 0 ] }/#{ baseName }/#{ baseName }.html"

    -# Create hash
    - hash = { title:  title,
               url:    url,
               active: ( url == current_page.url ) ? true : false }

    -# Push to array
    - array.push hash

-# Sub navigation
%nav.subNavigation

    -# Navigation list group
    = codeBlender "list-group", "molecule", { array: array }
